<div class="nav-sidebar">
    <div id="page-menu" class="page-menu">
        <ul class="vertical menu">
            <li class="">
                <a class="section-title" href="javascript:void(0)" aria-label="">About UCSC</a>
                <ul class="menu vertical nested">
                    <li><a href="javascript:void(0)" aria-label="">Honors &amp; Awards</a></li>
                    <li>
                        <a class="subsection-title" href="javascript:void(0)">Campus Culture </a>
                        <ul class="menu vertical nested">
                            <li><a href="javascript:void(0)" aria-label="">Diversity</a></li>
                            <li><a href="javascript:void(0)" aria-label="">History</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Colleges</a></li>
                            <li class="is-active">Banana Slug Mascot</li>
                        </ul>
                    </li>
                    
                    <li><a href="javascript:void(0)" aria-label="">Facts &amp; Figures</a></li>
                    <li><a href="javascript:void(0)" aria-label="">Leadership &amp; Organization</a></li>
                    <li><a href="javascript:void(0)" aria-label="">Employment</a></li>
                </ul>
                
            </li>
            
        </ul>
    </div>

</div>

<div class="grid-container hide-for-xlarge">
        <div class="nav-sidebar">

            <div class="page-menu-header" data-responsive-toggle="page-menu" data-hide-for="xlarge">
                <a class="page-menu-trigger button tertiary" data-toggle="page-menu">In This Section</a>
            </div>

            <div id="page-menu" class="page-menu">
                <ul class="vertical menu">
                    <li class="section-title"><a href="javascript:void(0)" aria-label="">About UCSC</a></li>
                    <li><a href="javascript:void(0)" aria-label="">Honors &amp; Awards</a></li>
                    <li>
                        <a class="subsection-title" href="javascript:void(0)">Campus Culture</a>
                        <ul class="menu vertical nested">
                            <li><a href="javascript:void(0)" aria-label="">Diversity</a></li>
                            <li><a href="javascript:void(0)" aria-label="">History</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Colleges</a></li>
                            <li class="is-active">Banana Slug Mascot</li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)" aria-label="">Facts &amp; Figures</a></li>
                    <li><a href="javascript:void(0)" aria-label="">Leadership &amp; Organization</a></li>
                    <li><a href="javascript:void(0)" aria-label="">Employment</a></li>
                </ul>
            </div>

        </div>
    </div>