<div class="nav-section" data-sticky data-top-anchor="main-content:top" data-options="marginTop: 0; stickyOn: small;">
    <div class="grid-container large">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">UCSC Report</li>
                    <li><a href="javascript:void(0)">About the Report</a></li>
                    <li><a href="javascript:void(0)">Submission Guidelines</a></li>
                    <li><a href="javascript:void(0)">Text Format</a></li>
                    <li><a href="javascript:void(0)">Photos</a></li>
                    <li class="has-submenu">
                        <a href="javascript:void(0)">More</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="javascript:void(0)">Additional Link</a></li>
                            <li><a href="javascript:void(0)">Additional Link</a></li>
                            <li><a href="javascript:void(0)">Additional Link</a></li>
                            <li><a href="javascript:void(0)">Additional Link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
