
.path-events {
  .layout-container .layout-center {
    padding-left: 10px;
  }
}
.view-id-event_view.view-display-id-page_1 {
  .view-filters {
    @include exposedForm();
  }

  .event-wrap {
    .content-wrap {
      .title {
        font-size: 2.4rem;
        line-height: 3.2rem;
      }
      .event-link {
        line-height: 1;
        a {
          @include read_more_link($color-orange);
        }
      }
    }
  }
}