.featured-events-grid {
  &.view-display-id-block_3 {
    > .attachment {
      min-height: 21.5rem;
      height: auto;
      margin: 0 0 20px;
      @media (min-width: $screen-md-min) {
        margin-bottom: 0;
      }

      .featured-post-wrap {
        padding: 2rem;
      }
    }


    > .view-content {
      @media (min-width: $screen-md-min) {
        padding-left: 2rem;
      }
      > div {
        @include grid_black_shadow();
        &:first-child {
          margin-bottom: 2rem;
        }
        .featured-post-wrap {
          min-height: 21.5rem;
          position: relative;

          .content-wrap {
            @include grid_absolute_text();
          }
        }
      }
    }

    .featured-event-wrap {
      position: relative;
      .content-wrap {
        margin-left: 0;
        @include grid_absolute_text();
        z-index: 10;
        .title, .featured-title {
          a {
            color: $color-white;
            font-size: 2rem;
            line-height: 1.2;
            text-decoration: none;
          }
        }
        .time, .featured-time {
          margin: 0;
          color: $color-white;
        }
        .featured-body {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
        .link {
          line-height: 1;
          .read-more-link {
            @include read_more_link();
          }
        }
      }
    }
  }
}
