.layout-hero-content {
  position: relative;

  .layout-alerts {
    position: absolute;
    top:  rem-calc(15, 10);
    left: 0;
    right: 0;
  }
}

.layout-container {
  padding-top: 60px;


  // Left Sidebar
  .layout-sidebar-left {

  }

  // Right Sidebar
  .layout-center {

    padding-left: 30px
  }
}

.layout-content-bottom {
  margin-bottom: 60px;
}