.paragraph--type--flexible-bg-image-blocks {
  .cta-image-block-section-title {
    h2.section-title {
      margin: auto;
    }
  }
  .bg-img-col-wrap {
    .bg-img-container {
      height: 100%;

      .content-wrapper {
        height: 100%;
      }
    }
  }
}