.search-title {
  margin-top: 25px;
}
.vb-search-form {
  background: none;
  padding: 0;
  margin-bottom: 35px;
  form {
    .form--inline {
      @media #{$tablet-min}{
        display: flex;
        flex-flow: row wrap;
      }
      .form-type-textfield {
        @media #{$tablet-min} {
          flex: 1;
        }
        .form-text {
          background: $color-grey-lt;
          font-size: 18px;
        }
      }
      .form-actions {
        @media #{$tablet-min}{
          width: 16%;
        }
        .button {
          @media #{$tablet-min}{
            width: 100%;
            padding-left: 5px;
          }
        }
      }
    }
  }
}
.vp-site-search {
  .view-content {
    .views-row {
      margin-bottom: 35px;
      .views-field-title {
        font-size: 24px;
        line-height: 32px;
      }
      .views-field-body {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .pager {
    margin-bottom: 20px;
    ul {
      li {
        &.pager__item--ellipsis {
          display: none;
        }
      }
    }
  }
}

// Search menu block
.search-menu-block {
  display: inline-block;
  background: none;
  position: absolute;
  right: 0;
  padding: 0;
  form {
    .form-type-textfield {
     /* position: relative;*/
      margin: 10px 0;
      padding: 0;
      text-align: left;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        right: 10px;
        top: 5px;
        font-family: $font-awesome;
        z-index: 999;
      }
      label {
        display: none;
      }
      input {
        opacity: 0;
        background: $color-white;
        transition: all 0.5s;
        width: 40px;
        border: 1px solid $color-grey-lt;
        padding: 0 0 0 10px;
        height: 40px;
        border-radius: 40px;
        color: $color-body !important;
        &:focus {
          opacity: 1;
          width: 250px;
        }
      }
    }
    .form-actions {
      display: none;
    }
  }
}