.view-events-calendar {

  .view-header {
    h3 {
      text-align: center;
    }

    nav.pager {
      overflow: hidden;

      ul.js-pager__items {
        overflow: hidden;
        padding: 0;
        margin: 0 0 2rem;

        .pager__item {
          padding: 0;

          a {
            padding: 1.3rem 4rem;
            display: block;
            background: $color-grey-xlt;
            font-size: 1.4rem;
            line-height: 1;
            color: $color-blue;
            font-weight: bold;

            &:hover {
              background: $color-orange;
              color: $color-white;
            }
          }

          &--previous {
            float: left;
          }

          &--next {
            float: right;
          }
        }
      }
    }
  }

  .calendar-calendar {
    table {
      thead th {
        background-color: $color-style-grey;
        font-size: 2rem;
        line-height: 2.4rem;
        color: $color-black;
        padding: 6px;
      }
    }
  }
}