.view-events-calendar {
  padding-bottom: 6rem;

  .view-header {
    h3 {
      text-align: center;
    }
  }

  .calendar-calendar {
    table {
      thead th {
        background-color: $color-style-grey;
        font-size: 2rem;
        line-height: 2.4rem;
        color: $color-black;
        padding: 6px;
      }

      tbody {
        tr {
          td {
            .inner {
              display: block;
              overflow: hidden;
              padding: .5rem 1.2rem;

              .contents {
                font-size: 1.4rem;
                line-height: 1.4rem;

                span.start-date {
                  display: none;
                }

                .event-time {
                  color: $color-blue;
                  font-weight: bold;

                  span.start-date {
                    display: inline-block;
                  }
                }

                .event-content {
                  padding-top: .5rem;
                  color: $color-body;
                  cursor: pointer;
                }
              }
            }

            .day {
              float: left;
              color: $color-black;
              font-size: 3rem;
              line-height: 3rem;
              padding: 0;
              width: auto;
            }

            .single-day {

            }
          }
        }
      }
    }

    ul.popup {
      position: absolute;
      background: $color-white;
      z-index: 12;
      box-shadow: 0 0 1rem $color-black;
      padding: 1.5rem 3.5rem 1.5rem 2.5rem;

      li {
        span.fa-close {
          position: absolute;
          right: 15px;
          top: 10px;
        }
        .event-popup {
          .date {
            color: $color-blue;
            text-align: left;
            font-size: 1.8rem;
            line-height: 1.8rem;
            text-transform: capitalize;
            margin: 0 0 5px;
            .date-wrap {
              position: inherit;
            }
          }
          .content {
            padding: 0;
          }
        }
      }
    }
  }

  // Calendar navigation
  nav.pager {
    overflow: hidden;

    ul.js-pager__items {
      overflow: hidden;
      padding: 0;
      margin: 0 0 2rem;

      .pager__item {
        padding: 0;

        a {
          padding: 1.3rem 4rem;
          display: block;
          background: $color-grey-xlt;
          font-size: 1.4rem;
          line-height: 1;
          color: $color-blue;
          font-weight: bold;

          &:hover {
            background: $color-orange;
            color: $color-white;
          }
        }

        &--previous {
          float: left;
        }

        &--next {
          float: right;
        }
      }
    }
  }

}