// stylelint-disable selector-max-type
// stylelint-disable selector-no-qualifying-type

// Layout
html {
  height: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

// Media
img,
svg {
  display: block;
  max-width: 100%;
}

// Typography
ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

li {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: currentColor;
  letter-spacing: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  color: currentColor;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  appearance: none;
}

blockquote {
  padding: 0;
  margin: 0;
}

hr {
  margin: 0;
  border: 0;
}

cite,
address {
  font-style: normal;
}

input {
  background-color: transparent;
  border: 0;
  outline: none;
  appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

// stylelint-disable declaration-no-important

// plyr related styles
.plyr__control--overlaid {
  background: $cyan !important;
}

.plyr__control--overlaid:hover {
  background: $black !important;
}

.plyr__control--overlaid svg {
  fill: $white !important;
}

.plyr__controls svg {
  fill: $cyan !important;
}

.plyr__controls .plyr__control:hover {
  background: none !important;
}
