---
pageTitle: Meet the Banana Slug
pageClass: gateway-wrapper
type: gateway
---

<div class="hero-viewport inner-page-angle yellow">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-left">
            <div class="angle transparent"></div>
            <div class="gradient-overlay"></div>
            <!-- This hero can always take a video in place of the image. Always provide a backup image for mobile.-->
            <!-- <div class="hero-video">
                <div class="hero-video-container">
                    <div id="muteYouTubeVideoPlayer"></div>
                </div>
            </div> -->
            <img style="position: relative; top: 50%; margin-top: -10%" src="{{root}}assets/img/content/sammygirl.jpg" />
            <div class="hero-text">
                <h1 class="hero-header blue-text">{{pageTitle}}</h1>
                <p class="hero-body">In a world of beavers, bears, and bobcats, UCSC is home to the mighty Banana Slug — which students voted in 1986 to adopt as the official campus mascot.</p>
            </div>
        </div>
    </div>
</div>
    
<div class="page-utilities">
    <div class="grid-container large">
        <div class="grid-x">
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    <li><a href="javascript:void(0)">Home</a></li>
                    <li><a href="javascript:void(0)">About UCSC</a></li>
                    <li><a href="javascript:void(0)">Campus Culture</a></li>
                    <li>
                        <span class="show-for-sr">Current: </span> {{pageTitle}}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div id="main-content" class="page-content">

    <div class="grid-container hide-for-xlarge">
        <div class="nav-sidebar">

            <div class="page-menu-header" data-responsive-toggle="page-menu" data-hide-for="xlarge">
                <a class="page-menu-trigger button tertiary" data-toggle="page-menu">In This Section</a>
            </div>

            <div id="page-menu" class="page-menu">
                <ul class="vertical menu">
                    <li class="section-title"><a href="javascript:void(0)" aria-label="">About UCSC</a></li>
                    <li><a href="javascript:void(0)" aria-label="">Honors &amp; Awards</a></li>
                    <li>
                        <a class="subsection-title" href="javascript:void(0)">Campus Culture</a>
                        <ul class="menu vertical nested">
                            <li><a href="javascript:void(0)" aria-label="">Diversity</a></li>
                            <li><a href="javascript:void(0)" aria-label="">History</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Colleges</a></li>
                            <li class="is-active">Banana Slug Mascot</li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)" aria-label="">Facts &amp; Figures</a></li>
                    <li><a href="javascript:void(0)" aria-label="">Leadership &amp; Organization</a></li>
                    <li><a href="javascript:void(0)" aria-label="">Employment</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="layout-two-column sidebar-left large">
        <div class="wrap">
            <div class="inner">
                <div class="column-main">
                    <h2 class="underline">Meet the Banana Slug</h2>
                    <p class="lead">The Banana Slug, a bright yellow, slimy, shell-less mollusk commonly found on the redwood forest floor, was the unofficial mascot for UC Santa Cruz coed teams since the university's early years. The students' embrace of such a lowly
                        creature was their response to the fierce athletic competition fostered at most American universities.</p>
                    <p>UC Santa Cruz has always offered a wide-ranging physical education and recreation program designed to appeal to the greatest number of students, but it has based its approach on some uncommon ideas: that athletics are for all students,
                        not just team members of major sports; that the most important goal of a collegiate physical education department should be to introduce as many students as possible to lifelong physical activities; and that the joy of participating
                        is more important than winning.</p>
                    <figure class="img-left-50">
                        <img src="{{root}}assets/img/content/slug-2.jpg" alt="">
                        <figcaption>
                            <div class="caption-title"></div>
                            <div class="caption-desc">
                                <p>This heavily bioeroded coral was collected near a submarine groundwater discharge vent off the coast of Maui. (Photo by Nancy Prouty, USGS)</p>
                            </div>
                        </figcaption>
                    </figure>

                    <p>In 1980, when some campus teams wanted more organized yet still low-key participation in extramural competition, UC Santa Cruz joined the NCSS's Division III in five sports. The application required an official team name, and UCSC's
                        chancellor at the time, Robert Sinsheimer, selected a new moniker: the sea lions.</p>
                    <p>While the chancellor considered sea lions more dignified and suitable to serious play than Banana Slugs, the new name did not find favor with the majority of students, who continued to root for the Slugs even after a sea lion was painted
                        in the middle of the basketball floor.</p>
                    <p>After five years of dealing with the two-mascot problem, an overwhelming proslug straw vote by students in 1986 persuaded the chancellor to make the lowly but beloved Banana Slug UCSC's official mascot.</p>
                    <p>The Banana Slug has attracted a good deal of national attention over the years. In 2008, <a class="btn-link" href="http://news.ucsc.edu/2008/02/1933.html">ESPN named it one of the 10 best college basketball mascots</a>. Four years earlier, <em>Reader's Digest</em>                        named it the best. <em>People</em> magazine once dedicated a full-page spread to the Santa Cruz Banana Slug movement. The National Directory of College Athletics named it the best college mascot and <em>Sports Illustrated</em>                        magazine once named the Banana Slug the nation's best college nickname.</p>
                    <p>The <a class="btn-link" href="https://gimletmedia.com/every-little-thing/">"Every Little Thing" podcast</a> devoted the first half of its June 26, 2017 show to the Banana Slug and its history at UCSC after an unwise tossed-off remark in an earlier
                        podcast elicited an uproar of outrage. (Warning, the podcast is <em>very</em> thorough and detailed, providing more than most people would want to know.)</p>
                    <p>The Banana Slug even figured in a court case involving campus mascots. Judge Terence Evans, writing the opinion for the Seventh Circuit Court of Appeals, stated: "We give the best college nickname nod to the University of California,
                        Santa Cruz. Imagine the fear in the hearts of opponents who travel there to face the imaginatively named 'Banana Slugs'?" (Crue et al. v. Aiken, June 1, 2004)</p>

                    <p>Sammy the Slug mascot has been appearing around campus at sports events and other functions. And, when the men's tennis team played in the NCAA championships, their T-shirts read: "Banana Slugs-No Known Predators."</p>
                    <p>In June 2011, <a class="btn-link" href="http://news.ucsc.edu/2011/06/banana-slug-25th-anniversary.html">Sammy celebrated 25 years</a> as the official mascot of UC Santa Cruz. The Santa Cruz City Council declared Sept. 27, 2011 the official <a class="btn-link" href="https://news.ucsc.edu/2011/09/Sammy-official-banana-slug-day.html">"Day of the UC Santa Cruz Banana Slug."</a></p>

                    <div class="last-mod-date">Last Modified: November 28, 2018</div>
                </div>

                <div class="column-support">

                    <div class="show-for-xlarge">
                        <div class="nav-sidebar">

                           <div id="page-menu" class="page-menu">
                                <ul class="vertical menu">
                                    <li class="">
                                        <a class="section-title" href="javascript:void(0)" aria-label="">About UCSC</a>
                                        <ul class="menu vertical nested">
                                            <li><a href="javascript:void(0)" aria-label="">Honors &amp; Awards</a></li>
                                            <li>
                                                <a class="subsection-title" href="javascript:void(0)">Campus Culture </a>
                                                <ul class="menu vertical nested">
                                                    <li><a href="javascript:void(0)" aria-label="">Diversity</a></li>
                                                    <li><a href="javascript:void(0)" aria-label="">History</a></li>
                                                    <li><a href="javascript:void(0)" aria-label="">Colleges</a></li>
                                                    <li class="is-active">Banana Slug Mascot</li>
                                                </ul>
                                            </li>
                                            
                                            <li><a href="javascript:void(0)" aria-label="">Facts &amp; Figures</a></li>
                                            <li><a href="javascript:void(0)" aria-label="">Leadership &amp; Organization</a></li>
                                            <li><a href="javascript:void(0)" aria-label="">Employment</a></li>
                                        </ul>
                                        
                                    </li>
                                    
                                </ul>
                            </div>

                        </div>

                    </div>

                    <div class="sidebar-nav">
                        <h4>Related Content</h4>
                        <ul class="menu vertical">
                            <li><a href="javascript:void(0)">Slug Wear (Bay Tree Bookstore)</a></li>
                            <li><a href="javascript:void(0)">Slug Sports</a></li>
                            <li><a href="javascript:void(0)">'Every Little Thing' June 26, 2017 podcast on the Banana Slug</a></li>
                            <li><a href="javascript:void(0)">Office of Physical Education, Recreation and Sports (OPERS)</a></li>
                            <li><a href="javascript:void(0)">KQED—Banana Slugs: Secret of the Slime</a></li>
                        </ul>
                    </div>


                </div>


            </div>

        </div>


    </div>

    <div class="grid-container large">
        <div class="callout alert">
            <p><strong>Page Zone:</strong> This page zone will allow full width components.</p>
            <p>An example would be list/grid view of upcomping events related to the subject matter of this page.</p>
        </div>
    </div>
</div>



<script async src="https://www.youtube.com/iframe_api"></script>

<script>
    function onYouTubeIframeAPIReady() {
        var player;
        player = new YT.Player('muteYouTubeVideoPlayer', {
            videoId: 'mHvCQSGanJg', // YouTube Video ID
            playerVars: {
                autoplay: 1, // Auto-play the video on load
                controls: 0, // Show pause/play buttons in player
                showinfo: 0, // Hide the video title
                modestbranding: 1, // Hide the Youtube Logo
                loop: 1, // Run the video in a loop
                fs: 0, // Hide the full screen button
                cc_load_policy: 0, // Hide closed captions
                iv_load_policy: 3, // Hide the Video Annotations
                autohide: 0, // Hide video controls when playing
                rel: 0
            },
            events: {
                onReady: function(e) {
                    e.target.mute();
                    $("#muteYouTubeVideoPlayer").removeAttr("height").removeAttr("width");
                }
            }
        });

    }
</script>
