---
pageTitle: UC Santa Cruz
pageClass: gateway-wrapper
type: gateway
---
<div class="hero-viewport inner-page-angle wave-pattern secondary-blue">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-left">
            <div class="angle transparent"></div>
            <div class="gradient-overlay"></div>
            
            <img src="{{root}}assets/img/content/feminist-hero.jpg" />
            <div class="hero-text">
                <h1 class="hero-header">Welcome to the program template</h1>
                <p class="hero-body">With over 100 declared and 42 proposed majors and course offerings that reach more than 2,000 students
                        annually, the Feminist Studies Department at UC Santa Cruz is one of largest departments focused on
                        gender and sexuality studies in the U.S.</p>
            </div>
        </div>
    </div>
</div>
 
<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Academics</a></li>
                <li><a href="javascript:void(0)">Programs &amp; Majors</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> This Program
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="page-content" id="main-content">
    <div class="layout-two-column large">
        <div class="wrap">
            <div class="inner">
                <div class="column-main">
                    
                        <h2>This Program</h2>
                        <p class="lead">Feminist studies is an interdisciplinary field of analysis that investigates how relations of gender are embedded in social, political, and cultural formations. The undergraduate program in feminist studies provides students with a unique interdisciplinary and transnational perspective. The department emphasizes theories and practices derived from multiracial and multicultural contexts.</p>

                        <p>With over 100&nbsp;declared and 42 proposed majors and course offerings that reach more than 2,000 students annually, the Feminist Studies Department at UC Santa Cruz is one of largest departments focused on gender and sexuality studies in the U.S. Founded as Women's Studies in 1974, it has contributed to the development of internationally recognized feminist scholarship and is one of the oldest and most well-regarded departments in the world. The major in feminist studies offers opportunities to pursue careers in fields such as law, social services, public policy, health care, and higher education. Feminist studies also encourages community service through faculty-sponsored internships and a mutually supportive and collaborative teaching and learning environment.</p>
                        <div class="upper-divider">
                        <ul class="tabs" data-responsive-accordion-tabs="tabs small-accordion xlarge-tabs" data-allow-all-closed="true" id="example-tabs">
                    
                            <li class="tabs-title" data-accordion-item>
                                <a href="#panel1">Study and Research Opportunities</a>
                            </li>
                            <li class="tabs-title" data-accordion-item>
                                <a href="#panel2">Information For First-Year Students</a>
                            </li>
                            <li class="tabs-title" data-accordion-item>
                                <a href="#panel3">Information For Transfers</a>
                            </li>
                            <li class="tabs-title" data-accordion-item>
                                <a href="#panel4">Careers</a>
                            </li>
                            <li class="tabs-title" data-accordion-item>
                                <a href="#panel5">Education Abroad Program</a>
                            </li>
                            <li class="tabs-title" data-accordion-item>
                                <a href="#panel6">Alumni Focus</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tabs-content" data-tabs-content="example-tabs">

                         <div class="tabs-panel" id="panel1">

                            <h3>Study and Research Opportunities</h3>
                            <p>As closely working interdisciplinary scholars who support feminist research and teaching in our department and across campus, the Feminist Studies faculty is at the forefront of key debates in feminist philosophy and epistemologies, critical race and ethnic studies, immigration, transgender studies, incarceration, science and technology, human rights and sex trafficking discourses, postcolonial and decolonial theory, media and representation, social justice, and history. Our Affiliated Faculty teach courses across campus that are integral to our major. The undergraduate program offers thematic pathways to facilitate focused courses of study in: culture, power, and representation; law; science, technology, and medicine; and sexuality studies.</p>

                        </div>

                        <div class="tabs-panel" id="panel2">

                            <h3>Information For First-Year Students</h3>
                            <p>High school students planning to major in feminist studies at UC Santa Cruz need no special preparation other than the high school courses necessary for UC admission.</p>

                        </div>

                        <div class="tabs-panel" id="panel3">

                            <h3>Information For Transfers</h3>
                            <p>Transfer students are&nbsp;encouraged&nbsp;to meet with&nbsp;the&nbsp;feminist studies&nbsp;academic advisor to evaluate prior coursework for transfer.</p>

                            <p>While it is not a condition of admission, transfer students will find it useful to complete the Intersegmental General Education Transfer Curriculum (IGETC) in preparation for transfer to UC Santa Cruz. Transfer course agreements and articulation between the University of California and California community colleges can be accessed on the&nbsp;<a href="http://www.assist.org/">ASSIST.ORG</a>&nbsp;website.</p>

                        </div>

                        <div class="tabs-panel" id="panel4">

                            <h3>Careers</h3>
                            <p>Feminist studies alumni go on to study and work in a myriad of fields including law, education, activism, public service, filmmaking, medical fields, and much more. Please check out our Feminist Studies Alumni page to learn what our majors are doing after graduating!</p>

                        </div>

                        <div class="tabs-panel" id="panel5">

                            <h3>Education Abroad Program</h3>
                            <p>We encourage&nbsp;our students to study abroad. This exposure to transnational feminism broadens and deepens students'&nbsp;experience and understanding of feminism. Students may also make degree progress while studying abroad. Up to two courses completed abroad may be applied to the feminist studies major&nbsp;requirements. The <a href="http://eap.ucop.edu/Pages/index-new.html">UC Education Abroad Program (EAP)</a> offers students an opportunity to study abroad in over 43&nbsp;countries with over 300 program options.</p>

                        </div>

                        <div class="tabs-panel" id="panel6">
                            <h3>Alumni Focus</h3>
                            <p>Check out what <a href="http://feministstudies.ucsc.edu/news-events/alum-news/index.html">Feminist
                                    Studies Alumni</a> are up to!</p>
                        </div>

                    </div>
                    
               
                </div>
                <div class="column-support">
                    <div class="content-block">
                        <p>University of California, Santa Cruz<br>
                            1156 High Street<br>
                            Santa Cruz, CA 95064<br>
                            <a href="mailto:aeickelb@ucsc.edu">aeickelb@ucsc.edu</a>
                        </p>

                        <a class="btn-link" href="http://registrar.ucsc.edu/catalog/programs-courses/program-statements/fmst.html">General Catalog Information</a>
                       
                        <br><br>
                        <a class="button secondary expanded" href="feministstudies.ucsc.edu">Feminist Studies Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>