---
pageTitle: UC Santa Cruz
pageClass: gateway-wrapper
type: gateway
---

<div class="hero-viewport blue">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-right">
            <div class="gradient-overlay"></div>
            <img src="{{root}}assets/img/content/hero-large-test.jpg" />
            <a href="javascript:void(0)" class="hero-link">
                <div class="angle transparent wow"></div>
                <div class="hero-text">
                    <div class="category">UC Santa Cruz</div>
                    <h1 class="hero-header yellow-text">A Perspective Like No Other</h1>
                    <p class="hero-body">UC Santa Cruz is a public university like no other in California, combining the intimacy of a small, liberal arts college with the depth and rigor of a major research university.</p>
                </div>
            </a>
            
        </div>
    </div>
</div>

<div class="grid-container large">
    <div class="button-list">
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text">Find Your <strong class="blue-text">Major</strong></span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text">Hang Out With Us on <strong class="green-text">Instagram</strong></span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text"><strong class="pink-text">Engage</strong> With UCSC</span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text"><strong class="seagreen-text">Start</strong> Your Application</span>
        </a>
    </div>
</div>
 
<!-- NEWS-->
<div class="page-content pb-0" id="main-content" >
    <div class="grid-container large">
        <a class="news-card" href="javascript:void(0)" aria-label="">
            <div class="image">
                <img src="{{root}}assets/img/content/news-featured-image-1.jpeg" />
            </div>
            <div class="news-card-content">
                <div class="category btn-link">Horticulture</div>
                <div class="underline">
                    <h4>Diverse scents of woodland star wildflowers driven by coevolution with pollinators</h4>
                    <div class="tags">February 11, 2019</div>
                </div>
                <p>Scientists find surprising diversity of floral scent compounds
                    produced by different species of woodland stars and even by populations of the same species
                    in different locations.</p>
            </div>
        </a>
            
        <div class="news-card-list">
            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-image-1.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Arts &amp; Sciences</div>
                    <div class="underline">
                        <h4>Guillermo Gómez-Peña returns to UCSC to perform his latest solo work:
                        &quot;The Most (un) Documented Mexican Artist&quot;</h4>
                        <div class="tags">February 11, 2019</div>
                    </div>
                    <p>Internationally renowned artist Guillermo Gómez-Peña returns to UC Santa
                        Cruz on March 5 to perform his latest solo work, &quot;The Most (un) Documented Mexican Artist,&quot;
                        at the Theater Arts Second Stage, beginning at 7 p.m.</p>
                </div>
            </a>

            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-image-2.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Arts &amp; Sciences</div>
                    <div class="underline">
                        <h4>UCSC to bring art/science LASER series downtown for special evening at Rio Theater</h4>
                        <div class="tags">February 24, 2019</div>
                    </div>
                    <p>Internationally renowned artist Guillermo Gómez-Peña returns to UC Santa
                        Cruz on March 5 to perform his latest solo work, &quot;The Most (un) Documented Mexican Artist,&quot'
                        at the Theater Arts Second Stage, beginning at 7 p.m.</p>
                        
                </div>
            </a>
        
            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-image-3.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Arts &amp; Sciences</div>
                    <div class="underline">
                        <h4>Borderbus: A community conversation about migration, art, and social justice</h4>
                        <div class="tags">March 1, 2019</div>
                    </div>
                    <p>Former U.S. poet laureate Juan Felipe Herrera will appear in conversation with book artist and UCSC alumna Felicia Rice on March 6, at the Museum of Art
                        and History in downtown Santa Cruz.</p>
                        
                </div>
            </a>    
        </div>
    </div>
    <div class="more">
        <a class="button primary" href="javascript:void(0)">
            <span>See More News</span>
        </a>
    </div>

    <section class="heading" id="gallery-description">
        <h2 class="underline">Around the University </h2>
    </section>

    <div class="everything">
        {{> everything-grid }}
    </div>

    <section class="heading" id="gallery-description">
        <h2 class="underline">Events</h2>
    </section>

    <div class="grid-container large">
        <div class="events-card-list">
        
            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Feb</div>
                        <div class="day">20</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-1.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header underline">February Kraw Lecture with Angela Brooks</h4>
                            <p class="event-description">Brooks, an expert in the analysis of RNA sequencing data, is studying the role of RNA splicing aberrations in cancer.</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>

            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Feb</div>
                        <div class="day">20</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-2.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header underline">International Women's Day: Celebrating Feminist Scholarship from the Americas</h4>
                            <p class="event-description">The Research Center for the Americas invites
                                    you to join us as we celebrate International Women's Day with book talks by two
                                    leading feminist scholars.</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Thursday, February 28 at 1:30pm to 5:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> Merrill Cultural Center
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>

            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Mar</div>
                        <div class="day">8</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-3.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header underline">Grad Slam - 3 Minute Thesis Challenge</h4>
                            <p class="event-description">UCSC graduate students spend years on their
                                    theses and dissertations. Can they explain their research in three minutes? Join us
                                    and find out!</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Friday, March 8 at 5:30pm to 8:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> Kuumbwa Jazz Center
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>
        </div>
    </div>
    <div class="more">
        <a class="button primary">
            <span>See More Events</span>
        </a>
    </div>

    <section class="content-w-media right haltered">

        <div class="grid-container large">
            <div class="inner wow">

                <div class="content">
                    <h2 class="underline">Academic Divisions</h2>
                    <p>Looking for a specific division, undergraduate major, or graduate program?</p>
                    <div class="content-foot-links">
                        <a href="javascript:void(0)" class="btn-link">Start Here</a>
                    </div>
                </div>

                <div class="media">
                    <img src="{{root}}assets/img/content/divisions-small.jpg" />
                </div>

            </div>
        </div>

    </section>

    <section class="content-w-media left wave-pattern haltered blue mb-0 pb-50">

        <div class="grid-container large">
            <div class="inner">

                <div class="content">
                    <div class="underline">
                        <h2>The Colleges</h2>
                        <h5 class="subheader">Ten Colleges = One University</h5>
                    </div>
                    <p>UCSC residential learning colleges provide students with academic support, activities, and events
                        that enhance the intellectual and social life of the campus.</p>

                    <div class="content-foot-links">
                        <a class="btn-link" href="javascript:void(0)">Communities of Learning</a>
                        <a class="btn-link" href="javascript:void(0)">See the Colleges</a>
                    </div>
                </div>
                
                <div class="media">
                    <img src="{{root}}assets/img/content/colleges-small.jpg" />
                </div>

            </div>
        </div>

    </section>
</div>

<div class="ribbon show-for-large">
    <figure>
        <div class="img-mask">
            <img src="{{root}}assets/img/content/ribbon-perspective.jpg" alt="" />
        </div>
        <figcaption>
            <h2>A Perspective Like No Other</h2>
            <a class="button primary" href="javascript:void(0)">
                <span>Start Your Journey</span>
            </a>
        </figcaption>
    </figure>
</div>