---
pageTitle: UC Santa Cruz
pageClass: gateway-wrapper
type: gateway
---
<div class="search-bar">
    <div class="grid-container large">
        <form>
            <div class="input-group">
                <input class="input-group-field" type="search" placeholder="Type to search the directory..." value="Type to search the directory...">
                <div class="input-group-button">
                    <a class="button secondary" href="javascript:void(0)"><i class="fas fa-search"></i> <span class="show-for-large">Search</span></a>
                </div>
                
            </div>
        </form>
    </div>
</div>
<div id="main-content" class="page-content">
    <div class="grid-container large">
        <div class="grid-x grid-margin-x">
            <div class="medium-6 cell">
                <label>
                    <select>
                        <option selected="" value="">All categories</option>
                        <option value="">College</option>
                        <option value="">Major</option>
                        <option value="">Department</option>
                        <option value="">Minor</option>
                        <option value="">Staff</option>
                        <option value="">Faculty</option>
                    </select>
                </label>
            </div>
            <div class="medium-6 cell">
                <label>
                    <select>
                        <option selected="" value="">All audiences</option>
                        <option value="">Current Students</option>
                        <option value="">Alumni</option>
                        <option value="">Staff</option>
                        <option value="">Parents</option>
                    </select>
                </label>
            </div>
        </div>

        <div class="nav-alpha">
            <div class="sticky">
                
                <ul class="menu expanded" data-magellan data-deep-linking="true">
                    <li><a class="button secondary" href="#a" data-smooth-scroll>A</a></li>
                    <li><a class="button secondary" href="#b" data-smooth-scroll>B</a></li>
                    <li><a class="button secondary" href="#c" data-smooth-scroll>C</a></li>
                    <li><a class="button secondary" href="#d" data-smooth-scroll>D</a></li>
                    <li><a class="button secondary" href="#e" data-smooth-scroll>E</a></li>
                    <li><a class="button secondary" href="#f" data-smooth-scroll>F</a></li>
                    <li><a class="button secondary" href="#g" data-smooth-scroll>G</a></li>
                    <li><a class="button secondary" href="#h" data-smooth-scroll>H</a></li>
                    <li><a class="button secondary" href="#i" data-smooth-scroll>I</a></li>
                    <li><a class="button secondary" href="#j" data-smooth-scroll>J</a></li>
                    <li><a class="button secondary" href="#k" data-smooth-scroll>K</a></li>
                    <li><a class="button secondary" href="#l" data-smooth-scroll>L</a></li>
                    <li><a class="button secondary" href="#m" data-smooth-scroll>M</a></li>
                    <li><a class="button secondary" href="#n" data-smooth-scroll>N</a></li>
                    <li><a class="button secondary" href="#o" data-smooth-scroll>O</a></li>
                    <li><a class="button secondary" href="#p" data-smooth-scroll>P</a></li>
                    <li><a class="button secondary" href="#q" data-smooth-scroll>Q</a></li>
                    <li><a class="button secondary" href="#r" data-smooth-scroll>R</a></li>
                    <li><a class="button secondary" href="#s" data-smooth-scroll>S</a></li>
                    <li><a class="button secondary" href="#t" data-smooth-scroll>T</a></li>
                    <li><a class="button secondary" href="#u" data-smooth-scroll>U</a></li>
                    <li><a class="button secondary menu-text" href="#v" data-smooth-scroll>V</a></li>
                    <li><a class="button secondary" href="#w" data-smooth-scroll>W</a></li>
                    <li><a class="button secondary" href="#x" data-smooth-scroll>X</a></li>
                    <li><a class="button secondary menu-text" href="#y" data-smooth-scroll>Y</a></li>
                    <li><a class="button secondary" href="#z" data-smooth-scroll>Z</a></li>
                    <li><a class="button secondary" href="#numeric" data-smooth-scroll>#</a></li>
                </ul>
                
            </div>
        </div>

        <div class="alpha-list">

            <div id="a" data-magellan-target="a" class="letter-group">

                <div class="letter">A</div>

                <div class="letter-results">

                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Academic Advising</a></div>
                        <div class="letter-category">Category</div>
                    </div>

                </div>

            </div>

            <div id="b" data-magellan-target="b" class="letter-group">
                <div class="letter">B</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="c" data-magellan-target="c" class="letter-group">
                <div class="letter">C</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="d" data-magellan-target="d" class="letter-group">
                <div class="letter">D</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="e" data-magellan-target="e" class="letter-group">
                <div class="letter">E</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="f" data-magellan-target="f" class="letter-group">
                <div class="letter">F</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="g" data-magellan-target="g" class="letter-group">
                <div class="letter">G</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="h" data-magellan-target="h" class="letter-group">
                <div class="letter">H</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="i" data-magellan-target="i" class="letter-group">
                <div class="letter">I</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="j" data-magellan-target="j" class="letter-group">
                <div class="letter">J</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="k" data-magellan-target="k" class="letter-group">
                <div class="letter">K</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="l" data-magellan-target="l" class="letter-group">
                <div class="letter">L</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="m" data-magellan-target="m" class="letter-group">
                <div class="letter">M</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="n" data-magellan-target="n" class="letter-group">
                <div class="letter">N</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="o" data-magellan-target="o" class="letter-group">
                <div class="letter">O</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="p" data-magellan-target="p" class="letter-group">
                <div class="letter">P</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="q" data-magellan-target="q" class="letter-group">
                <div class="letter">Q</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="r" data-magellan-target="r" class="letter-group">
                <div class="letter">R</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="s" data-magellan-target="s" class="letter-group">
                <div class="letter">S</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="t" data-magellan-target="t" class="letter-group">
                <div class="letter">T</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="u" data-magellan-target="u" class="letter-group">
                <div class="letter">U</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="w" data-magellan-target="y" class="letter-group">
                <div class="letter">W</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="x" data-magellan-target="x" class="letter-group">
                <div class="letter">X</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="z" data-magellan-target="z" class="letter-group">
                <div class="letter">Z</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">Name</a></div>
                    </div>
                </div>
            </div>

            <div id="numeric" data-magellan-target="z" class="letter-group">
                <div class="letter">#</div>
                <div class="letter-results">
                    <div class="letter-result">
                        <div class="letter-result-title"><a href="javascript:void(0)">123 Name</a></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


