---
pageTitle: UC Santa Cruz
pageClass: gateway-wrapper
type: gateway
---
<div class="hero-viewport inner-page-angle blue">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-left">
            <div class="angle transparent"></div>
            <div class="gradient-overlay"></div>

            <img src="{{root}}assets/img/content/ucsc.jpg" />
            <div class="hero-text">
                <h1 class="hero-header">We are the Banana Slugs!</h1>
                <p class="hero-body">UC Santa Cruz participated in As Schools Match wits this past summer and there was
                    plenty to talk about. Check out peoples reaction on social media!</p>
                <a class="button clear white-text" data-smooth-scroll href="#social-media">Explore</a>
            </div>
        </div>
    </div>
</div>

<div id="social-media" style="padding-top: 5rem">
        <!-- You can place a stationary background image -->
        <!--<div class="social-wall-bg" style="background-image: url(https://placehold.it/1800x1200/eeeeee/cccccc/?text=Social+Post+BG+Image)"></div>-->
        <section class="content-centered" style="padding: 0;">
            <div class="grid-container">
                <section class="heading">
                    <h2 class="underline mb-0">This is UC Santa Cruz</h2>
                </section>
        
                <!--<p class="lead">
                    UC Santa Cruz participated in As Schools Match wits this past summer and there was plenty to talk about. Check out peoples reaction on social media!</p> -->
                <div class="filter-controls">
                    <a class="filter-control" data-toggle="filter-category" aria-label="View category filters">Filter Posts <i class="fas fa-angle-down"></i></a>
                </div>
                <p class="lead">UC Santa Cruz is a public university like no other in California, combining the intimacy of a small, liberal arts college with the depth and rigor of a major research university.</p>
                <br><br>
                <div class="filter-box" id="filter-category" data-toggler data-animate="fade-in fade-out">
                    <a href="javascript:void(0)" class="close-modal" data-toggle="filter-category">
                        <i class="fas fa-close"></i>
                    </a>
                    <ul class="menu-list">
                        <li><a href="javascript:void(0)" aria-label="">All Posts</a></li>
                        <li><a href="javascript:void(0)" aria-label="">Photos</a></li>
                        <li><a href="javascript:void(0)" aria-label="">Videos</a></li>
                        <li><a href="javascript:void(0)" aria-label="">Facebook</a></li>
                        <li><a href="javascript:void(0)" aria-label="">Twitter</a></li>
                        <li><a href="javascript:void(0)" aria-label="">Instagram</a></li>
                        <li><a href="javascript:void(0)" aria-label="" >Pinterest</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="social-wall">
            <div class="grid-container large">
                <div class="social-posts">

                    <div class="grid-sizer"></div>
                    
                    <div class="featured social-post">
                        <div class="video-post">
                            <a href="https://www.youtube.com/watch?v=2nfYTyUnfM0" target="_blank">
                                <div class="cube-content">
                                    <div class="content">
                                        <div class="category white-text">
                                            Video Spotlight
                                        </div>
                                        <h3 class="white-text">A special look at what makes UC Santa Cruz such a unique place to live and learn.</h3>
                                        <i class="far fa-play-circle fa-3x white-text"></i>
                                    </div>
                                </div>
                                <div class="image">
                                    <img src="{{root}}assets/img/content/socialwall-video-3.jpg" />
                                </div>
                                <div class="cube-actions youtube-post">
                                    <div class="action">
                                        <h3 class="light">Watch it on <strong>YouTube</strong></h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="social-post">
                        <div class="facebook-channel social-channel">
                            <a href="https://www.facebook.com/ucsantacruz" target="_blank">
                                <div class="cube-content"></div>
                                <div class="cube-actions facebook-post">
                                    <div class="action">
                                        <h3 class="light">Find us on <strong>Facebook</strong></h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="social-post">
                        <div class="facebook-post">
                            <a href="https://www.facebook.com/pg/ucsantacruz/posts/" target="_blank">
                                <div class="cube-content">
                                    <div class="cube-mask">
                                        <i class="fab fa-facebook fa-2x white-text"></i>
                                        <div class="image">
                                            <img src="{{root}}assets/img/content/socialwall-facebook-1.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="cube-actions facebook-post">
                                    <div class="action"><h3 class="light">Follow us on <strong>Facebook</strong</h3></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="social-post">
                        <div class="facebook-post">
                            <a href="https://www.facebook.com/pg/ucsantacruz/posts/" target="_blank">
                                <div class="cube-content">
                                    <div class="cube-mask">
                                        <i class="fab fa-facebook fa-2x circle-icon white-text"></i>
                                        
                                        <div class="image">
                                            <img src="{{root}}assets/img/content/social-facebook-1.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="cube-actions facebook-post">
                                    <div class="action">
                                        <p>Congratulations to all of our newly admitted Slugs! We can't wait to see you in the fall. #Yes2UCSC</p>
                                        <h3 class="light">View on <strong>Facebook</strong</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="social-post">
                        <div class="twitter-post">
                            <a href="http://bit.ly/2EaPXCn" target="_blank">
                                <div class="cube-content">
                                    <div class="cube-mask">
                                        <i class="fab fa-twitter fa-2x white-text"></i>

                                        <div class="image">
                                            <img src="{{root}}assets/img/content/everythingwall-twitter.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="cube-actions twitter-post">
                                     <div class="action">
                                        <p>This quarter's Living Writers Series will be dedicated to celebration of literature by UC Santa Cruz professor Karen Yamashita. @UCSCTHI</p>
                                        <h3 class="light">Read on <strong></strong>Twitter</strong</h3>
                                    </div>
                                    
                                </div>
                                
                            </a>
                        </div>
                    </div>

                    <div class="social-post">
                        <div class="instagram-post">
                            <a href="https://www.instagram.com/p/BuFOINIBZ9z/" target="_blank">
                                <div class="cube-content">
                                    <div class="cube-mask">
                                        <i class="fab fa-instagram fa-2x white-text"></i>
                                        
                                        <div class="image">
                                            <img src="{{root}}assets/img/content/socialwall-instagram-2.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="cube-actions instagram-post">
                                    <div class="action"><h3 class="light">See on <strong></strong>Instagram</strong</h3></div>
                                </div>
                                
                            </a>
                        </div>
                    </div>

                    <div class="social-post">
                            <div class="twitter-post">
                                <a href="http://bit.ly/2EaPXCn" target="_blank">
                                    <div class="cube-content">
                                        <div class="cube-mask">
                                            <i class="fab fa-twitter fa-2x circle-icon"></i>
                                        
                                            <div class="image">
                                                <img src="{{root}}assets/img/content/socialwall-twitter-2.jpg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cube-actions twitter-post">
                                        <div class="action">
                                            <p>How did seals first take the evolutionary dive into the oceans more than 30 million years ago? Research led by UC Santa Cruz biologist Sarah Kienle say a particular biting style helped the marine mammals’ ancestors move into the oceans. via: @nytimes</p>
                                            <h3 class="light">Read on <strong></strong>Twitter</strong</h3>
                                        </div>
                                    </div>
                                    
                                </a>
                            </div>
                        </div>
                    
                    <div class="social-post">
                            <div class="instagram-post">
                                <a href="https://www.instagram.com/p/BuFOINIBZ9z/" target="_blank">
                                    <div class="cube-content">
                                        <div class="cube-mask">
                                            <i class="fab fa-instagram fa-2x circle-icon"></i>
                                            <div class="image">
                                                <img src="{{root}}assets/img/content/socialwall-instagram-1.jpg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cube-actions instagram-post">
                                        <div class="action"><h3 class="light">See on <strong></strong>Instagram</strong</h3></div>
                                    </div>
                                    
                                </a>
                            </div>
                    </div>

                    <div class="social-post">
                        <div class="youtube-post">
                            <a href="https://www.youtube.com/watch?v=Aq1D6mXkraU" target="_blank">
                                <div class="cube-content">
                                    <div class="cube-mask">
                                        <i class="fab fa-youtube fa-2x circle-icon"></i>
                                                   
                                        <div class="image">
                                            <img src="{{root}}assets/img/content/socialwall-video-2.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="cube-actions youtube-post">
                                    <div class="action">
                                        <h5>Young people from Watsonville are learning the basics of broadcasting and publishing their own podcasts thanks to a unique partnership between UC Santa Cruz's Research Center for the Americas, KZSC, and Digital NEST.</h5>
                                        <h3 class="light">Watch on <strong></strong>YouTube</strong</h3>
                                    </div>
                                </div>
                                
                            </a>
                        </div>
                    </div>
                    
                    <div class="social-post">
                        <div class="twitter-channel social-channel">
                            <a href="https://twitter.com/ucsc" target="_blank">
                                <div class="cube-content"></div>
                                <div class="cube-actions twitter-post">
                                    <div class="action"><h3 class="light">Follow us on <strong>Twitter</strong></h3></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="social-post">
                        <div class="instagram-post">
                            <a href="https://www.instagram.com/p/BuFOINIBZ9z/" target="_blank">
                                <div class="cube-content">
                                    <div class="cube-mask">
                                        <i class="fab fa-instagram fa-2x circle-icon"></i>
                                        <div class="image">
                                            <img src="{{root}}assets/img/content/socialwall-instagram-3.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="cube-actions instagram-post">
                                    <div class="action"><h3 class="light">See on <strong></strong>Instagram</strong</h3></div>
                                </div>
                                
                            </a>
                        </div>
                </div>

                <div class="social-post">
                    <div class="instagram-post">
                        <a href="https://www.instagram.com/p/BuFOINIBZ9z/" target="_blank">
                            <div class="cube-content">
                                <div class="cube-mask">
                                    <i class="fab fa-instagram fa-2x circle-icon"></i>
                                    <div class="image">
                                        <img src="{{root}}assets/img/content/socialwall-instagram-4.jpg" />
                                    </div>
                                </div>
                            </div>
                            <div class="cube-actions instagram-post">
                                <div class="action"><h3 class="light">See on <strong></strong>Instagram</strong</h3></div>
                            </div>
                            
                        </a>
                    </div>
            </div>

                    <div class="social-post">
                        <div class="instagram-channel social-channel">
                            <a href="https://www.instagram.com/ucsc/" target="_blank">
                                <div class="cube-content"></div>
                                <div class="cube-actions instagram-post">
                                    <div class="action"><h3 class="light">See us on <strong>Instagram</strong></h3></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="social-post">
                        <div class="instagram-post">
                            <a href="https://www.instagram.com/p/BuFOINIBZ9z/" target="_blank">
                                <div class="cube-content">
                                    <div class="cube-mask">
                                        <i class="fab fa-instagram fa-2x circle-icon"></i>
                                        <div class="image">
                                            <img src="{{root}}assets/img/content/socialwall-instagram-5.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="cube-actions instagram-post">
                                    <div class="action">
                                        <h3 class="light">See on <strong></strong>Instagram</strong</h3>
                                    </div>
                                </div>
                                
                            </a>
                        </div>
                </div>
                    
                    <div class="social-post">
                        <div class="youtube-channel social-channel">
                            <a href="https://www.youtube.com/ucsantacruz" target="_blank">
                                <div class="cube-content"></div>
                                <div class="cube-actions youtube-post">
                                    <div class="action"><h3 class="light">Subscribe to us on <strong>YouTube</strong></h3></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
