---
pageTitle: UC Santa Cruz
pageClass: gateway-wrapper
type: gateway
---

<div id="main-content">
    <div class="hero-viewport inner-page-angle">
        <div class="hero-container">
            <div id="hero" class="hero hero-text-left">
                <div class="angle transparent"></div>
                <div class="gradient-overlay"></div>
    
                <img src="{{root}}assets/img/content/ucsc.jpg" />
                <div class="hero-text">
                    <h1 class="hero-header">Hero Headline</h1>
                    <p class="hero-body">UC Santa Cruz participated in As Schools Match wits this past summer and there was
                        plenty to talk about. Check out peoples reaction on social media!</p>
                </div>
            </div>
        </div>
    </div>
    <section class="content-w-media left wave-pattern haltered blue mb-0 pb-50">
        <div class="grid-container large">
            <div class="inner">
                <div class="content">
                    <h2 class="underline">The Colleges</h2>
                    <h5 style="font-weight: 500">Ten Colleges = One University</h5>
                    <p>UCSC residential learning colleges provide students with academic support, activities, and events
                        that enhance the intellectual and social life of the campus.</p>
    
                    <div class="content-foot-links">
                        <a class="button primary small" href="javascript:void(0)">Communities of Learning</a>
                        <a class="button primary small" href="javascript:void(0)">See the Colleges</a>
                    </div>
                </div>
            
                <div class="media">
                    <img src="{{root}}assets/img/content/colleges-small.jpg" />
                </div>
    
            </div>
        </div>
    </section>
</div>
