---
layout: subsite-default
pageTitle: Newscenter
pageClass: subsite-wrapper
type: subsite
pageName: news
---

<div class="page-utilities">
    <div class="grid-container large">
        <div class="grid-x">
            <div class="cell">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="javascript:void(0)">Newscenter Home</a></li>
                        <li>
                            <span class="show-for-sr">Current: </span> 2019
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="page-content" id="main-content">
    
        <div class="grid-container large">
            <section class="heading">
                <h2 class="underline mb-0">2019 News Archive</h2>
            </section>
            <div class="filter-controls text-center">
                <a class="filter-control" data-toggle="filter-category">All Categories <i class="fas fa-angle-down"></i></a>
                <a class="filter-control" data-toggle="filter-year">2019 <i class="fas fa-angle-down"></i></a>
            </div>
            
            <div class="filter-box" id="filter-category" data-toggler data-animate="fade-in fade-out">
                <a href="javascript:void(0)" class="close-modal" data-toggle="filter-category">
                    <i class="fas fa-close"></i>
                </a>
                <h4>Filter by Category</h4>
                <br>
                <ul class="menu-list">
                    <li><a href="javascript:void(0)" aria-label="">All Recent Articles</a></li>
                    <li><a href="javascript:void(0)" aria-label="">Press Releases</a></li>
                    <li><a href="javascript:void(0)" aria-label="">Administrative</a></li>
                    <li><a href="javascript:void(0)" aria-label="">News Briefs</a></li>
                    <li><a href="javascript:void(0)" aria-label="">All Academics</a></li>
                    <li><a href="javascript:void(0)" aria-label="">Emergency Information</a></li>
                </ul>
            </div>
            <div class="filter-box" id="filter-year" data-toggler data-animate="fade-in fade-out">
                <div class="grid-container">
                    <a href="javascript:void(0)" class="close-modal" data-toggle="filter-year">
                        <i class="fas fa-close"></i>
                    </a>
                    <h4>Filter by Year</h4> 
                    <br>
                    <div class="grid-x grid-margin-x">
                        <div class="cell large-4">
                            <ul class="menu-list">
                                <li><a href="javascript:void(0)" aria-label="">2001</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2002</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2003</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2004</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2005</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2006</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2007</a></li>
                            </ul>
                        </div>
                        <div class="cell large-4">
                            <ul class="menu-list">
                                <li><a href="javascript:void(0)" aria-label="">2008</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2009</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2009</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2010</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2011</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2012</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2013</a></li>
                            </ul>
                        </div>
                        <div class="cell large-4">
                            <ul class="menu-list">
                                <li><a href="javascript:void(0)" aria-label="">2014</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2015</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2016</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2017</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2018</a></li>
                                <li><a href="javascript:void(0)" aria-label="">2019</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
 
    
    <div class="grid-container large">
        <div class="grid-x">

            <div class="cell large-12">
                    
                <div class="news-card-list split-column">
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-featured-1.jpg" />
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Campus</div>
                            <div class="underline">
                                <h3>UC Santa Cruz to compete in Cool Campus Challenge</h3>
                                <p class="tags">February 11, 2019</p>
                            </div>
                            <p>Registration is open for the contest that challenges people to reduce carbon emissions</p>
                            
                        </div>
                    </a>
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-featured-2.jpg" />
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Humanities</div>
                            <div class="underline">
                                <h3>College Ten class connects students with Soledad Prison inmates</h3>
                                <p class="tags">February 11, 2019</p>
                            </div>
                            <p>Building peace through dialogue and personal transformation</p>
                            
                        </div>
                    </a>
                </div>
                <div class="news-card-list">
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-collection-1.jpg" />
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Humanities</div>
                            <div class="underline isolated">
                                <h4>'Blueprint Roundtable' to discuss complexities of being black and male in U.S.</h4>
                                <p class="tags">February 11, 2019</p>
                            </div>
                        </div>
                    </a>

                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-collection-2.jpg" />
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Travel</div>
                            <div class="underline isolated">
                                <h4>Inspired Expeditions: A travel program for the curious</h4>
                                <p class="tags">March 27, 2019</p>
                            </div>
                        </div>
                    </a>

                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-collection-3.jpg" />
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Space Sciences</div>
                            <div class="underline isolated">
                                <h4>Postdoctoral fellowship supports planetary science research</h4>
                                <p class="tags">March 30, 2019</p>
                            </div>
                        </div>
                    </a>
                
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-collection-4.jpg" />
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Space Sciences</div>
                            <div class="underline isolated">
                                <h4>Summer programs draw visitors to Lick Observatory for music and stargazing</h4>
                                <p class="tags">April 1, 2019</p>
                            </div>
                        </div>
                    </a>

                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-collection-5.jpg" />
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Pychology</div>
                            <div class="underline isolated">
                                <h4>Teens who seek solitude may know what's best for them, research suggests</h4>
                                <p class="tags">April 2, 2019</p>
                            </div>
                        </div>
                    </a>

                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-collection-6.jpg" />
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Campus</div>
                            <div class="underline isolated">
                                <h4>Regents approve Student Housing West, Kresge renewal</h4>
                                <p class="tags">March 27, 2019</p>
                            </div>
                        </div>
                    </a>

                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-collection-7.jpg" />
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Humanities</div>
                            <div class="underline isolated">
                                <h4>College Ten class connects students with Soledad Prison inmates</h4>
                                <p class="tags">April 8, 2019</p>
                            </div>
                        </div>
                    </a>
                
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-collection-8.jpg" />
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Travel</div>
                            <div class="underline isolated">
                                <h4>Inspired Expeditions: A travel program for the curious</h4>
                                <p class="tags">April 10, 2019</p>
                            </div>
                        </div>
                    </a>
                    
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-collection-9.jpg" />
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Science</div>
                            <div class="underline isolated">
                                <h4>Study gives new perspective on production of blood cells and immune cells</h4>
                                <p class="tags">April 11, 2019</p>
                            </div>
                        </div>
                    </a>
                </div>

                <nav aria-label="Pagination">
                        <ul class="pagination text-center">
                            <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
                            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                            <li><a href="javascript:void(0)" aria-label="Page 2">2</a></li>
                            <li><a href="javascript:void(0)" aria-label="Page 3">3</a></li>
                            <li><a href="javascript:void(0)" aria-label="Page 4">4</a></li>
                            <li class="ellipsis" aria-hidden="true"></li>
                            <li><a href="javascript:void(0)" aria-label="Page 12">12</a></li>
                            <li><a href="javascript:void(0)" aria-label="Page 13">13</a></li>
                            <li class="pagination-next"><a href="javascript:void(0)" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
                        </ul>
                    </nav>

            </div>

        </div>
        
    </div>

</section>


