---
layout: subsite-default
pageTitle: History Department
pageClass: subsite-wrapper
type: subsite
pageName: history
---

<div class="hero-viewport inner-page-standard wave-pattern blue">
    <div class="grid-container large">
        <div class="hero-container">
                <div id="hero" class="hero hero-text-left">
                    <img src="{{root}}assets/img/content/history-hero-2.jpg" />
                    <div class="hero-text">
                        <a href="#0">
                            <p class="category">Book Launch</p>
                            <h1 class="hero-header underline">Dana Frank, &quot;The Long Honduran Night&quot;</h1>
                            <p class="hero-body">Professor Dana Frank will join us to discuss and sign copies of her new book, The Long Honduran Night—a story of resistance, repression, and U.S. policy in Honduras in the aftermath of a violent military coup.</p>
                        </a>
                    </div>  
                </div>
        </div>
    </div>
</div>

<div class="grid-container large">
    <div class="button-list">
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text">About the Department</span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text">Undergraduate Programs</span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text">Ways to Give</span>
        </a>
        
    </div>
</div>

<div id="main-content">
 
    <div class="grid-container large mt-50">
        <div class="grid-x grid-margin-x">
            <div class="cell xlarge-6 large-12">
                
                <a class="news-card featured" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/history-news-1.png">
                    </div>
                    <div class="news-card-content">
                        <div class="category btn-link">World History</div>
                        <div class="underline">
                            <h2>Center for World History Grad Student Conference</h2>
                            <p class="tags">March 5, 2019</p>
                        </div>
                        <p>The rise of nativist or nationalist movements in many countries and the closing of borders to migrants seeking refuge from persecution, war, and violence calls into question the world historical context of migration, borders, and political belonging.</p>
                    </div>
                </a>
                
            </div>
            <div class="cell xlarge-6 large-12">
                <div class="news-card-list full-width has-thumbs">
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-1.jpeg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Faculty</div>
                            <div class="underline isolated">
                                <h4>UC Santa Cruz historian and founding faculty member John Dizikes dies at 86</h4>
                                <p class="tags">March 5, 2019</p>
                            </div>
                        </div>
                    </a>
                    
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-2.jpeg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Human Rights</div>
                            <div class="underline isolated">
                                <h4>&quot;The Right to Be Heard – Jews, Human Rights, and Global Democracy&quot;</h4>
                                <p class="tags">January 30, 2019</p>
                            </div>
                        </div>
                    </a>
                
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-3.jpeg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Human Rights</div>
                            <div class="underline isolated">
                                <h4>Questions That Matter public humanities series to spotlight ‘Data and Democracy’ at Kuumbwa Center</h4>
                                <p class="tags">March 25, 2019</p>
                            </div>
                        </div>
                    </a>
            
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-4.jpeg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Humanities</div>
                            <div class="underline isolated">
                                <h4>History Students Win Humanities Research Award</h4>
                                <p class="tags">March 23, 2019</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="more no-border">
            <a class="button primary">
                <span>See More News</span>
            </a>
        </div>
    </div>
        
    <section class="profile-w-media left white-bg top-bottom-borders">
        <div class="grid-container large">
            <div class="profile">
                <div class="inner wave-pattern blue">
                    <div class="content">
                        <div class="category">Graduate Profile</div>
                        <h2 class="underline">Sarah Chang</h2>
                        <p>In her research, History Doctoral Student Sarah Chang investigates the lifecycle of the postwar factory in China, and the shift for women workers from the home to paid industrial work during the socialist period.</p>
                        <a class="button primary" href="javascript:void(0)">Read more</a>
                    </div>
            
                    <div class="media">
                    <div class="image">
                            <a href="javascript:void(0)" aria-label="">
                                <img class="profile-image" src="{{root}}assets/img/content/history-profile.jpg" alt="Profile" />
                            </a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="grid-container large">
        <div class="content">
           
            <section class="heading">
                <h2 class="underline">History Job Listings</h2>
            </section>

            <div class="grid-x grid-margin-x">
                <div class="cell large-12">
                    <div class="job-posting-card-list owl-carousel list">
                        <a class="job-posting-card grid carousel-item">
                            <div class="category btn-link" href="javascript:void(0)" aria-label="">
                                Internship
                            </div>
                            <h4 class="underline">2D Visual Art Lecturer Pool (Ongoing)</h4>
                            <div class="specs">
                                <div class="date">
                                    Listed: March 24, 2019<br />
                                    Apply by: May 6, 2019
                                </div>
                                <div class="tags">
                                    <div class="job-number">
                                        JPF00505-18
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="job-posting-card grid carousel-item">
                            <div class="category btn-link" href="javascript:void(0)" aria-label="">Lecturer</div>
                            <h4 class="underline">Lecturer Pool (Ongoing)</h4>
                            <div class="specs">
                                <div class="date">
                                    Listed: March 24, 2019<br />
                                    Apply by: May 6, 2019
                                </div>
                                <div class="tags">
                                    <div class="job-number">
                                        JPF00505-18
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="job-posting-card grid carousel-item">
                            <div class="category btn-link" href="javascript:void(0)" aria-label="">Postdoctoral Scholar</div>
                            <h4 class="underline">History of Art and Visual Culture: Center for Creative Ecologies Postdoctoral Scholar</h4>
                            <div class="specs">
                                <div class="date">
                                    Listed: March 24, 2019<br />
                                    Apply by: May 6, 2019
                                </div>
                                <div class="tags">
                                    <div class="job-number">
                                        JPF00505-18
                                    </div>
                                </div>
                            </div>
                        </a>
                        
                        <a class="job-posting-card grid carousel-item">
                            <div class="category btn-link" href="javascript:void(0)" aria-label="">Postdoctoral Scholar</div>
                            <h4 class="underline">History of Art and Visual Culture: Center for Creative Ecologies Postdoctoral Scholar</h4>
                            <div class="specs">
                                <div class="date">
                                    Listed: March 24, 2019<br />
                                    Apply by: May 6, 2019
                                </div>
                                <div class="tags">
                                    <div class="job-number">
                                        JPF00505-18
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="more">
        <a class="primary button" href="javascript:void(0)">See more job openings</a>
    </div>

    <section class="wave-pattern blue">
        <div class="grid-container large">
            <section class="heading">
                <h2 class="underline">Faculty</h2>
            </section>

            <div class="profile-list owl-carousel">
                <a class="profile carousel-item" href="javascript:void(0)">
                    <div class="image">
                        <img src="{{root}}assets/img/content/Nate-Dominy.jpeg" alt="Profile" />
                    </div>
                    <div class="profile-info">
                        <h4 class="underline tighten">David Henry Anthony III</h4>
                        <div class="tags">
                            <p>Associate Professor</p>
                            <p class="btn-link"><i class="fas fa-envelope"></i> dhenry@ucsc.edu</p>
                        </div>
                    </div>
                </a>
                <a class="profile carousel-item" href="javascript:void(0)">
                    <div class="image">
                        <img src="{{root}}assets/img/content/history-wyatt.jpg" alt="Profile" />
                    </div>
                    <div class="profile-info">
                        <h4 class="underline tighten">David Henry Anthony III</h4>
                        <div class="tags">
                            <p>Associate Professor</p>
                            <p class="btn-link"><i class="fas fa-envelope"></i> danthony@ucsc.edu</p>
                        </div>
                    </div>
                </a>
                <a class="profile carousel-item" href="javascript:void(0)">
                    <div class="image">
                        <img src="{{root}}assets/img/content/news-space-5.jpg" alt="Profile" />
                    </div>
                    <div class="profile-info">
                        <h4 class="underline tighten">Benjamin Breen</h4>
                        <div class="tags">
                            <p>Assistant Professor</p>
                            <p class="btn-link"><i class="fas fa-envelope"></i> bebreen@ucsc.edu</p>
                        </div>
                    </div>
                </a>
                <a class="profile carousel-item" href="javascript:void(0)">
                    <div class="image">
                        <img src="{{root}}assets/img/content/news-space-5.jpg" alt="Profile" />
                    </div>
                    <div class="profile-info">
                        <h4 class="underline tighten">Benjamin Breen</h4>
                        <div class="tags">
                            <p>Assistant Professor</p>
                            <p class="btn-link"><i class="fas fa-envelope"></i> bebreen@ucsc.edu</p>
                        </div>
                    </div>
                </a>
                <a class="profile carousel-item" href="javascript:void(0)">
                    <div class="image">
                        <img src="{{root}}assets/img/content/news-space-5.jpg" alt="Profile" />
                    </div>
                    <div class="profile-info">
                        <h4 class="underline tighten">Benjamin Breen</h4>
                        <div class="tags">
                            <p>Assistant Professor</p>
                            <p class="btn-link"><i class="fas fa-envelope"></i> bebreen@ucsc.edu</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="more">
                <a class="primary button" href="javascript:void(0)">Search all Faculty</a>
            </div>
        </div>
    </section>

    <section class="heading">
        <h2 class="underline">Events with the History Department</h2>
    </section>

    <div class="grid-container large">
        <div class="events-card-list">
            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Feb</div>
                        <div class="day">20</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-1.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header">February Kraw Lecture with Angela Brooks</h4>
                            <p class="event-description">Brooks, an expert in the analysis of RNA sequencing data, is studying the role of RNA splicing aberrations in cancer.</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>

            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Feb</div>
                        <div class="day">20</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-2.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header">International Women's Day: Celebrating Feminist Scholarship from the Americas</h4>
                            <p class="event-description">The Research Center for the Americas invites
                                    you to join us as we celebrate International Women's Day with book talks by two
                                    leading feminist scholars.</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Thursday, February 28 at 1:30pm to 5:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> Merrill Cultural Center
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>

            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Feb</div>
                        <div class="day">20</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-3.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header">Grad Slam - 3 Minute Thesis Challenge</h4>
                            <p class="event-description">UCSC graduate students spend years on their
                                    theses and dissertations. Can they explain their research in three minutes? Join us
                                    and find out!</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Friday, March 8 at 5:30pm to 8:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> Kuumbwa Jazz Center
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>
        </div>
        <div class="more no-border">
            <a class="button primary">
                <span>See More Events</span>
            </a>
        </div>
    </div>
</div>