---
pageTitle: UC Santa Cruz
pageClass: gateway-wrapper
type: gateway
---
<div class="hero-viewport inner-page-angle wave-pattern secondary-blue">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-left">
            <div class="angle transparent wave-pattern secondary-blue"></div>
            <div class="gradient-overlay"></div>
            
            <img src="{{root}}assets/img/content/arts-hero.jpeg" />
            <div class="hero-text">
                <h1 class="hero-header">Welcome to the Major Template</h1>
                <p class="hero-body">The Bachelor of Arts in&nbsp;Art &amp; Design: Games &amp; Playable Media (AGPM) 
                    is an interdisciplinary undergraduate program in the Arts Division at UCSC. The
                    program is closely affiliated with the Bachelor of Science in&nbsp;Computer
                    Science: Computer Game Design&nbsp;in the School of Engineering.</p>
            </div>
        </div>
    </div>
</div>
 
<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Academics</a></li>
                <li><a href="javascript:void(0)">Programs &amp; Majors</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Art & Design: Games &amp; Playable Media
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="page-content" id="main-content">
    <section class="content">

        <div class="layout-two-column large">
            <div class="wrap">
                <div class="inner">
                    <div class="column-main">
                        <p>Students in both&nbsp;programs work together throughout their studies&nbsp;at
                            UCSC, from foundation courses to a year-long capstone sequence that results in
                            team creation of a releasable game. Students in AGPM obtain&nbsp;a degree
                            focused on the design of game systems and other interactive experiences,
                            including their connection to a wider arts context — with a full grounding in
                            the fundamentals of artistic practice and expressive game development.</p>

                        <p>The foundation of the program is game making, with students in both B.A. and
                            B.S. degrees working together to&nbsp;make&nbsp;games each&nbsp;year. Students
                            also learn about the history of games, the interpretation of games and game
                            culture, expression of&nbsp;ideas and creating&nbsp;experiences through games,
                            and approaches to design, communication, teamwork, and artistic innovation.</p>
                        <p>Degrees Offered: <a class="btn-link" href="#0">B.A.</a></p>

                        <div class="upper-divider">
                            <h2>More Information</h2>
                            <ul class="tabs" data-responsive-accordion-tabs="tabs small-accordion xlarge-tabs"
                                data-allow-all-closed="true" id="example-tabs">
                               
                                <li class="tabs-title" data-accordion-item>
                                    <a href="#panel1">Study and Research Opportunities</a>
                                </li>
                                <li class="tabs-title" data-accordion-item>
                                    <a href="#panel2">Information for First-Year Students</a>
                                </li>
                                <li class="tabs-title" data-accordion-item>
                                    <a href="#panel3">Information for Transfers</a>
                                </li>
                                <li class="tabs-title" data-accordion-item>
                                    <a href="#panel4">Careers</a>
                                </li>
                                <li class="tabs-title" data-accordion-item>
                                    <a href="#panel5">Facilities</a>
                                </li>
                                <li class="tabs-title" data-accordion-item>
                                    <a href="#panel6">Awards, Honors, and Recognitions</a>
                                </li>
                                <li class="tabs-title" data-accordion-item>
                                    <a href="#panel7">Alumni Focus</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs-content" data-tabs-content="example-tabs">

                            <div class="tabs-panel" id="panel1">

                                <h3>Study and Research Opportunities</h3>
                                <ul>
                                    <li>B.A.</li>
                                    <li>Year-long, team-based game design project</li>
                                    <li>The Center for Games and Playable Media. The center houses the school's
                                        five games-related research labs, including:&nbsp;&nbsp;
                                        <ul>
                                            <li><a class="btn-link" href="https://setlab.ucsc.edu/research-projects/">Social
                                                    Emotional Technology (SET) Lab</a>&nbsp;-&nbsp; the lab's
                                                mission&nbsp;is to design, implement, and study
                                                human-computer&nbsp;interaction technologies that enhance physical,
                                                social, and emotional experiences. &nbsp;</li>
                                            <li><a class="btn-link" href="https://assist.soe.ucsc.edu/projects">ASSIST Lab</a>&nbsp;-
                                                this lab focuses on helping people with special needs (PSN)
                                                maintain a high quality of life through technology.&nbsp;</li>
                                        </ul>
                                    </li>
                                    <li>The <a class="btn-link" href="https://ludolab.ucsc.edu/">Ludo Lab</a> Center for Games &amp;
                                        Playable Media Research. The Ludo Lab seeks to approach the issues and
                                        opportunities that shape our collective future - including Social and
                                        Environmental Justice, Gender Equality, Identity, and Representation.</li>
                                </ul>
                            </div>

                            <div class="tabs-panel" id="panel2">

                                <h3>Information for First-Year Students</h3>
                                <p>Students interested in entering the program as frosh are urged to make games —
                                    using any materials, from Javascript to cardboard — and carefully study game
                                    systems. Developing an arts practice in any medium is also helpful, including
                                    drawing, writing, music, sculpture, filmmaking, and others. Finally, deepening
                                    your understanding of technology is good preparation, including computer
                                    programming, participating in maker groups, or whatever else grabs your
                                    interest.</p>

                            </div>

                            <div class="tabs-panel" id="panel3">

                                <h3>Information for Transfers</h3>
                                <p>In preparation for transfer to AGPM, students are required&nbsp;to demonstrate
                                    proficiency in programming, visual art, and game design.</p>

                                <p><strong><a class="btn-link" href="http://games.arts.ucsc.edu/program/junior-transfers">See
                                            department website for more information.</a></strong></p>

                                <p>It is required that incoming transfer students complete&nbsp;all the necessary
                                    programming courses and have some experience with art or game design courses
                                    prior to entering UCSC.&nbsp;Students interested in entering as junior
                                    transfers, including from within UCSC, are urged to complete all general
                                    education requirements and as many appropriate foundation courses as possible.</p>

                            </div>

                            <div class="tabs-panel" id="panel4">

                                <h3>Careers</h3>
                                <p>The AGPM B.A. serves as the sister program to the Computer Science: Computer
                                    Game Design (CS:CGD) B.S. major. While the CS:CGD&nbsp;major prepares its
                                    students for engineering and developer roles, the AGPM program prepares
                                    students for taking an artist, designer, or producer role. Specific job
                                    titles/roles are listed below:&nbsp;</p>

                                <ul>
                                    <li>2D / 3D Artist</li>
                                    <li>Game Designer</li>
                                    <li>Game Programmer</li>
                                    <li>Game Writer</li>
                                    <li>Producer</li>
                                    <li>Sound Designer</li>
                                    <li>User Interface (UI) Designer</li>
                                    <li>User Experience (UX) Designer</li>
                                </ul>

                            </div>

                            <div class="tabs-panel" id="panel5">

                                <h3>Facilities</h3>
                                <ul>
                                    <li>Digital Arts Research Center (DARC) – A multimedia complex housing
                                        extensive digital printmaking/photography facilities, faculty studios, and
                                        exhibition/media labs.</li>
                                    <li>The AGPM Game Lab is located within the DARC and serves multiple functions.
                                        The lab is a&nbsp;modular/dynamic space that can be used as a classroom,
                                        coworking space, and prototyping studio.&nbsp;</li>
                                </ul>

                            </div>

                            <div class="tabs-panel" id="panel6">
                                <h3>Awards, Honors, and Recognitions</h3>
                                <p>UC Santa Cruz&nbsp;is ranked 17th&nbsp;on the list of "Top 50" undergraduate
                                    Game Design programs by the&nbsp;<a class="btn-link" href="https://www.princetonreview.com/college-rankings/game-design">Princeton&nbsp;Review</a>.</p>
                            </div>

                            <div class="tabs-panel" id="panel7">
                                <h3>Alumni Focus</h3>
                                <ul>
                                    <li>Our alumni have gone on to continue their games education through top
                                        graduate programs, such as the&nbsp;University of Southern
                                        California's&nbsp;Interactive Media &amp; Games program.</li>
                                    <li>Those who&nbsp;choose to pursue the industry route have also found success
                                        in game studios throughout the country.&nbsp;<a class="btn-link" href="http://www.pixelberrystudios.com/">Pixelberry</a>&nbsp;is
                                        one of these studios and is best known for their mobile game&nbsp;<a class="btn-link" href="https://play.google.com/store/apps/details?id=com.pixelberrystudios.choices"><em>Choices</em></a>,
                                        which has close to 1 million users across both the iOS and Android
                                        platforms.&nbsp;</li>
                                </ul>
                            </div>

                        </div>
                        
                    </div>
                    <div class="column-support">
                        <div class="content-block">
                            <h5 class="blue-text">Department Heads:</h5>
                            <p><a class="btn-link" href="#0">Juan Morales-Rocha</a><br>
                                    AGPM Adviser<br>
                                    Arts Division Programs Office<br>
                                    Digital Arts Research Center 302<br>
                                    (831) 459-1554<br>
                                    <a class="btn-link" href="mailto:juanmr@ucsc.edu">juanmr@ucsc.edu</a><br>
                                    <br>
                                    <a class="btn-link" href="#0">Robin Hunicke</a><br>
                                    Associate Professor<br>
                                    AGPM Director<br>
                                    <a class="btn-link" href="mailto:rhunicke@ucsc.edu">rhunicke@ucsc.edu</a><br>
                                    <h5 class="blue-text">Mailing Address:</h5>
                                    University of California, Santa Cruz<br>
                                    1156 High Street<br>
                                    Santa Cruz, CA 95064</p>
                            <br>
                        <a class="button primary expanded" href="https://games.arts.ucsc.edu">Art &amp; Design Website</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
</div>