---
layout: subsite-default
pageTitle: Newscenter
pageClass: subsite-wrapper
type: subsite
pageName: news
---
<div class="hero-viewport inner-page">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-right">
            <div class="angle"></div>
            <img src="{{root}}assets/img/content/news-collection-hero-large.jpg" alt="alt tag" />
            <div class="hero-text">
                <h2 class="hero-header">Tuesday Newsday</h2>
                <div class="tags">
                    <div class="topics-title"><a href="#0" class="topic btn-link light">Vol 5</a> / </div>
                    <div class="topics-title">Issue 13 </div>
                    <div class="topics-title">December 04, 2018</div>
                </div>
                <p class="mt-10">Silicon Valley Campus is home to SVLink, supporting UCSC &amp; UC tech startups. Minimal cash up
                    front for qualifying companies. Learn more about the program and services of SVLink.</p>
            </div>
        </div>
    </div>
</div>

<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="javascript:void(0)" aria-label="Go to Newscenter Home Page">Newscenter Home</a></li>
                <li><a href="javascript:void(0)" aria-label="Go to 2019 News">2018</a></li>
                <li><a href="javascript:void(0)" aria-label="Go to 2019 News">December</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Tuesday Newsday
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="main-content">

    <div class="grid-container large">
        <section class="heading">
            <h2 class="underline">In this Issue</h2>
        </section>

        <a class="news-card full-width" href="javascript:void(0)" aria-label="">
            <div class="image">
                <img src="{{root}}assets/img/content/news-collection-featured.jpg" alt="alt tag" />
            </div>
            <div class="news-card-content">
                <div class="category btn-link">Community</div>
                <div class="underline">
                    <h3>Community Supported Agriculture (CSA) at the UCSC Farm &amp; Garden</h3>
                    <div class="tags">April 10, 2019</div>
                </div>
                <p class="lead">The UCSC Farm’s 2019 CSA Full Season is planned to run for 21 weeks, from Tuesday, June 4 through Tuesday, October 22.</p>
            </div>
        </a>

        <div class="news-card-list">
            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-collection-1.jpg" alt="alt tag" />
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Humanities</div>
                    <div class="underline isolated">
                        <h4>'Blueprint Roundtable' to discuss complexities of being black and male in U.S.</h4>
                        <div class="tags">March 27, 2019</div>
                    </div>
                </div>
            </a>

            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-collection-2.jpg" alt="alt tag" />
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Travel</div>
                    <div class="underline isolated">
                        <h4>Inspired Expeditions: A travel program for the curious</h4>
                        <div class="tags">March 27, 2019</div>
                    </div>                            
                </div>
            </a>

            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-collection-3.jpg" alt="alt tag" />
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Space Sciences</div>
                    <div class="underline isolated">
                        <h4>Postdoctoral fellowship supports planetary science research</h4>
                        <div class="tags">March 25, 2019</div>
                    </div>
                </div>
            </a>

            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-collection-4.jpg" alt="alt tag" />
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Space Sciences</div>
                    <div class="underline isolated">
                        <h4>Summer programs draw visitors to Lick Observatory for music and stargazing</h4>
                        <div class="tags">March 21, 2019</div>
                    </div>
                </div>
            </a>

            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-collection-5.jpg" alt="alt tag" />
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Psychology</div>
                    <div class="underline isolated">
                        <h4>Teens who seek solitude may know what's best for them, research suggests</h4>
                        <div class="tags">March 12, 2019</div>
                    </div>
                </div>
            </a>

            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-collection-6.jpg" alt="alt tag" />
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Psychology</div>
                    <div class="underline isolated">
                        <h4>Regents approve Student Housing West, Kresge renewal</h4>
                        <div class="tags">March 4, 2019</div>
                    </div>
                </div>
            </a>

            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-collection-7.jpg" alt="alt tag" />
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Humanities</div>
                    <div class="underline isolated">
                        <h4>College Ten class connects students with Soledad Prison inmates</h4>
                        <div class="tags">February 27, 2019</div>
                    </div>
                </div>
            </a>
            
            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-collection-8.jpg" alt="alt tag" />
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Travel Programs</div>
                    <div class="underline isolated">
                        <h4>Inspired Expeditions: A travel program for the curious</h4>
                        <div class="tags">February 10, 2019</div>
                    </div>
                </div>
            </a>

            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-collection-9.jpg" alt="alt tag" />
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Health &amp; Wellness</div>
                    <div class="underline isolated">
                        <h4>Study gives new perspective on production of blood cells and immune cells</h4>
                        <div class="tags">February 8, 2019</div>
                    </div>
                </div>
            </a>
           
        </div>
        <nav aria-label="Pagination">
            <ul class="pagination text-center">
                <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
                <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                <li><a href="javascript:void(0)" aria-label="Page 2">2</a></li>
                <li><a href="javascript:void(0)" aria-label="Page 3">3</a></li>
                <li><a href="javascript:void(0)" aria-label="Page 4">4</a></li>
                <li class="ellipsis" aria-hidden="true"></li>
                <li><a href="javascript:void(0)" aria-label="Page 12">12</a></li>
                <li><a href="javascript:void(0)" aria-label="Page 13">13</a></li>
                <li class="pagination-next"><a href="javascript:void(0)" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
            </ul>
        </nav>
    </div>
</div>