---
layout: default
pageTitle: Newscenter
pageClass: subsite-wrapper
type: gateway
---
<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="javascript:void(0)" aria-label="Go to Newscenter Home Page">Newscenter Home</a></li>
                <li><a href="javascript:void(0)" aria-label="Go to 2019 News">2018</a></li>
                <li><a href="javascript:void(0)" aria-label="Go to 2019 News">December</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Coral study traces...
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="page-content" id="main-content">
    
        <div class="grid-container large">
            <div class="grid-x grid-margin-x">
                <div class="cell large-12">
                    <div class="category">
                        <a class="btn-link" href="javascript:void(0)" aria-label="">Oakes Provost</a>
                    </div>
                </div>
                <div class="cell xlarge-8">
                    <h1>Founding Oakes professor draws a crowd at provost house renaming ceremony</h1>
                    <p class="lead">J. Herman Blake and family drew cheers and fond recollections at event renaming Oakes Provost House in his honor.</p>
                    <img src="{{root}}assets/img/content/soundcloud-embed.jpg" />
                </div>
                <div class="cell xlarge-4">
                    <div class="sidebar">
                        <div class="profile-info">
                            <!-- <div class="profile-prefix">By </div> -->
                            <div class="profile-name">
                                <a class="btn-link" href="javascript:void(0)" aria-label="">Dan White</a>
                            </div>
                            <div class="profile-date">November 15, 2018</div>
                        </div>
                        <h5>Share this story:</h5>
                        {{>social-sharing type='top && right'}}
                        <a href="https://soundcloud.com/ucsantacruz/sets" class="primary button">
                            <i class="fa fa-soundcloud fa-1x"></i> Listen on Soundcloud
                        </a>
                    </div>
                </div>
            </div>
        
            <figure class="img-full">
                <div class="image">
                    <img src="{{root}}assets/img/content/podcast-hero.jpg" alt="">
                </div>

                <figcaption>
                    <div class="caption-title"></div>
                    <div class="caption-desc"></div>
                </figcaption>

            </figure>
        </div>

        <div class="grid-container">
            <p class="lead" style="margin: 1rem 0 2rem">Founding Oakes College Provost J. Herman Blake had a warm
                homecoming recently at UC Santa Cruz when he was the guest of honor in a ceremony rededicating the Oakes Provost
                House and naming it after Blake. Listen to the podcast.</p>
            <figure class="img-right-25">
                <img src="{{root}}assets/img/content/podcast-1.jpg" alt="" />
                <figcaption>
                    <div class="caption-title"></div>
                    <div class="caption-desc">
                        <p>Founding Oakes College Provost J. Herman Blake addressed a crowd of well-wishers during the
                            name-changing ceremony while UC Santa Cruz emeritus biology professor William T. Doyle
                            looked on. (Photos by Steve Kurtz)</p>
                    </div>
                </figcaption>
            </figure>

            <p>An enthusiastic crowd of 200 people were on hand to cheer Blake, who heard testimonials from current
                Oakes Provost Regina Langhout; UC Santa Cruz Chancellor George Blumenthal; and emeritus biology professor
                William T. Doyle, a faculty member when the campus opened in 1965. Doyle suggested the name change and is
                funding all related expenses.</p>

            <p>Blake started at UC Santa Cruz in 1966 when he accepted an offer to join as a professor of sociology. Six
                years later he became Oakes’s founding provost. Along with a team of forward-thinking colleagues,
                including Oakes cofounder Rafael Guzman, he helped the college set forth on the path it follows to this day, with
                a strong emphasis on inclusion and academic excellence. He placed significant value on mentorship and
                promoting the sciences among underrepresented students.</p>

            <p>Blake remained the provost of Oakes until 1984, when he left to become president of Tougaloo College.</p>

            <p>After the renaming ceremony, one of Blake’s daughters, Audries Blake, now the assistant director for the
                Center for Agroecology and Sustainable Food Systems (CASFS) at UC Santa Cruz, shared fond recollections
                of the provost house.</p>
            <figure class="img-left-50">
                <img src="{{root}}assets/img/content/podcast-2.jpg" alt="" />
                <figcaption>
                    <div class="caption-title"></div>
                    <div class="caption-desc">
                        <p>Audries Blake shared fond recollections of life at the Oakes Provost House in front of a rapt crowd.</p>
                    </div>
                </figcaption>
            </figure>

            <p>&quot;It was within the (provost house) that I as a young woman learned to grow and to dream,&quot; she
                said. &quot;It was within the building that lives were transformed. Generational poverty was broken, and people have
                gone forward in their lives in ways they never imagined because of what took place inside that house. And
                really, what took place in the house was my father.&quot;</p>
            {{>social-sharing type='bottom'}}
        </div>
     
   
    <section class="heading">
        <h2 class="underline">Related Podcasts</h2>
    </section>

    <div class="grid-container large">
        <div class="news-card-list">
            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-image-1.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Arts &amp; Sciences</div>
                    <h4 class="underline isolated">Guillermo Gómez-Peña returns to UCSC to perform his latest solo work:
                        "The Most (un) Documented Mexican Artist"</h4>
                </div>
            </a>

            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-image-2.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Arts &amp; Sciences</div>
                    <h4 class="underline isolated">UCSC to bring art/science LASER series downtown for special evening
                        at Rio Theater</h4>

                </div>
            </a>

            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-image-3.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Humanities</div>
                    <h4 class="underline isolated">Borderbus: A community conversation about migration, art, and social
                        justice</h4>
                </div>
            </a>
        </div>
    </div>
</div>