---
pageTitle: UC Santa Cruz
pageClass: gateway-wrapper
type: gateway
---

<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="javascript:void(0)" aria-label="">Home</a></li>
                <li><a href="javascript:void(0)" aria-label="">About UCSC</a></li>
                <li><a href="javascript:void(0)" aria-label="">Leadership &amp; Organization</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Administration
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="page-content">

        <div class="grid-container hide-for-xlarge mt-50">
                <div class="nav-sidebar">
        
                    <div class="page-menu-header" data-responsive-toggle="page-menu" data-hide-for="xlarge">
                        <div class="page-menu-trigger button tertiary" data-toggle="page-menu">In This Section</div>
                    </div>
        
                    <div id="page-menu">
                        <ul class="vertical menu">
                            <li class="section-title"><a href="javascript:void(0)" aria-label="">About UCSC</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Honors &amp; Awards</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Campus Culture</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Facts &amp; Figures</a></li>
                            <li class="is-active">
                                <a class="subsection-title" href="javascript:void(0)" aria-label="">Leadership &amp; Organization</a>
                                <ul class="menu vertical nested">
                                    <li class="is-active"><a href="javascript:void(0)" aria-label=""></a>Administration</li>
                                </ul>
                            </li>
                            <li><a href="javascript:void(0)" aria-label="">Employment</a></li>
                        </ul>
                    </div>
        
                </div>
            </div>
        

    <div class="layout-two-column large sidebar-left">
        <div class="wrap">
            <div class="inner">

                <div class="column-main">

                    <h2 class="underline">Administration</h1>

                    <p class="lead">Chancellor George R. Blumenthal is a distinguished scholar and academic leader with a long tenure at UC Santa Cruz and within the University of California system.</p>

                    <figure class="img-left-25">
                        <img src="{{root}}assets/img/content/about-blumenthal.jpg" alt="">
                    </figure>

                    <p>He has served as the 10th chancellor at UC Santa Cruz since July 2006, initially as acting chancellor. The UC Board of Regents appointed him permanent chancellor 14 months later in September 2007. Chancellor Blumenthal joined UC Santa
                        Cruz in 1972 as a professor of astronomy and astrophysics.</p>

                    <div class="clearfloat"></div>
                    <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                        <li class="accordion-item" data-accordion-item>
                            <a href="javascript:void(0)" class="accordion-title">Administrative Units</a>
                            <div class="accordion-content" data-tab-content>
                                <ul>
                                    <li><a href="http://chancellor.ucsc.edu/">UCSC Chancellor</a></li>
                                    <li><a href="http://cpevc.ucsc.edu">Campus Provost/Executive Vice Chancellor</a></li>
                                    <li><a href="http://bas.ucsc.edu/">Business &amp; Administrative Services</a></li>
                                    <li><a href="http://planning.ucsc.edu/">Planning and Budget</a></li>
                                    <li><a href="http://vpdue.ucsc.edu/">Undergraduate Education</a></li>
                                    <li><a href="http://graddiv.ucsc.edu/">Graduate Studies</a></li>
                                    <li><a href="http://officeofresearch.ucsc.edu/">Office of Research</a></li>
                                    <li><a href="http://studentservices.ucsc.edu/">Student Services</a>&nbsp;|&nbsp;<a href="http://deanofstudents.ucsc.edu">Dean of Students Office</a></li>
                                    <li><a href="http://apo.ucsc.edu/">Academic Personnel Office</a></li>
                                    <li><a href="http://shr.ucsc.edu/">Staff Human Resources</a></li>
                                    <li><a href="http://its.ucsc.edu/">Information Technology Services</a></li>
                                    <li><a href="http://library.ucsc.edu">University Library</a></li>
                                    <li><a href="http://urelations.ucsc.edu">University Relations</a></li>
                                    <li><a href="http://svi.ucsc.edu">Silicon Valley Initiatives</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="javascript:void(0)" class="accordion-title">Academic Divisions</a>
                            <div class="accordion-content" data-tab-content>
                                <ul>
                                    <li><a href="http://arts.ucsc.edu/">Arts</a></li>
                                    <li><a href="http://soe.ucsc.edu/">Engineering</a></li>
                                    <li><a href="http://humanities.ucsc.edu/">Humanities</a></li>
                                    <li><a href="http://pbsci.ucsc.edu/">Physical &amp; Biological Sciences</a></li>
                                    <li><a href="http://socialsciences.ucsc.edu/">Social Sciences</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <a href="javascript:void(0)" class="accordion-title">Undergraduate Colleges</a>
                            <div class="accordion-content" data-tab-content>
                                <ul>
                                    <li><a href="http://cowell.ucsc.edu/">Cowell College</a></li>
                                    <li><a href="http://stevenson.ucsc.edu/">Stevenson College</a></li>
                                    <li><a href="http://crown.ucsc.edu/">Crown College</a></li>
                                    <li><a href="http://merrill.ucsc.edu/">Merrill College</a></li>
                                    <li><a href="http://porter.ucsc.edu/">Porter College</a></li>
                                    <li><a href="http://kresge.ucsc.edu/">Kresge College</a></li>
                                    <li><a href="http://oakes.ucsc.edu/">Oakes College</a></li>
                                    <li><a href="http://rachelcarson.ucsc.edu/">Rachel Carson College</a></li>
                                    <li><a href="http://collegenine.ucsc.edu/">College Nine</a></li>
                                    <li><a href="http://collegeten.ucsc.edu/">College Ten</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>


                    <div class="last-mod-date">Last Modified: November 28, 2018</div>
                </div>

                <div class="column-support">
                    
                    <div class="show-for-xlarge">
                            <div class="nav-sidebar">
    
                                <div class="page-menu-header" data-responsive-toggle="page-menu" data-hide-for="xlarge">
                                    <div class="page-menu-trigger" data-toggle="page-menu">In This Section</div>
                                </div>
    
                                <div id="page-menu">
                                    <ul class="vertical menu">
                                        <li class="">
                                            <a class="section-title" href="javascript:void(0)" aria-label="">About UCSC</a>
                                            <ul class="menu vertical nested">
                                                <li><a href="javascript:void(0)" aria-label="">Honors &amp; Awards</a></li>
                                                <li><a href="javascript:void(0)" aria-label="">Campus Culture</a></li>
                                                <li><a href="javascript:void(0)" aria-label="">Facts &amp; Figures</a></li>
                                                <li>
                                                    <a class="subsection-title" href="javascript:void(0)">Leadership &amp; Organization</a>
                                                    <ul class="menu vertical nested">
                                                        <li class="is-active">Administration</li>
                                                    </ul>
                                                </li>
                                                <li><a href="javascript:void(0)" aria-label="">Employment</a></li>
                                            </ul>
                                            
                                        </li>
                                        
                                    </ul>
                                </div>
    
                            </div>
    
                        </div>


                    <div class="sidebar-nav">
                        <h4>Related Content</h4>
                        <ul class="menu vertical">
                            <li><a href="javascript:void(0)" aria-label="">UCSC Organization Chart</a></li>
                            <li><a href="javascript:void(0)" aria-label="">UCSC Administrative Policies</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Administrative Messages</a></li>
                        </ul>
                    </div>


                </div>


            </div>

        </div>


    </div>


    <!-- <div class="grid-container large">
        <div class="callout alert">
            <p><strong>Page Zone:</strong> This page zone will allow full width components.</p>
            <p>An example would be list/grid view of upcomping events related to the subject matter of this page.</p>
        </div>
    </div> -->
</div>