---
pageTitle: UC Santa Cruz
pageClass: gateway-wrapper
type: gateway
---
<div class="hero-viewport inner-page-angle wave-pattern blue">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-left">
            <div class="angle transparent"></div>
            <div class="gradient-overlay"></div>

            <img src="{{root}}assets/img/content/social-sciences-hero.jpg" />
            <div class="hero-text">
                <h1 class="hero-header">Social Sciences Division</h1>
            </div>
        </div>
    </div>
</div>

<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Academics</a></li>
                <li><a href="javascript:void(0)">Divisions</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Social Sciences
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="page-content" id="main-content">
    <div class="layout-two-column large">
        <div class="wrap">
            <div class="inner">
                <div class="column-main">
                    <h1 class="underline">Social Sciences</h1>
                    <p class="lead">What does it mean to be human, to analyze and construct the human experience? These
                        are the fundamental questions that guide and unite the learning, teaching and scholarship
                        conducted in UC Santa Cruz’s Humanities Division.</p>
                        <p>The exploration and discussion of this query has culminated in some of humanity’s most deeply and widely valued beliefs and teachings about
                        ourselves and the world in which we live.</p>
                    <br>

                    <div class="grid-x grid-margin-x">
                        <div class="cell xlarge-6 large-12">
                            <a class="news-card featured" href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/professor.jpeg">
                                </div>
                                <div class="news-card-content">
                                    <div class="category btn-link">Language</div>
                                    <div class="underline">
                                        <h3>Professor honored by Linguistic Society of America for decades of work on
                                            endangered languages</h3>
                                        <p class="tags">March 25, 2019</p>
                                    </div>
                                    <p>UC Santa Cruz emeritus professor of linguistics Judith Aissen was awarded the
                                        prestigious Kenneth L. Hale Award last week in New York City at the 2019 Annual
                                        Meeting of the Linguistic Society of America (LSA).</p>
                                </div>
                            </a>
                        </div>

                        <div class="cell xlarge-6 large-12">
                            <div class="news-card-list full-width has-thumbs">
                                <a class="news-card" href="javascript:void(0)" aria-label="">
                                    <div class="image">
                                        <img src="{{root}}assets/img/content/event-thumb.jpg">
                                    </div>
                                    <div class="news-card-content">
                                        <div class="category btn-link">Publications</div>
                                        <h4>Two new books published by UC Santa Cruz poet, lecturer, and alumnus Gary
                                            Younge</h4>
                                        <div class="tags">March 25, 2019</div>
                                    </div>
                                </a>
                                <a class="news-card" href="javascript:void(0)" aria-label="">
                                    <div class="image">
                                        <img src="{{root}}assets/img/content/event-1.jpeg">
                                    </div>
                                    <div class="news-card-content">
                                        <div class="category btn-link">Faculty</div>
                                        <h4>Lit prof offers true love and dreams of miraculous escape</h4>
                                        <div class="tags">March 25, 2019</div>
                                    </div>
                                </a>
                                <a class="news-card" href="javascript:void(0)" aria-label="">
                                    <div class="image">
                                        <img src="{{root}}assets/img/content/event-2.jpeg">
                                    </div>
                                    <div class="news-card-content">
                                        <div class="category btn-link">Faculty</div>
                                        <h4>UC Santa Cruz historian and founding faculty member John Dizikes dies at 86
                                        </h4>
                                        <div class="tags">March 25, 2019</div>
                                    </div>
                                </a>

                                <a class="news-card" href="javascript:void(0)" aria-label="">
                                    <div class="image">
                                        <img src="{{root}}assets/img/content/event-3.jpeg">
                                    </div>
                                    <div class="news-card-content">
                                        <div class="category btn-link">Awards &amp; Recogonitions</div>
                                        <h4>Psychology Professor Margarita Azmitia wins mentor award</h4>
                                        <div class="tags">April 8, 2019</div>
                                    </div>
                                </a>
                            </div>
                            <a class="btn-link right">More Social Sciences News</a>
                        </div>
                    </div>

                </div>


                <div class="column-support">
                    <div class="content-block">
                        <h5 class="blue-text">Location:</h5>
                        <p>Humanities 1 building complex. <br><a class="btn-link">map <i class="fas fa-map"></i></a></p>
                        <h5 class="blue-text">Phone:</h5>
                        <p>(831) 459-2696</p>
                        <h5 class="blue-text">Email:</h5>
                        <p><a href="mailto:humanities@ucsc.edu">humanities@ucsc.edu</a></p>
                        <h5 class="blue-text">Mailing Address:</h5>
                        <p>
                            Division of Humanities<br>
                            UC Santa Cruz<br>
                            1156 High Street<br>
                            Santa Cruz, CA 95064</p>
                        <br>
                        <a class="button primary expanded" href="http://humanities.ucsc.edu">Social Sciences Website</a>
                        <hr>
                        <br>

                        <a class="profile sidebar"  href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="{{root}}assets/img/content/Nate-Dominy.jpeg" alt="Profile" />
                            </div>
                            <div class="profile-info">
                                <h4 class="underline tighten">John Smith</h4>
                                <p>Dean of Social Sciences</p>
                                <p class="btn-link">danthony@ucsc.edu</p>
                            </div>
                        </a>

                    </div>

                </div>


            </div>
        </div>
    </div>

    <section class="heading">
        <h2 class="underline">Departments</h2>
    </section>

    <section class="content-w-media wave-pattern red" style="padding: 0;">

        <div class="grid-container large">
           
            <div class="grid-x grid-margin-x">
                <div class="cell xlarge-12">
                    
                    <div class="major-card-list">
                        <div class="major-card">
                            <a href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/department-anthro.jpeg" />
                                </div>
                                <h5>Anthropology</h5>
                            </a>
                        </div>
                        <div class="major-card">
                            <a href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/department-community-studies.jpg" />
                                </div>
                                <h5>Community Studies</h5>
                            </a>
                        </div>
                        <div class="major-card">
                            <a href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/department-business.jpg" />
                                </div>
                                <h5>Business Management Economics</h5>
                            </a>
                        </div>
                        <div class="major-card">
                            <a href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/department-economics.jpg" />
                                </div>
                                <h5>Economics</h5>
                            </a>
                        </div>
                        <div class="major-card">
                            <a href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/department-environmental.jpeg" />
                                </div>
                                <h5>Environmental Studies</h5>
                            </a>
                        </div>
                        <div class="major-card">
                            <a href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/department-latin.jpg" />
                                </div>
                                <h5>Latin American &amp; Latino Studies</h5>
                            </a>
                        </div>

                        <div class="major-card">
                            <a href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/department-legal.jpg" />
                                </div>
                                <h5>Legal Studies</h5>
                            </a>
                        </div>
                        <div class="major-card">
                            <a href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/department-politics.jpg" />
                                </div>
                                <h5>Politics</h5>
                            </a>
                        </div>
                        <div class="major-card">
                            <a href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/department-psychology.jpg" />
                                </div>
                                <h5>Psychology</h5>
                            </a>
                        </div>
                        <div class="major-card">
                            <a href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/department-cognitive.jpeg" />
                                </div>
                                <h5>Congnitive Science</h5>
                            </a>
                        </div>
                        <div class="major-card">
                            <a href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="{{root}}assets/img/content/department-sociology.jpeg" />
                                </div>
                                <h5>Sociology</h5>
                            </a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<section style="background: #f1f1f1">
    <section class="heading">
        <h2 class="underline">Events</h2>
    </section>

    <div class="grid-container large">

        <div class="events-card-list">
            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Feb</div>
                        <div class="day">14</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-1.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header underline">Center for Public Philosophy: High School Regional Ethics Bowl</h4>
                            <p class="event-description">Teams of up to five high school students have the fall
                                    semester to develop their thinking on 15 real-world ethical questions</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>

            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Feb</div>
                        <div class="day">21</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-1.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header underline">Linguistics Colloquium: Naomi Francis &quot;Even in presupposition denials&quot;</h4>
                            <p class="event-description">About eight times each year, the department hosts
                                    colloquia by distinguished faculty from around the world.</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>

            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Feb</div>
                        <div class="day">21</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-1.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header underline">Ralina Joseph: &quot;Postracial Resistance-Black Women, Media, and the
                                    Uses of Strategic Ambiguity&quot;</h4>
                            <p class="event-description">&quot;Post Racial Resistance-Black Women, Media, and the
                                    Uses of Strategic Ambiguity&quot; speaks about how...</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>
        </div>

    </div>
    <div class="more no-border">
        <a class="primary button" href="javascript:void(0)">More</a>
    </div>
</section>