---
layout: subsite-default
pageTitle: Newscenter
pageClass: subsite-wrapper
type: subsite
pageName: news
---
<div class="hero-viewport inner-page-standard wave-pattern blue">
    <div class="grid-container large">
        <div class="hero-container">
            <div id="hero" class="hero hero-text-left">
                <img src="{{root}}assets/img/content/news-home-featured.jpg" />
                <div class="hero-text">
                    <a href="#0" class="">
                        <p class="category btn-link">Genomics</p>
                        <div class="underline isolated">
                            <h1 class="hero-header">UC Santa Cruz Genomics Institute launches brain research project</h1>
                            <p class="hero-body">UCSC engineers and genomics experts are partnering with UCSF neuroscientists to develop new technology for studying human brain evolution and development</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="page-content" id="main-content">
    <div class="grid-container large">
            <div class="grid-x grid-margin-x">
                <div class="cell xlarge-7 large-12">
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-home-featured-1.jpg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Marine</div>
                            <div class="underline isolated">
                                <h3>Coral study traces excess nitrogen to Maui wastewater treatment facility</h3>
                                <div class="tags">April 3, 2019</div>
                            </div>                                
                        </div>
                    </a>
                
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="{{root}}assets/img/content/news-home-featured-2.jpg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Science</div>
                            <div class="underline isolated">
                                <h3>High-impact science and cutting-edge teaching</h3>
                                <div class="tags">April 3, 2019</div>
                            </div>                                   
                        </div>
                    </a>
                </div>
                <div class="cell xlarge-5 large-12 ">
                    <div class="news-card-list full-width has-thumbs">
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="{{root}}assets/img/content/event-thumb.jpg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Campus</div>
                                <div class="underline isolated">
                                    <h4>Roadwork to close section of Kerr Road</h4>
                                    <div class="tags">April 3, 2019</div>
                                </div>
                            </div>
                        </a>
                    
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="{{root}}assets/img/content/event-thumb.jpg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Technology</div>
                                <div class="underline isolated">
                                    <h4>Multi-Factor Authentication (MFA) is now available to self-enroll</h4>
                                    <div class="tags">April 10, 2019</div>
                                </div>
                            </div>
                        </a>
                    
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="{{root}}assets/img/content/event-1.jpeg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Programs</div>
                                <div class="underline isolated">
                                    <h4>Summer programs draw visitors to Lick Observatory for music and stargazing</h4>
                                    <div class="tags">April 11, 2019</div>
                                </div>
                            </div>
                        </a>
                    
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="{{root}}assets/img/content/event-2.jpeg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Faculty</div>
                                <div class="underline isolated">
                                    <h4>Professor Emeritus Pavel Machotka dies at 82</h4>
                                    <div class="tags">April 21, 2019</div>
                                </div>
                            </div>
                        </a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="more">
        <a class="button primary">
            <span>See More News</span>
        </a>
    </div>


<section class="heading">
    <h2 class="underline">Genomics</h2>
</section>

<div class="grid-container large"> 
    <div class="grid-x grid-margin-x">
        <div class="cell xlarge-12">

            <div class="news-card-list">
                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/news-genomics-1.jpg">
                    </div>
                    <div class="news-card-content">
                        <div class="category btn-link">Genomics</div>
                        <div class="underline isolated">
                            <h4>Biologist Olena Morozova Vaske appointed to endowed chair in pediatric genomics</h4>
                            <div class="tags">April 3, 2019</div>
                        </div>
                    </div>
                </a>
              
                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/news-genomics-2.jpg">
                    </div>
                    <div class="news-card-content">
                        <div class="category btn-link">Genomics</div>
                        <div class="underline isolated">
                            <h4>Seed-funding innovation</h4>
                            <div class="tags">April 3, 2019</div>
                        </div>
                        
                    </div>
                </a>
            
                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/news-genomics-3.jpg">
                    </div>
                    <div class="news-card-content">
                        <div class="category btn-link">Genomics</div>
                        <div class="underline isolated">
                            <h4>Data science researchers to tackle privacy challenges in genomics</h4>
                            <div class="tags">April 3, 2019</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>  
</div>

<div class="more">
    <a class="button primary">
        <span>See More Genomic News</span>
    </a>
</div>

<section class="heading">
    <h2 class="underline">Space Sciences</h2>
</section>

<div class="grid-container large">
    <div class="grid-x grid-margin-x">
        <div class="cell xlarge-6 large-12">
            <a class="news-card featured" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-space-featured.jpg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Space Sciences</div>
                    <h2 class="underline">Postdoctoral fellowship supports planetary science research</h2>
                    <p>Xinting Yu wins 51 Pegasi b Fellowship for research at UC Santa Cruz on formation of clouds and hazes on exoplanets</p>
                </div>
            </a>
        </div>
        <div class="cell xlarge-6 large-12 ">
            <div class="news-card-list full-width has-thumbs">
                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/news-space-1.jpg">
                    </div>
                    <div class="news-card-content">
                        <div class="category btn-link">Space Sciences</div>
                        <h4 class="underline isolated">Summer programs draw visitors to Lick Observatory for music and stargazing</h4>
                    </div>
                </a>
            
                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/news-space-2.jpg">
                    </div>
                    <div class="news-card-content">
                            <div class="category btn-link">Space Sciences</div>
                        <h4 class="underline isolated">Astrophysicist Enrico Ramirez-Ruiz wins AAS/HEAD Mid-Career Prize</h4>
                    </div>
                </a>
            
                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/news-space-3.jpg">
                    </div>
                    <div class="news-card-content">
                            <div class="category btn-link">Space Sciences</div>
                        <h4 class="underline isolated">MaNGA data release includes detailed maps of thousands of nearby galaxies</h4>
                    </div>
                </a>
        
                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/news-space-4.jpg">
                    </div>
                    <div class="news-card-content">
                        <div class="category btn-link">Space Sciences</div>
                        <h4 class="underline isolated">Waves in Saturn's rings give precise measurement of planet's rotation rate</h4>
                    </div>
                </a>
            
                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/news-space-5.jpg">
                    </div>
                    <div class="news-card-content">
                        <div class="category btn-link">Space Sciences</div>
                        <h4 class="underline isolated">Planetary scientist Francis Nimmo honored by Royal Astronomical Society</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
</div>
<div class="more no-border">
    <a class="button primary">
        <span>See More Space News</span>
    </a>
</div>          

<div class="grid-container large mt-25">
    <div class="grid-x grid-margin-x">
        <div class="cell large-6">
            <div class="closing-blocks">
                <h5>UC Santa Cruz Magazine</h5>
                <a href="https://magazine.ucsc.edu/">
                    <div class="image">
                        <img class="overlay" src="{{root}}assets/img/content/ucsc-magazine-white.png" />
                        <img src="{{root}}assets/img/content/ucsc-magazine.jpg" />
                    </div>
                </a>
            </div>
        </div>
        <div class="cell large-6">
            <div class="closing-blocks">
                <h5>StoryCruz Interviews</h5>
                <a href="https://soundcloud.com/ucsantacruz/sets/storycruz">
                    <div class="image">
                        <img class="overlay" src="{{root}}assets/img/content/storycruz-text.png" />
                        <img src="{{root}}assets/img/content/storycruz-interviews.jpg" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>