---
layout: subsite-default
pageTitle: Custom Logo Example
pageClass: subsite-wrapper
type: subsite
---

<div class="hero-viewport inner-page-angle wave-pattern blue">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-left">
            <div class="angle transparent"></div>
            <div class="gradient-overlay"></div>
            <div class="header-logo hide-for-large">
                <img class="subsite-brand" src="{{root}}assets/img/content/baskin-logo-normal.png" alt="{{pageTitle}}" />
                <a class="div" href="javascript:void(0)">Engineering Division</a>
            </div>
                
            <img src="{{root}}assets/img/content/baskin.jpg" />
            <div class="hero-text">
                <h1 class="hero-header">Subsite with Logo Example</h1>
                <h4 class="subhead"><a href="javascript:void(0)" class="yellow-text">PBSci</a></h4>
            </div>
        </div>
    </div>
</div>

<div class="page-content" id="main-content">

    <section class="content-w-media right">

        <div class="grid-container large">
            <div class="inner">
                <div class="content blue-bg white-text" style="color: white">
                    <h1 class="underline light white-text">Academic Divisions</h1>
                    <p>Looking for a specific division, undergraduate major, or graduate program?</p>
                    <div class="content-foot-links">
                        <a href="javascript:void(0)" class="button clear white-text">Start Here</a>
                    </div>
                </div>
    
                <div class="media">
                    <img src="{{root}}assets/img/content/divisions-small.jpg" />
                </div>
    
            </div>
        </div>
    
    </section>

</div>