---
layout: subsite-default
pageTitle: Newscenter
pageClass: subsite-wrapper
type: subsite
pageName: news
---
<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="javascript:void(0)" aria-label="Go to Newscenter Home Page">Newscenter Home</a></li>
                <li><a href="javascript:void(0)" aria-label="Go to 2019 News">2018</a></li>
                <li><a href="javascript:void(0)" aria-label="Go to 2019 News">December</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Coral study traces...
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="page-content" id="main-content">
    <div class="grid-container large">
        <div class="grid-x grid-margin-x">
            <div class="cell large-12">
                <a href="javascript:void(0)" class="category btn-link" aria-label="">Marine</a>
             </div>
             <div class="cell xlarge-8">
                <h1>Coral study traces excess nitrogen to Maui wastewater treatment facility</h1>
                <p class="lead">Nutrient pollution has been blamed for algal blooms and degradation of coral reefs along Maui's west coast</p>
            </div>
            <div class="cell xlarge-4">
                <div class="sidebar">
                    <div class="profile-info">
                        <div class="profile-prefix">By </div>
                        <div class="profile-name">
                            <a class="btn-link" href="javascript:void(0)" aria-label="">Tim Stephans</a>
                        </div>
                        <div class="profile-date">March 21, 2019</div>
                    </div>
                    <h5>Share this story:</h5>
                    {{>social-sharing type='top && right'}}
                </div>
            </div>
        </div>
    </div>
<br />
    <div class="grid-container large">
        <figure class="img-full">
            <div class="image">
                <img src="{{root}}assets/img/content/news-post-large.jpg" alt="">
            </div>
    
                <figcaption>
                    <div class="caption-title"></div>
                    <div class="caption-desc">
                        <p>Groundwater carrying excess nutrients from treated sewage enters coastal waters through submarine freshwater seeps in the reef off the coast of Maui. (Photo by Peter Swarzenski, USGS)</p>
                    </div>
                </figcaption>
                 
        </figure>
    </div>
    <div class="grid-container"> 
        <div class="grid-x grid-margin-x">
            
            <div class="cell">
                <p>A new method for reconstructing changes in nitrogen sources over time has enabled scientists to connect excess nutrients in the coastal waters of West Maui, Hawaii, to a sewage treatment facility that injects treated wastewater into the ground.</p>

                <p>Algal blooms and degradation of coral reefs along Maui's coast have been attributed to nutrient pollution, and previous studies have suggested the Lahaina Wastewater Reclamation Facility is a major source of excess nutrients in coastal waters. Previous experiments using dye tracers showed a direct link between the facility's injection site and small submarine seeps that discharge freshwater near the coral reefs. But there are many potential sources of nitrogen, and it has been hard to show that the excess nitrogen in the water comes from the treatment plant.</p>

                <figure class="img-right-50">
                    <img src="{{root}}assets/img/content/news-post-large.jpg" alt="">
                    <figcaption>
                        <div class="caption-title"></div>
                        <div class="caption-desc">
                            <p>Groundwater carrying excess nutrients from treated sewage enters coastal waters through submarine freshwater seeps in the reef off the coast of Maui. (Photo by Peter Swarzenski, USGS)</p>
                        </div>
                    </figcaption>
                </figure>

                <p>"They didn't have a smoking gun to say that the nitrogen came from the sewage," said Adina Paytan, a research professor in the Institute of Marine Sciences at UC Santa Cruz.</p>

                <p>Paytan and UCSC graduate student Joseph Murray worked with U.S. Geological Survey researchers <a href="#0" class="btn-link">Nancy Prouty</a> and <a href="#0" class="btn-link">NSara Peek</a> on the new study, published April 3 in Scientific Reports.</p>

                <p>"While submarine groundwater discharge is a natural process, humans are altering the composition of the water, making the reefs vulnerable to activities we do on land," Prouty said.</p>

                <figure class="img-left-50">
                    <img src="{{root}}assets/img/content/news-post-large-2.jpg" alt="">
                    <figcaption>
                        <div class="caption-title"></div>
                        <div class="caption-desc">
                            <p>This heavily bioeroded coral was collected near a submarine groundwater discharge vent off the coast of Maui. (Photo by Nancy Prouty, USGS)</p>
                        </div>
                    </figcaption>
                </figure>

                <p>The researchers developed a procedure for analyzing nitrogen isotopes incorporated into the crystal structure of coral skeletons. Corals lay down new skeleton material in layers that can be seen in cross-section and dated like tree rings. This enabled the researchers to correlate changes in nitrogen isotopes in the corals with changes in the operations of the wastewater facility.</p>

                <p>In addition to the implications for addressing <a href="#0" class="btn-link">inutrient pollution in Maui</a>, the new findings demonstrate the power of this technique for tracking historical changes in nutrients in seawater.</p>

                <p>"It's a very accurate and high-resolution way to record past nutrient pollution in seawater, which is a huge problem globally," Paytan said. "It opens up a lot of possibilities for looking at historic nitrogen pollution and other changes in nitrogen sources over time. And you don't have to use coral--you could also use clam shells, for example."</p>
                
                <p>"In Maui, the researchers collected cores from corals at sites near the submarine seeps. Their analysis provided a 40-year record of nitrogen isotopes incorporated into the coral skeletons. The results showed a dramatic change in the isotopes after 1995, corresponding with the implementation of a biological nutrient removal process at the Lahaina Wastewater Reclamation Facility.</p>
                        
                <p>"Paytan explained that the nutrient removal process preferentially removes lighter <a href="#0" class="btn-link">isotopes of nitrogen</a>, so the remaining nitrogen is enriched in the heavier nitrogen-15 isotope.</p>
                        
                <p>"There is no other process that would result in this signature, so it has to be from the sewage," she said. "Even though the treatment process removes some of the nitrogen, there is so much in the sewage that there is still a lot left, and when they inject it into the groundwater it ends up in coastal waters."</p>
                        
                <p>"In February, the U.S. Supreme Court agreed to hear a case involving the Lahaina Wastewater Reclamation Facility and the Clean Water Act, with potentially far-reaching implications for federal environmental protections.</p>
                        
                <p>"This research was supported by the USGS Coastal and Marine Geology Program and NOAA's Coral Reef Conservation Program.</p>
                        
                    
                <p>Topics: <a class="btn-link" href="javascript:void(0)"> Geology</a>, <a class="btn-link" href="javascript:void(0)">Conservation</a></p>
            
            </div>
        </div>

        {{>social-sharing type='bottom'}}

    </div>
    
    <section class="heading">
        <h2 class="underline">Related News</h2>
    </section>

    <div class="grid-container large">
        <div class="news-card-list">
            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-image-1.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Arts &amp; Sciences</div>
                    <h4 class="underline isolated">Guillermo Gómez-Peña returns to UCSC to perform his latest solo work:
                        "The Most (un) Documented Mexican Artist"</h4>
                </div>
            </a>

            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-image-2.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Arts &amp; Sciences</div>
                    <h4 class="underline isolated">UCSC to bring art/science LASER series downtown for special evening at Rio Theater</h4>
                        
                </div>
            </a>
        
            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="{{root}}assets/img/content/news-image-3.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Humanities</div>
                    <h4 class="underline isolated">Borderbus: A community conversation about migration, art, and social justice</h4>
                </div>
            </a>
        </div>
    </div>
</div>