---
pageTitle: Storytelling Gateway Landing Page
pageClass: gateway-wrapper
pageName: aboutUCSC
type: gateway
---

<div class="hero-viewport inner-page-angle wave-pattern turquiose">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-left">
            <div class="angle transparent"></div>
            <div class="gradient-overlay"></div>

            <img src="{{root}}assets/img/content/about-giving.jpg" />
            <div class="hero-text">
                <h1 class="hero-header">About UC Santa Cruz</h1>
                <p class="hero-body">Progressive, bold, fearless education that benefits both the individual and the
                    planet.</p>
            </div>
        </div>
    </div>
</div>

<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="javascript:void(0)">Home</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> About UCSC
                </li>
            </ul>
        </nav>
    </div>
</div>

<section class="content-w-media left haltered">

    <div class="grid-container large">
        <div class="inner">

            <div class="content box-shadow">
                <h2 class="underline">Principles of Community</h2>
                <p>The University of California, Santa Cruz is committed to promoting and protecting an environment that
                    values and supports every person in an atmosphere of civility, honesty, cooperation, professionalism
                    and fairness. UC Santa Cruz expects that every campus member will practice these Principles of Community.
                </p>
                <p><a class="button secondary" href="https://www.ucsc.edu/about/campus-overview.html">More</a></p>

            </div>

            <div class="media">
                <img src="{{root}}assets/img/content/about-students.jpg">
            </div>

        </div>
    </div>

</section>


<section class="content-w-media right haltered">

    <div class="grid-container large">
        <div class="inner">

            <div class="content box-shadow">

                <h2 class="underline">History</h2>
                <p class="lead">Since its founding in 1965, the University of California, Santa Cruz, has earned
                    international distinction as a university with high-impact research and an uncommon commitment to
                    teaching and public service.</p>
                <p>A campus with world-class facilities and one of the most visually spectacular settings in higher
                    education, UC Santa Cruz offers rigorous academic programs and cutting-edge research opportunities
                    that teach students how to think, not what to think. A commitment to environmental stewardship and
                    community engagement are central to UCSC's core values.</p>

                <p><a class="button primary" href="https://www.ucsc.edu/about/campus-overview.html">Campus Overview</a></p>
            </div>

            <div class="media video">
                <img src="{{root}}assets/img/content/about-history.jpg">
            </div>

        </div>
    </div>

</section>

<section class="content-w-media right muted-blue-bg wave-pattern green">
    <div class="grid-container large">
        <section class="heading">
            <h2 class="underline">By the Numbers</h2>
        </section>
        <div class="factoid-card-list">
            <div class="factoid">
                <div class="category">Career Path</div>
                <h3 class="value green-text">65</h3>
                <h4 class="unit">Undergraduate Majors</h4>
                <div class="convert"><a class="btn-link" href="#0">Find a Major</a></div>
            </div>

            <div class="factoid">
                <div class="category">Campus</div>
                <h3 class="value pink-text">2000</h3>
                <h4 class="unit">Acres Overlooking Scenic Monterey Bay</h4>
                <div class="convert"><a class="btn-link" href="{[root]}/templates/template-image-gallery.html">See Gallery</a></div>
            </div>

            <div class="factoid">
                <div class="category">Grad Rates</div>
                <h3 class="value blue-text">46%</h3>
                <h4 class="unit">First-Generation College Graduates</h4>
                <div class="convert"><a class="btn-link" href="#0">Get Started</a></div>
            </div>
        </div>
    </div>
    <div class="more no-border">
        <a class="primary button" href="javascript:void(0)">More facts &amp figures</a>
    </div>

</section>

<section class="heading">
    <h2 class="underline">University News</h2>
</section>

<div class="grid-container large">
    <div class="grid-x grid-margin-x">
        <div class="cell xlarge-6 large-12">
            <a class="news-card featured" href="javascript:void(0)" aria-label="">
               <div class="image">
                    <img src="{{root}}assets/img/content/about-featured.jpg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">Alumni</div>
                    <div class="underline">
                        <h2>Return of the Slugs</h2>
                        <p class="tags">February 11, 2019</p>
                    </div>
                    <p>Alumni Weekend 2019 is just around the corner. This year's festivities
                        will take place from Friday, April 26, through Sunday, April 28. Highlights include a talk
                        about "high-impact science,'' the ever-popular beer and wine reception, and a reunion of the
                        college band Flowers of Evil.</p>
                </div>
            </a>
        </div>
        <div class="cell xlarge-6 large-12">
            <div class="news-card-list full-width has-thumbs">
                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/event-thumb.jpg">
                    </div>
                    <div class="news-card-content">
                        <div class="category btn-link">Publications</div>
                        <h4>Two new books published by UC Santa Cruz poet, lecturer, and alumnus Gary
                            Younge</h4>
                        <div class="tags">March 25, 2019</div>
                    </div>
                </a>
                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/event-1.jpeg">
                    </div>
                    <div class="news-card-content">
                        <div class="category btn-link">Faculty</div>
                        <h4>Lit prof offers true love and dreams of miraculous escape</h4>
                        <div class="tags">March 25, 2019</div>
                    </div>
                </a>
                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/event-2.jpeg">
                    </div>
                    <div class="news-card-content">
                        <div class="category btn-link">Faculty</div>
                        <h4>UC Santa Cruz historian and founding faculty member John Dizikes dies at 86
                        </h4>
                        <div class="tags">March 25, 2019</div>
                    </div>
                </a>

                <a class="news-card" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="{{root}}assets/img/content/event-3.jpeg">
                    </div>
                    <div class="news-card-content">
                        <div class="category btn-link">Awards &amp; Recogonitions</div>
                        <h4>Psychology Professor Margarita Azmitia wins mentor award</h4>
                        <div class="tags">April 8, 2019</div>
                    </div>
                </a>
            </div>
            <a class="btn-link right">More News</a>
        </div>
    </div>

</div>

<section class="content-w-media left haltered">

    <div class="grid-container large">
        <div class="inner">

            <div class="content box-shadow">
                <h2 class="underline">Banana Slug</h2>
                <p class="lead">In a world of beavers, bears, and bobcats, UCSC is home to the mighty Banana Slug —
                    which students voted in 1986 to adopt as the official campus mascot.</p>
                <p>The Banana Slug, a bright yellow, slimy, shell-less mollusk commonly found on the redwood forest
                    floor, was the unofficial mascot for UC Santa Cruz coed teams since the university's early years.
                    The students' embrace of such a lowly creature was their response to the fierce athletic
                    competition fostered at most American universities. </p>
                <a class="btn-link" href="javascript:void(0)">More</a>
            </div>

            <div class="media">
                <img src="{{root}}assets/img/content/about-slug.jpg">
            </div>

        </div>
    </div>

</section>

<section class="wave-pattern blue">
    <section class="profile-w-media right">
        <div class="grid-container large">
            <div class="profile">
                <div class="inner ">
                    <div class="content">
                        
                        <h2 class="underline">Leadership &amp; Organization</h2>
                        <p>
                            <a href="javascript:void(0)" aria-label="">Chancellor George R. Blumenthal</a> is
                            a distinguished scholar and academic leader with a long tenure at UC Santa Cruz and
                            within the University of California system. He has served as the 10th chancellor at UC
                            Santa Cruz since July 2006, initially as acting chancellor. The UC Board of Regents
                            appointed him permanent chancellor 14 months later in September 2007. Chancellor
                            Blumenthal joined UC Santa Cruz in 1972 as a professor of astronomy and astrophysics.
                        </p>
                        <a class="button primary" href="javascript:void(0)">Meet Administration</a>
                    </div>
            
                    <div class="media">
                        <div class="image">
                            <a href="javascript:void(0)" aria-label="">
                                <img class="profile-image" src="{{root}}assets/img/content/about-blumenthal.jpg" alt="Profile" />
                            </a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>



<div class="grid-container large">
    <section class="heading">
        <h2 class="underline">Events</h2>
    </section>

    <div class="events-card-list">
            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Feb</div>
                        <div class="day">14</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-1.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header underline">Center for Public Philosophy: High School Regional Ethics Bowl</h4>
                            <p class="event-description">Teams of up to five high school students have the fall
                                    semester to develop their thinking on 15 real-world ethical questions</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>

            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Feb</div>
                        <div class="day">21</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-1.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header underline">Linguistics Colloquium: Naomi Francis &quot;Even in presupposition denials&quot;</h4>
                            <p class="event-description">About eight times each year, the department hosts
                                    colloquia by distinguished faculty from around the world.</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>

            <a class="events-card" href="javascript:void(0)">
                <div class="events-card-content">
                    <div class="date">
                        <div class="month">Feb</div>
                        <div class="day">21</div>
                    </div>
                
                    <div class="inner">
                        <div class="image">
                            <img src="{{root}}assets/img/content/event-1.jpeg" />
                        </div>
                        <div class="card-content">
                            <h4 class="header underline">Ralina Joseph: &quot;Postracial Resistance-Black Women, Media, and the
                                    Uses of Strategic Ambiguity&quot;</h4>
                            <p class="event-description">&quot;Post Racial Resistance-Black Women, Media, and the
                                    Uses of Strategic Ambiguity&quot; speaks about how...</p>
                            <div class="tags">
                                <span class="topics-title">
                                    <div class="time">
                                        <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                    </div>
                                    <div class="location">
                                        <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>   
                </div>
            </a>
        </div>
</div>
<div class="more no-border">
    <a class="button primary" href="https://events.ucsc.edu/">
        <span>See More Events</span>
    </a>
</div>
