---
pageTitle: UC Santa Cruz
pageClass: gateway-wrapper
type: gateway
---
<div class="hero-viewport inner-page-angle wave-pattern blue">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-right">
            <div class="angle transparent"></div>
            <div class="gradient-overlay"></div>
            
            <img src="{{root}}assets/img/content/psych-student.jpg" />
            <div class="hero-text">
                <h1 class="hero-header">Welcome to the Feature Template</h1>
                <h4 class="subhead"><a href="javascript:void(0)" class="yellow-text">Optional Label</a></h4>
            </div>
        </div>
    </div>
</div>

<div class="page-utilities">
    <div class="grid-container large">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Academics</a></li>
                <li><a href="javascript:void(0)">Departments</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Department of Psychology
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="grid-container large">
    <div class="button-list">
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text">Department <strong class="blue-text">Button 1</strong> </span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text">Department <strong class="blue-text">Button 2</strong> </span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text">Department <strong class="blue-text">Button 3</strong> </span>
        </a>
        <a class="button" href="javascript:void(0)" target="_blank">
            <span class="button-text">Department <strong class="blue-text">Button 4</strong> </span>
        </a>
    </div>
</div>

<div class="page-content" id="main-content">
    <div class="layout-two-column large">
        <div class="wrap">
            <div class="inner">
               <div class="column-main">
                    <h1 class="underline">Welcome!</h1>
                    <p class="lead">The Psychology department is home to some of the most creative faculty and unique research programs in the country. Also, most of our faculty are award-winning instructors! For more information, please go to our <a class="btn-link" href="http://psychology.ucsc.edu/faculty/index.php">faculty web page</a>.</p>
                    <p class="lead">Our department administers the undergraduate Psychology major, the undergraduate Cognitive Science major, and three graduate programs in psychology.</p>
                
                        <div class="grid-x grid-margin-x">
                            <div class="cell xlarge-6 large-12">
                                <a class="news-card featured" href="javascript:void(0)" aria-label="">
                                   <div class="image">
                                        <img src="{{root}}assets/img/content/phil-hammack.jpg">
                                    </div>
                                    <div class="news-card-content">
                                        <div class="category btn-link">Category</div>
                                        <div class="underline">
                                            <h4>From asexuality to heteroflexibility: 21st century ushers in new openness about intimate relationships</h4>
                                            <div class="tags">March 25, 2019</div>
                                        </div>
                                        <p>The 21st century has ushered in a "quiet revolution" in the diversity of intimate relationships, and a leading scholar says the scale and pace of this social transformation warrants a "reboot" of relationship studies.</p>
                                    </div>
                                </a>
                            </div>
                          
                            <div class="cell xlarge-6 large-12">
                                <div class="news-card-list full-width has-thumbs">
                                        <a class="news-card" href="javascript:void(0)" aria-label="">
                                            <div class="image">
                                                <img src="{{root}}assets/img/content/event-thumb.jpg">
                                            </div>
                                            <div class="news-card-content">
                                                <div class="category btn-link">Publications</div>
                                                <h4>Two new books published by UC Santa Cruz poet, lecturer, and alumnus Gary
                                                    Younge</h4>
                                                <div class="tags">March 25, 2019</div>
                                            </div>
                                        </a>
                                        <a class="news-card" href="javascript:void(0)" aria-label="">
                                            <div class="image">
                                                <img src="{{root}}assets/img/content/event-1.jpeg">
                                            </div>
                                            <div class="news-card-content">
                                                <div class="category btn-link">Faculty</div>
                                                <h4>Lit prof offers true love and dreams of miraculous escape</h4>
                                                <div class="tags">March 25, 2019</div>
                                            </div>
                                        </a>
                                        <a class="news-card" href="javascript:void(0)" aria-label="">
                                            <div class="image">
                                                <img src="{{root}}assets/img/content/event-2.jpeg">
                                            </div>
                                            <div class="news-card-content">
                                                <div class="category btn-link">Faculty</div>
                                                <h4>UC Santa Cruz historian and founding faculty member John Dizikes dies at 86
                                                </h4>
                                                <div class="tags">March 25, 2019</div>
                                            </div>
                                        </a>
        
                                        <a class="news-card" href="javascript:void(0)" aria-label="">
                                            <div class="image">
                                                <img src="{{root}}assets/img/content/event-3.jpeg">
                                            </div>
                                            <div class="news-card-content">
                                                <div class="category btn-link">Awards &amp; Recogonitions</div>
                                                <h4>Psychology Professor Margarita Azmitia wins mentor award</h4>
                                                <div class="tags">April 8, 2019</div>
                                            </div>
                                        </a>
                                    </div>
                                    <a class="btn-link right">More Social Sciences News</a>
                            </div>
                        </div>
                    
                </div>

                <div class="column-support">
                    <div class="content-block">
                        <h5 class="blue-text">Location:</h5>
                        <p>Social Sciences 2, Room 273 located in College 10. <a class="btn-link">map <i class="fas fa-map"></i></a></p>  
                        <h5 class="blue-text">Office Hours:</h5>
                        <p>Monday - Thursday, 9:00-12 noon &amp; 1:00-4:00 pm. Closed Friday</p>    
                        <h5 class="blue-text">Phone:</h5>
                        <p>(831)459-2002</p>
                        <h5 class="blue-text">Fax:</h5>
                        <p> (831)459-2002</p>
                        <h5 class="blue-text">Mailing Address:</h5>
                         <p>
                            Psychology Department<br>
                            Psychology Faculty Services<br>
                            University of California, Santa Cruz<br>
                            1156 High Street<br>
                            Santa Cruz, CA 95064</p>
                        <h5 class="blue-text">Division:</h5>
                        <p><a class="btn-link" href="http://humanities.ucsc.edu">Humanities</a></p>
                        <br>
                        <a class="button primary expanded" href="https://psychology.ucsc.edu">Psychology Website</a>
                                                  
                    </div>

                </div>

            </div>
        </div>
    </div>
    <section class="wave-pattern blue">
        <div class="grid-container large">
            <section class="heading">
                <h2 class="underline">Faculty</h2>
            </section>
    
            <div class="grid-x grid-margin-x">
                <div class="cell large-12">
                    <div class="profile-list owl-carousel">
                        <a class="profile carousel-item" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="{{root}}assets/img/content/history-faculty-1.jpg" alt="Profile" />
                            </div>
                            <div class="profile-info">
                                <h4 class="underline tighten">David Henry Anthony III</h4>
                                <p>Associate Professor</p>
                                <p class="btn-link"><i class="fas fa-envelope"></i> danthony@ucsc.edu</p>
                            </div>
                        </a>
                        
                        <a class="profile carousel-item" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="{{root}}assets/img/content/history-faculty-2.jpg" alt="Profile" />
                            </div>
                            <div class="profile-info">
                                <h4 class="underline tighten">Noriko Aso</h4>
                                <p>Associate Professor Chair, Committee on Courses of Instruction</p>
                                <p class="btn-link"><i class="fas fa-envelope"></i> naso@ucsc.edu</p>
                            </div>
                        </a>
                        
                        <a class="profile carousel-item" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="{{root}}assets/img/content/history-faculty-3.jpg" alt="Profile" />
                            </div>
                            <div class="profile-info">
                                <h4 class="underline tighten">Benjamin Breen</h4>
                                <p>Assistant Professor</p>
                                <p class="btn-link"><i class="fas fa-envelope"></i> bebreen@ucsc.edu</p>
                            </div>
                        </a>

                        <a class="profile carousel-item" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="{{root}}assets/img/content/history-faculty-1.jpg" alt="Profile" />
                            </div>
                            <div class="profile-info">
                                <h4 class="underline tighten">David Henry Anthony III</h4>
                                <p>Associate Professor</p>
                                <p class="btn-link"><i class="fas fa-envelope"></i> danthony@ucsc.edu</p>
                            </div>
                        </a>
                        
                        <a class="profile carousel-item" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="{{root}}assets/img/content/history-faculty-2.jpg" alt="Profile" />
                            </div>
                            <div class="profile-info">
                                <h4 class="underline tighten">Noriko Aso</h4>
                                <p>Associate Professor Chair, Committee on Courses of Instruction</p>
                                <p class="btn-link"><i class="fas fa-envelope"></i> naso@ucsc.edu</p>
                            </div>
                        </a>
                        
                        <a class="profile carousel-item" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="{{root}}assets/img/content/history-faculty-3.jpg" alt="Profile" />
                            </div>
                            <div class="profile-info">
                                <h4 class="underline tighten">Benjamin Breen</h4>
                                <p>Assistant Professor</p>
                                <p class="btn-link"><i class="fas fa-envelope"></i> bebreen@ucsc.edu</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="more">
            <a class="primary button" href="javascript:void(0)">Search all Faculty</a>
        </div>
    </section>
    
    <section class="heading">
        <h2 class="underline">Events with the Psychology Department</h2>
    </section>

    <div class="grid-container large">
        <div class="events-card-list">
                <a class="events-card" href="javascript:void(0)">
                    <div class="events-card-content">
                        <div class="date">
                            <div class="month">Feb</div>
                            <div class="day">20</div>
                        </div>
                    
                        <div class="inner">
                            <div class="image">
                                <img src="{{root}}assets/img/content/event-1.jpeg" />
                            </div>
                            <div class="card-content">
                                <h4 class="header">February Kraw Lecture with Angela Brooks</h4>
                                <p class="event-description">Brooks, an expert in the analysis of RNA sequencing data, is studying the role of RNA splicing aberrations in cancer.</p>
                                <div class="tags">
                                    <span class="topics-title">
                                        <div class="time">
                                            <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                        </div>
                                        <div class="location">
                                            <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>   
                    </div>
                </a>

                <a class="events-card" href="javascript:void(0)">
                    <div class="events-card-content">
                        <div class="date">
                            <div class="month">Feb</div>
                            <div class="day">20</div>
                        </div>
                    
                        <div class="inner">
                            <div class="image">
                                <img src="{{root}}assets/img/content/event-2.jpeg" />
                            </div>
                            <div class="card-content">
                                <h4 class="header">International Women's Day: Celebrating Feminist Scholarship from the Americas</h4>
                                <p class="event-description">The Research Center for the Americas invites
                                        you to join us as we celebrate International Women's Day with book talks by two
                                        leading feminist scholars.</p>
                                <div class="tags">
                                    <span class="topics-title">
                                        <div class="time">
                                            <i class="fa fa-clock-o turquiose-text"></i> Thursday, February 28 at 1:30pm to 5:00pm
                                        </div>
                                        <div class="location">
                                            <i class="fa fa-map-marker turquiose-text"></i> Merrill Cultural Center
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>   
                    </div>
                </a>

                <a class="events-card" href="javascript:void(0)">
                    <div class="events-card-content">
                        <div class="date">
                            <div class="month">Feb</div>
                            <div class="day">20</div>
                        </div>
                    
                        <div class="inner">
                            <div class="image">
                                <img src="{{root}}assets/img/content/event-3.jpeg" />
                            </div>
                            <div class="card-content">
                                <h4 class="header">Grad Slam - 3 Minute Thesis Challenge</h4>
                                <p class="event-description">UCSC graduate students spend years on their
                                        theses and dissertations. Can they explain their research in three minutes? Join us
                                        and find out!</p>
                                <div class="tags">
                                    <span class="topics-title">
                                        <div class="time">
                                            <i class="fa fa-clock-o turquiose-text"></i> Friday, March 8 at 5:30pm to 8:00pm
                                        </div>
                                        <div class="location">
                                            <i class="fa fa-map-marker turquiose-text"></i> Kuumbwa Jazz Center
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>   
                    </div>
                </a>
            </div>
        <div class="more no-border">
            <a class="button primary">
                <span>See More Events</span>
            </a>
        </div>
    </div>
</div>