<div class="subsite-menu" id="site-menu">
    <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion xlarge-dropdown" data-disable-hover="true" data-click-open="true">
        <li><a href="javascript:void(0)" aria-label="">Nav Item 1</a></li>
        <li><a href="javascript:void(0)" aria-label="">Nav Item 2</a></li>
        <li><a href="javascript:void(0)" aria-label="">Nav Item 3</a></li>
        <li><a href="javascript:void(0)" aria-label="">Nav Item 4</a></li>
        <li><a href="javascript:void(0)" aria-label="">Nav Item 5</a></li>
        <li><a href="javascript:void(0)" aria-label="">Nav Item 6</a></li>
        <li><a href="javascript:void(0)" aria-label="">Nav Item 7</a></li>
    </ul>
</div>