<div class="subsite-menu" id="site-menu">
    <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion xlarge-dropdown" data-disable-hover="true" data-click-open="true">
        <li><a href="javascript:void(0)" aria-label="">About</a></li>
        <li><a href="javascript:void(0)" aria-label="">Undergraduate</a></li>
        <li><a href="javascript:void(0)" aria-label="">Graduate</a></li>
        <li><a href="javascript:void(0)" aria-label="">Faculty</a></li>
        <li><a href="javascript:void(0)" aria-label="">Courses</a></li>
        <li><a href="javascript:void(0)" aria-label="">News &amp; Events</a></li>
    </ul>
</div>