<div class="subsite-menu" id="site-menu">
    <ul class="vertical large-horizontal menu align-middle" data-responsive-menu="accordion xlarge-dropdown" data-disable-hover="true" data-click-open="true">
        <li>
            <a href="javascript:void(0)" aria-label="">About Us</a>
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="javascript:void(0)" aria-label="">Dean's Welcome Message</a></li>
                <li><a href="javascript:void(0)" aria-label="">At a Glance</a></li>
                <li><a href="javascript:void(0)" aria-label="">Baskin News Beat 2017</a></li>
                <li><a href="javascript:void(0)" aria-label="">Baskin News Beat 2018</a></li>
                <li><a href="javascript:void(0)" aria-label="">Development</a></li>
                <li><a href="javascript:void(0)" aria-label="">Directions to the BSOE</a></li>
                <li><a href="javascript:void(0)" aria-label="">Employment</a></li>
                <li><a href="javascript:void(0)" aria-label="">Our Naming Gift</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)" aria-label="">Academics</a>
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="javascript:void(0)" aria-label="">Academic Calendar</a></li>
                <li><a href="javascript:void(0)" aria-label="">Class Schedules</a></li>
                <li><a href="javascript:void(0)" aria-label="">Curriculum Charts</a></li>
                <li><a href="javascript:void(0)" aria-label="">Graduate</a></li>
                <li><a href="javascript:void(0)" aria-label="">Undergraduate</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)" aria-label="">Departments</a>
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="javascript:void(0)" aria-label="">Applied Mathematics</a></li>
                <li><a href="javascript:void(0)" aria-label="">Biomolecular Engineering</a></li>
                <li><a href="javascript:void(0)" aria-label="">Computational Media</a></li>
                <li><a href="javascript:void(0)" aria-label="">Computer Science and Engineering</a></li>
                <li><a href="javascript:void(0)" aria-label="">Electrical and Computer Engineering</a></li>
                <li><a href="javascript:void(0)" aria-label="">Statistics</a></li>
            </ul>
        </li>
        <li><a href="javascript:void(0)" aria-label="">Degree Programs</a></li>
        <li>
            <a href="javascript:void(0)" aria-label="">Industry</a>
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="javascript:void(0)" aria-label="">Industry Engagement</a></li>
                <li><a href="javascript:void(0)" aria-label="">Spinoffs and Startups</a></li>
                <li><a href="javascript:void(0)" aria-label="">Available Technologies</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)" aria-label="">People</a>
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="javascript:void(0)" aria-label="">Faculty</a></li>
                <li><a href="javascript:void(0)" aria-label="">Graduate Students</a></li>
                <li><a href="javascript:void(0)" aria-label="">Researchers</a></li>
                <li><a href="javascript:void(0)" aria-label="">Staff</a></li>
                <li><a href="javascript:void(0)" aria-label="">Alumni</a></li>
                <li><a href="javascript:void(0)" aria-label="">Humans of BSOE</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)" aria-label="">Research</a>
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="javascript:void(0)" aria-label="">Centers</a></li>
                <li><a href="javascript:void(0)" aria-label="">Institutes</a></li>
                <li><a href="javascript:void(0)" aria-label="">Labs</a></li>
                <li><a href="javascript:void(0)" aria-label="">Patents</a></li>
                <li><a href="javascript:void(0)" aria-label="">Technical Reports</a></li>
                <li><a href="javascript:void(0)" aria-label="">Undergraduate Research</a></li>
            </ul>
        </li>
        <li><a href="javascript:void(0)" aria-label="">Quick Links</a></li>
    </ul>
</div>