<div class="subsite-menu" id="site-menu">
    <ul class="horizontal menu">
        <li><a href="javascript:void(0)" aria-label="">About Us</a></li>
        <li><a href="javascript:void(0)" aria-label="">Academics</a> </li>
        <li><a href="javascript:void(0)" aria-label="">Departments</a></li>
        <li><a href="javascript:void(0)" aria-label="">Degree Programs</a></li>
        <li><a href="javascript:void(0)" aria-label="">Industry</a></li>
        <li><a href="javascript:void(0)" aria-label="">People</a></li>
        <li><a href="javascript:void(0)" aria-label="">Research</a></li>
        <li><a href="javascript:void(0)" aria-label="">Quick Links</a></li>
    </ul>
</div>