<div class="subsite-menu" id="site-menu">
    <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion xlarge-dropdown" data-disable-hover="true" data-click-open="true">
        <li><a href="javascript:void(0)" aria-label="">About</a></li>
        <li><a href="javascript:void(0)" aria-label="">Academics</a></li>
        <li><a href="javascript:void(0)" aria-label="">Research</a></li>
        <li><a href="javascript:void(0)" aria-label="">News &amp; Events</a></li>
        <li><a href="javascript:void(0)" aria-label="">Support Us</a></li>
        <li>
            <a href="javascript:void(0)" aria-label="">Resources</a>
            <ul class="dropdown menu" data-dropdown-menu>
                <li><a href="javascript:void(0)" aria-label="">PBSci Business Office</a></li>
                <li><a href="javascript:void(0)" aria-label="">PBSci Computing Group</a></li>
                <li><a href="javascript:void(0)" aria-label="">PBSci Notices &amp; Policy Documents</a></li>
                <li><a href="javascript:void(0)" aria-label="">Academic Calendar</a></li>
                <li><a href="javascript:void(0)" aria-label="">Office of Sponsored Projects</a></li>
                <li><a href="javascript:void(0)" aria-label="">Academic Calendar</a></li>
            </ul>
        </li>
    </ul>
</div>