<!------------------------------------------------------------------>
<!---------- <a> and <div> can be used interechanegeably ----------->
<!------------------------------------------------------------------>
<a class="events-card" href="javascript:void(0)">
    <div class="events-card-content">
        <div class="date">
            <div class="month">Feb</div>
            <div class="day">20</div>
        </div>
    
        <div class="inner">
            <!--------------------------------------------------------->
            <!----------Allows for graceful removal of image ---------->
            <!---------------Remove entire "image" div----------------->
            <!--------------------------------------------------------->

            <div class="image">
                <img src="{{root}}assets/img/content/event-1.jpeg" />
            </div>
            <div class="card-content">
                <h4 class="header">February Kraw Lecture with Angela Brooks</h4>
                <p class="event-description">Brooks, an expert in the analysis of RNA sequencing data, is studying the role of RNA splicing aberrations in cancer.</p>
                <div class="tags">
                    <span class="topics-title">
                        <div class="time">
                            <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                        </div>
                        <div class="location">
                            <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                        </div>
                    </span>
                </div>
            </div>
        </div>   
    </div>
</a>
