<!-------------------------------------------------------------------------------------------->
<!------------ Apply text colors to the values with the following color classes -------------->
<!--------.blue-text, .yellow-text, .seagreen-text, .green-text, .turquiose-text .pink-text -->
<!-------------------------------------------------------------------------------------------->
<!------------ Buttons are optional -------------->
<!-------------------------------------------------------------------------------------------->

<div class="factoid">
    <h2 class="value blue-text">65</h2>
    <h4 class="unit">Undergraduate Majors</h4>
    <div class="convert"><a class="btn-link" href="javascript:void(0)">Button </a></div>
</div>