<!-------------------------------------------------------------------------------------------->
<!------When presented in a list 'small' can be added  to generic-card to shrink width-------->
<!-------------------------------------------------------------------------------------------->
<a class="generic-card" href="javascript:void(0)" aria-label="">
    <div class="image">
        <img src="{{root}}assets/img/content/visit-campustours.jpg" />
    </div>
    <div class="card-text">
        <h4 class="underline">Maps &amp; Directions</h4>
        <p>UC Santa Cruz is located in Central California on 2,000 acres overlooking the Monterey Bay. It is easily reached by major highways, with airports nearby.</p>
    </div>
</a>
