<!------------------------------------------------------------------>
<!---------- <a> and <div> can be used interechanegeably ----------->
<!------------------------------------------------------------------>
<a class="job-posting-card">
    <div class="category" href="javascript:void(0)" aria-label="">
        Internship
    </div>
    <h4 class="underline">2D Visual Art Lecturer Pool (Ongoing)</h4>
    <div class="specs">
        <p class="date">
            Listed: March 24, 2019<br />
            Apply by: May 6, 2019
        </p>
        <div class="tags">
            <p class="job-number">
                JPF00505-18
            </p>
        </div>
    </div>
</a>