
<a class="news-card{{#ifequal class 'featured'}} featured{{/ifequal}}" href="javascript:void(0)" aria-label="">
    <div class="image">
        <img src="{{root}}assets/img/content/news-image-1.jpeg">
    </div>
    <div class="news-card-content">
        <div class="category btn-link">Arts &amp; Sciences</div>
        <div class="underline">
            <h4>Guillermo Gómez-Peña returns to UCSC to perform his latest solo work: &quot;The Most (un) Documented Mexican Artist&quot;</h4>
            <div class="tags">February 11, 2019</div>
        </div>
        <p>Internationally renowned artist Guillermo Gómez-Peña returns to UC Santa
            Cruz on March 5 to perform his latest solo work, &quot;The Most (un) Documented Mexican Artist,&quot;
            at the Theater Arts Second Stage, beginning at 7 p.m.</p>
    </div>
</a>
        

        