<ul class="hero-ribbon white">
        <li>
            <a href="javascript:void(0)" target="_blank">Featured article headlining said news collection</a>
            <ul>
                <li><strong>Month, Day</strong></li>
                <li>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nostrum eligendi soluta accusantium.
                    </p>
                </li>
            </ul>
        </li>
        <li class="secondary">
            <a href="javascript:void(0)" target="_blank">Secondary featured article headline</a>
            <ul>
                <li><strong>Month, Day</strong></li>
                <li>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nostrum eligendi soluta accusantium, consectetur error illo quidem, a quo, sapiente assumenda veniam asperiores mollitia
                    </p>
                </li>
            </ul>
        </li>
        <li class="secondary">
            <a href="javascript:void(0)" target="_blank">Secondary featured article headline</a>
            <ul>
                <li><strong>Month, Day</strong></li>
                <li>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </li>
            </ul>
        </li>
        <li class="secondary">
            <a href="javascript:void(0)" target="_blank">Secondary featured article headline</a>
            <ul>
                <li><strong>Month, Day</strong></li>
                <li>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nostrum eligendi soluta accusantium, consectetur error illo quidem, a quo, sapiente assumenda veniam asperiores mollitia
                    </p>
                </li>
            </ul>
        </li>
    </ul>