<a class="podcast-card" href="javascript:void(0)" aria-label="">
    <div class="podcast-card-content">
        <div class="category">Science</div>
        <div class="underline">
            <h4>Can a drone weigh an elephant seal?</h4>
            <p class="tags">
                <span class="date">April 15, 2019</span>
                <span class="btn-link author-name">UC Santa Cruz</span>
            </p>
        </div>
        <p class="body">Diana Alvarado (Merrill ‘19, marine biology) takes drone photographs of female elephant seals at Año Nuevo Natural Reserve. She’s refining an image analysis tool that might enable scientists to easily track seals’ weight without disturbing them.</p>
    </div>
    </a>