
    
<section class="profile-w-media left">
    <div class="grid-container large">
        <div class="profile">
            <div class="inner wave-pattern pink">
                <div class="content">
                    <div class="category">Graduate Profile</div>
                    <h2 class="underline">Sarah Chang</h2>
                    <p>In her research, History Doctoral Student Sarah Chang investigates the lifecycle of the postwar factory in China, and the shift for women workers from the home to paid industrial work during the socialist period.</p>
                    <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                        <li class="accordion-item" data-accordion-item>
                            <div class="hidden-content" data-tab-content>
                                <div class="grid-x">
                                    <div class="cell large-6">
                                        <p><strong>Phone:</strong> (123) 416-8489</p>
                                        <p><strong>Division:</strong> Social Sciences</p>
                                        <p><strong>Department/College/Unit: </strong></p>
                                        <p><strong>Additional Email: </strong></p> 
                                        <p><strong>Other UCSC Campus Affiliation: </strong></p>
                                        <p><strong>Faculty Type: </strong></p>
                                        <p><strong>Website: </strong></p>
                                    </div>
                                    <div class="cell large-6">
                                        <p><strong>Additional Location(s): </strong></p>
                                        <p><strong>Office Hours: </strong></p>
                                        <p><strong>Mail Stop: </strong></p>
                                        <p><strong>Campus Address: </strong></p>
                                        <p><strong>Areas of Expertise: </strong></p>
                                        <p><strong>Research Interests: </strong></p>
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="btn-link text-toggle"></a>
                        </li>
                    </ul>
                </div>
        
                <div class="media">
                    <div class="image">
                        <a href="javascript:void(0)" aria-label="">
                            <img class="profile-image" src="{{root}}assets/img/content/history-profile.jpg" alt="Profile" />
                        </a>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
