<div class="gateway-header">

    <div class="grid-container large">
        
        <div class="site-logo content">
            
            <a href="{{root}}templates/template-home-gateway.html" aria-label="">
                <img src="{{root}}assets/img/build-resources/uc-santa-cruz-reverse.svg" alt="UC Santa Cruz Logo">
            </a>
        
        </div>
        
        <div class="gateway-menu" id="site-menu">
            
            <ul class="menu">
                <li><a href="javascript:void(0)" aria-label="">About UCSC</a></li>
                <li><a href="javascript:void(0)" aria-label="">Admissions</a></li>
                <li><a href="javascript:void(0)" aria-label="">Academics</a></li>
                <li><a href="javascript:void(0)" aria-label="">Research</a></li>
                <li><a href="javascript:void(0)" aria-label="">Student Life</a></li>
                <li class="primary-search"><a action="#0" data-toggle="global-search"><i class="fas fa-search"></i></a></li>
            </ul>
            
        </div>


    </div>

</div>
