<div class="global-header">

    <div class="grid-container large">
        {{#ifequal type "subsite"}}
            <div class="site-logo global">
                <a href="{{root}}templates/template-home-gateway.html">
                    <img src="{{root}}assets/img/build-resources/uc-santa-cruz-reverse.svg">
                </a>
            </div>
        {{/ifequal}}
        <div class="aev-menu">
            <ul class="menu">
                <li><a href="javascript:void(0)">Apply</a></li>
                <li><a href="javascript:void(0)">Engage</a></li>
                <li><a href="javascript:void(0)">Visit</a></li>
            </ul>
        </div>
        
        <div class="global-menu">
            <ul class="menu">
                <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                <li class="show-for-large search-button">
                    <a action="#0" data-toggle="global-search"><i class="fas fa-search fa-small"></i> Search</a>
                </li>
            </div>

    </div>

</div>
