<div class="mobile-menu">
        <a class="mobile-menu-logo" href="{{root}}pages/page-home-gateway.html">
            <img src="{{root}}assets/img/build-resources/uc-santa-cruz-reverse.svg" />
        </a>
        <ul class="menu">
            <li>
                <a class="global-mobile-search-trigger" href="#0" data-toggle="global-search">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li>
                <a href="#global-menu" role="button" id="page-header-toggle" class="page-header-toggle" offcanvas-trigger data-open="mobile-menu">
                    <span>Menu</span>
                    <span class="fa fa-bars" aria-hidden="true"></span>
                </a>
            </li>                   
        </ul>
</div>
