<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <title>UCSC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body class="subsite-wrapper">

    <div id="page">
        <div class="menu-explore off-canvas position-right wave-pattern secondary-blue" id="mobile-menu" data-off-canvas>
        
            <div class="scroll">
                <div class="close-main">
                    <button class="close-button" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                          
                <div class="menu-id">
                    <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                </div>
                
                <div class="aev-links">
                    <div class="expanded button-group">
                        <a class="button solid white-text" href="javascript:void(0)">Apply</a>
                        <a class="button solid white-text" href="javascript:void(0)">Visit</a>
                        <a class="button solid white-text" href="javascript:void(0)">Engage</a>
                    </div>
                </div>
        
        
        
        
        
                    <!-- Subsite Menu-->
                    <div class="primary-links lower-divider">
                        <ul class="vertical menu">
                            <li><a href="javascript:void(0)" aria-label="">Sections</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Awards &amp; Honors</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Videos</a></li>
                            <li><a href="javascript:void(0)" aria-label="">In the News</a></li>
                        </ul>
                    </div>
        
        
        
                <div class="global-links">
                    <ul class="vertical menu">
                        <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                    </ul>
                </div>
                    
                        <!-- <li>
                            <a href="javascript:void(0)">About UCSC</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">President and Leadership</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Facts and Figures</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Rankings and Awards</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">History and Traditions</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Profiles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">A-Z Index</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Student Life</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Clubs and Organizations</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Athletics and Recreation</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Health and Wellness</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Residence Halls and Dining</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">The Central Coast</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Academics</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Undergraduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Graduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Colleges</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Centers and Institutes</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Study Abroad</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Internships and Co-ops</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Research</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Library</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Calendar</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Advising and Services</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">UCSC Catalog</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Admissions</a></li>
                        <li>
                            <a href="javascript:void(0)">Costs and Affordability</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Financial Aid</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Student Accounts</a>
                                </li>
                            </ul>
                        </li> -->
                        
                    </ul>
                </div>
        
                <!-- <div class="bottom-links">
                    <ul class="vertical menu">
                        <li><a class="button primary expanded" href="javascript:void(0)">Students</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Faculty and Staff</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Parents</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Alumni</a></li>
                    </ul>
                </div> -->
        
            </div>
        
        </div>
        
        <div data-sticky-container>
            <div id="page-header" role="navigation" class="page-header sticky" aria-expanded="false" aria-label="Page header" data-sticky data-margin-top="0" data-anchor="main-content">
    
                <div class="global-header">
                
                    <div class="grid-container large">
                            <div class="site-logo global">
                                <a href="../templates/template-home-gateway.html">
                                    <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg">
                                </a>
                            </div>
                        <div class="aev-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)">Apply</a></li>
                                <li><a href="javascript:void(0)">Engage</a></li>
                                <li><a href="javascript:void(0)">Visit</a></li>
                            </ul>
                        </div>
                        
                        <div class="global-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                                <li class="show-for-large search-button">
                                    <a action="#0" data-toggle="global-search"><i class="fas fa-search fa-small"></i> Search</a>
                                </li>
                            </div>
                
                    </div>
                
                </div>
                <div class="mobile-menu">
                        <a class="mobile-menu-logo" href="../pages/page-home-gateway.html">
                            <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                        </a>
                        <ul class="menu">
                            <li>
                                <a class="global-mobile-search-trigger" href="#0" data-toggle="global-search">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#global-menu" role="button" id="page-header-toggle" class="page-header-toggle" offcanvas-trigger data-open="mobile-menu">
                                    <span>Menu</span>
                                    <span class="fa fa-bars" aria-hidden="true"></span>
                                </a>
                            </li>                   
                        </ul>
                </div>
                <div class="subsite-header">
                    <!--------------------------------------------->
                    <!------------- Custom Subsite Logo ----------->
                    <!--------------------------------------------->
                    
                
                    <!--------------------------------------------->
                    <!--------------- Subsite Template ------------>
                    <!--------------------------------------------->
                
                
                
                    <!--------------------------------------------->
                    <!--------------- News Template  -------------->
                    <!--------------------------------------------->
                        
                        <div class="grid-container large">
                            <div class="grid-x large-padding-collapse large-margin-collapse">
                                <div class="cell large-3">
                                    <div class="subsite-brand-container">
                                        <a href="../templates/template-news-home.html" aria-label="Return to news home page">
                                            <h1>Newscenter</h1>
                                        </a>
                                    </div>                </div>
                                <div class="cell auto">
                                    
                                    <ul class="menu">
                                        <li>
                                            <a class="" data-toggle="filter-form">
                                                <strong>Sections</strong> <span class="fa fa-bars"></span>
                                            </a>
                                        </li>
                                        <li><a href="javascript:void(0)" aria-label="">Awards &amp; Honors</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Videos</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">In the News</a></li>
                                    </ul>                </div>
                            </div>
                        </div>
                        <div class="filter-box full-width" id="filter-form" data-toggler data-animate="fade-in fade-out">
                            
                            <div class="grid-container">
                                <a href="javascript:void(0)" class="close-modal" data-toggle="filter-form">
                                    <i class="fas fa-close"></i>
                                </a>
                                <div class="grid-x grid-margin-x">
                                    <div class="large-3 cell">
                                        <ul class="menu-list featured">
                                            <li><a href="javascript:void(0)" aria-label="">Tuesday Newsday</a></li>
                                            <li><a href="javascript:void(0)" aria-label="">Review Magazine</a></li>
                                            <li><a href="javascript:void(0)" aria-label="">Administrative Messages</a></li>
                                            <li><a href="javascript:void(0)" aria-label="">Budget Updates</a></li>
                                            <li><a href="javascript:void(0)" aria-label="">Featured Sites</a></li>
                                        </ul>
                                    </div>
                        
                                    <div class="large-9 cell">
                                       <div class="grid-container">
                
                                            <div class="grid-x grid-margin-x">  
                                                <div class="large-4 cell">
                                                    <ul class="menu-list">
                                                        <li><a href="javascript:void(0)" aria-label="">General</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">Special Topics</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">The UCSC Experience</a></li>
                                                    </ul>
                                                </div>
                        
                                                <div class="large-4 cell">
                                                    <ul class="menu-list">
                                                        <li><a href="javascript:void(0)" aria-label="">Arts</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">Engineering</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">Humanities</a></li>
                                                    </ul>
                                                </div>
                        
                                                <div class="large-4 cell">
                                                    <ul class="menu-list">
                                                        <li><a href="javascript:void(0)" aria-label="">Physical and Biological Sciences</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">Social Sciences</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">All Audience Areas</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">All Activities</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    
                </div>
            
            </div>
        </div>
                    
        <div class="hero-viewport inner-page-standard wave-pattern blue">
            <div class="grid-container large">
                <div class="hero-container">
                    <div id="hero" class="hero hero-text-left">
                        <img src="../assets/img/content/news-home-featured.jpg" />
                        <div class="hero-text">
                            <a href="#0" class="">
                                <p class="category btn-link">Genomics</p>
                                <div class="underline isolated">
                                    <h1 class="hero-header">UC Santa Cruz Genomics Institute launches brain research project</h1>
                                    <p class="hero-body">UCSC engineers and genomics experts are partnering with UCSF neuroscientists to develop new technology for studying human brain evolution and development</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="page-content" id="main-content">
            <div class="grid-container large">
                    <div class="grid-x grid-margin-x">
                        <div class="cell xlarge-7 large-12">
                            <a class="news-card" href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="../assets/img/content/news-home-featured-1.jpg">
                                </div>
                                <div class="news-card-content">
                                    <div class="category btn-link">Marine</div>
                                    <div class="underline isolated">
                                        <h3>Coral study traces excess nitrogen to Maui wastewater treatment facility</h3>
                                        <div class="tags">April 3, 2019</div>
                                    </div>                                
                                </div>
                            </a>
                        
                            <a class="news-card" href="javascript:void(0)" aria-label="">
                                <div class="image">
                                    <img src="../assets/img/content/news-home-featured-2.jpg">
                                </div>
                                <div class="news-card-content">
                                    <div class="category btn-link">Science</div>
                                    <div class="underline isolated">
                                        <h3>High-impact science and cutting-edge teaching</h3>
                                        <div class="tags">April 3, 2019</div>
                                    </div>                                   
                                </div>
                            </a>
                        </div>
                        <div class="cell xlarge-5 large-12 ">
                            <div class="news-card-list full-width has-thumbs">
                                <a class="news-card" href="javascript:void(0)" aria-label="">
                                    <div class="image">
                                        <img src="../assets/img/content/event-thumb.jpg">
                                    </div>
                                    <div class="news-card-content">
                                        <div class="category btn-link">Campus</div>
                                        <div class="underline isolated">
                                            <h4>Roadwork to close section of Kerr Road</h4>
                                            <div class="tags">April 3, 2019</div>
                                        </div>
                                    </div>
                                </a>
                            
                                <a class="news-card" href="javascript:void(0)" aria-label="">
                                    <div class="image">
                                        <img src="../assets/img/content/event-thumb.jpg">
                                    </div>
                                    <div class="news-card-content">
                                        <div class="category btn-link">Technology</div>
                                        <div class="underline isolated">
                                            <h4>Multi-Factor Authentication (MFA) is now available to self-enroll</h4>
                                            <div class="tags">April 10, 2019</div>
                                        </div>
                                    </div>
                                </a>
                            
                                <a class="news-card" href="javascript:void(0)" aria-label="">
                                    <div class="image">
                                        <img src="../assets/img/content/event-1.jpeg">
                                    </div>
                                    <div class="news-card-content">
                                        <div class="category btn-link">Programs</div>
                                        <div class="underline isolated">
                                            <h4>Summer programs draw visitors to Lick Observatory for music and stargazing</h4>
                                            <div class="tags">April 11, 2019</div>
                                        </div>
                                    </div>
                                </a>
                            
                                <a class="news-card" href="javascript:void(0)" aria-label="">
                                    <div class="image">
                                        <img src="../assets/img/content/event-2.jpeg">
                                    </div>
                                    <div class="news-card-content">
                                        <div class="category btn-link">Faculty</div>
                                        <div class="underline isolated">
                                            <h4>Professor Emeritus Pavel Machotka dies at 82</h4>
                                            <div class="tags">April 21, 2019</div>
                                        </div>
                                    </div>
                                </a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="more">
                <a class="button primary">
                    <span>See More News</span>
                </a>
            </div>
        
        
        <section class="heading">
            <h2 class="underline">Genomics</h2>
        </section>
        
        <div class="grid-container large"> 
            <div class="grid-x grid-margin-x">
                <div class="cell xlarge-12">
        
                    <div class="news-card-list">
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/news-genomics-1.jpg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Genomics</div>
                                <div class="underline isolated">
                                    <h4>Biologist Olena Morozova Vaske appointed to endowed chair in pediatric genomics</h4>
                                    <div class="tags">April 3, 2019</div>
                                </div>
                            </div>
                        </a>
                      
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/news-genomics-2.jpg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Genomics</div>
                                <div class="underline isolated">
                                    <h4>Seed-funding innovation</h4>
                                    <div class="tags">April 3, 2019</div>
                                </div>
                                
                            </div>
                        </a>
                    
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/news-genomics-3.jpg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Genomics</div>
                                <div class="underline isolated">
                                    <h4>Data science researchers to tackle privacy challenges in genomics</h4>
                                    <div class="tags">April 3, 2019</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>  
        </div>
        
        <div class="more">
            <a class="button primary">
                <span>See More Genomic News</span>
            </a>
        </div>
        
        <section class="heading">
            <h2 class="underline">Space Sciences</h2>
        </section>
        
        <div class="grid-container large">
            <div class="grid-x grid-margin-x">
                <div class="cell xlarge-6 large-12">
                    <a class="news-card featured" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="../assets/img/content/news-space-featured.jpg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Space Sciences</div>
                            <h2 class="underline">Postdoctoral fellowship supports planetary science research</h2>
                            <p>Xinting Yu wins 51 Pegasi b Fellowship for research at UC Santa Cruz on formation of clouds and hazes on exoplanets</p>
                        </div>
                    </a>
                </div>
                <div class="cell xlarge-6 large-12 ">
                    <div class="news-card-list full-width has-thumbs">
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/news-space-1.jpg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Space Sciences</div>
                                <h4 class="underline isolated">Summer programs draw visitors to Lick Observatory for music and stargazing</h4>
                            </div>
                        </a>
                    
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/news-space-2.jpg">
                            </div>
                            <div class="news-card-content">
                                    <div class="category btn-link">Space Sciences</div>
                                <h4 class="underline isolated">Astrophysicist Enrico Ramirez-Ruiz wins AAS/HEAD Mid-Career Prize</h4>
                            </div>
                        </a>
                    
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/news-space-3.jpg">
                            </div>
                            <div class="news-card-content">
                                    <div class="category btn-link">Space Sciences</div>
                                <h4 class="underline isolated">MaNGA data release includes detailed maps of thousands of nearby galaxies</h4>
                            </div>
                        </a>
                
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/news-space-4.jpg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Space Sciences</div>
                                <h4 class="underline isolated">Waves in Saturn's rings give precise measurement of planet's rotation rate</h4>
                            </div>
                        </a>
                    
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/news-space-5.jpg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Space Sciences</div>
                                <h4 class="underline isolated">Planetary scientist Francis Nimmo honored by Royal Astronomical Society</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="more no-border">
            <a class="button primary">
                <span>See More Space News</span>
            </a>
        </div>          
        
        <div class="grid-container large mt-25">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6">
                    <div class="closing-blocks">
                        <h5>UC Santa Cruz Magazine</h5>
                        <a href="https://magazine.ucsc.edu/">
                            <div class="image">
                                <img class="overlay" src="../assets/img/content/ucsc-magazine-white.png" />
                                <img src="../assets/img/content/ucsc-magazine.jpg" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="cell large-6">
                    <div class="closing-blocks">
                        <h5>StoryCruz Interviews</h5>
                        <a href="https://soundcloud.com/ucsantacruz/sets/storycruz">
                            <div class="image">
                                <img class="overlay" src="../assets/img/content/storycruz-text.png" />
                                <img src="../assets/img/content/storycruz-interviews.jpg" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="site-footer">
            <div class="grid-container large">
                <div class="subsite-footer">
                    <!-- <div class="hide-for-large grid-x grid-padding-x large-padding-collapse large-margin-collapse">
                        <div class="small-12 small-order-2 xlarge-order-1 cell">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                        </div>
                    </div> -->
            

                   
                        <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                            <div class="large-4 small-order-2 large-order-1 cell">
                                <div class="contact-card">
                                    <h3>Newscenter</h3>
                                    <strong>Email:</strong> news@ucsc.edu<br>
                                    <strong>Phone:</strong> (831)123-4567<br>
                                    <strong>Fax:</strong> (831)987-6543
                                </div>
                                <div class="nav-social">
                                    <ul>
                                        <li><a href="javascript:void(0)" target="_blank">
                                            <i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank">
                                            <i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank">
                                            <i class="fab fa-facebook-square"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank">
                                            <i class="fab fa-youtube"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank">
                                            <i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="large-8 small-order-2 large-order-2 cell">
                                <div class="toggle-trigger" data-toggle="quick-1">
                                    <h5 class="underline"><i class="fas fa-plus hide-for-large"></i> News Sections
                                    </h5>
                                </div>

                                <div id="quick-1" class="show-for-large" data-toggler=".show-for-large">
                                    <ul class="menu horizontal">
                                        <li><a href="javascript:void(0)" aria-label="">Review Magazine</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Tuesday Newsday</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Administrative Messages</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Budget Updates</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Featured Sites</a></li>
                                    </ul>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                    


                </div>

                <div class="global-footer">
                    
                    <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                        <div class="cell large-4 show-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">1156 High Street, Santa Cruz, CA 95064</p>
                        </div>
                    
                            <div class="cell large-8">
                                <div class="toggle-trigger" data-toggle="engage">
                                    <h5 class="underline">Engage <span class="thin">with UCSC</span> <i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                    
                                <div id="engage" class="show-for-large" data-toggler=".show-for-large">
                                   <ul class="menu horizontal">
                                        <li><a href="#javascript:void(0)">Site Feedback</a></li>
                                        <li><a href="#javascript:void(0)">Employment</a></li>
                                        <li><a href="#javascript:void(0)">Volunteer</a></li>
                                        <li><a href="#javascript:void(0)">Emergency Information</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    
                    <div class="grid-x grid-margin-x text-center mt-25">
                        <div class="cell large-4 hide-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">
                                1156 High Street, Santa Cruz, CA 95064
                            </p>
                        </div>
                        <div class="nav-global cell">
                            <ul class="primary-set">
                                <li><a href="#javascript:void(0)">Accreditation</a></li>
                                <li><a href="#javascript:void(0)">Non-Discrimination Policy</a></li>
                                <li><a href="#javascript:void(0)">Privacy Policy &amp; Terms of Use</a></li>
                                <li><a href="#javascript:void(0)">Sexual Violence Prevention &amp; Response</a></li>
                            </ul>
                            <p>&copy;2019 Regents of the University of California.<br>All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
                

            </div>



        </div>
        <div class="global-search-container off-canvas position-top align-center" id="global-search" data-off-canvas>
           <div class="global-search">
                <a href="javascript:void(0)" class="close-modal" data-toggle="global-search">
                    <i class="fas fa-close"></i>
                </a>
                <h2 class="mt-25">Search UCSC:</h2>
                <form>
                    <div class="input-group">
                        <input class="input-group-field" type="search" placeholder="Search this site" id="searchInput">
                        <div class="input-group-button">
                                <a class="button secondary" href="javascript:void(0)"><i class="fas fa-search"></i> <span class="show-for-large">Search</span></a>
                        </div>
                    </div>
                </form>
                <div class="footer-links">
                    Other ways to search: <a href="javascript:void(0)" aria-label="">People</a> | <a href="javascript:void(0)" aria-label="">A-Z Index</a> | <a href="javascript:void(0)" aria-label="">Calendars</a>
                </div>
            </div>
                    
        </div>
        



        <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

        <script>
            var wow = new WOW();
            wow.init();
        </script>

        <script src="../assets/js/app.js"></script>
        <script src="//use.fontawesome.com/facf9fa52c.js"></script>
        
        <script>
            $(window).on('load resize', function () {
                //document.getElementById("width_px").innerHTML = window.innerWidth;
                //document.getElementById("width_ems").innerHTML = window.innerWidth / parseFloat($("body").css("font-size"));
                var viewportWidth = window.innerWidth / parseFloat($("body").css("font-size"));

                var breakpointSize = function(){
                    if (viewportWidth < 25) { console.log("Breakpoint Size is small") } else
                    if (viewportWidth < 40) { console.log("Breakpoint Size is medium") } else
                    if (viewportWidth < 64) { console.log("Breakpoint Size is large") } else
                    if (viewportWidth < 75) { console.log("Breakpoint Size is xlarge") } else
                    if (viewportWidth < 90) { console.log("Breakpoint Size is xxlarge") } else
                    console.log("Breakpoint Size is xxxlarge")
                }
                console.log("Viewport width is = " + viewportWidth + "rems");
                console.log("---------------");
                breakpointSize();
            });
            </script>

</body>

</html>