<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <title>UCSC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body class="subsite-wrapper">

    <div id="page">
        <div class="menu-explore off-canvas position-right wave-pattern secondary-blue" id="mobile-menu" data-off-canvas>
        
            <div class="scroll">
                <div class="close-main">
                    <button class="close-button" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                          
                <div class="menu-id">
                    <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                </div>
                
                <div class="aev-links">
                    <div class="expanded button-group">
                        <a class="button solid white-text" href="javascript:void(0)">Apply</a>
                        <a class="button solid white-text" href="javascript:void(0)">Visit</a>
                        <a class="button solid white-text" href="javascript:void(0)">Engage</a>
                    </div>
                </div>
        
        
        
        
                    <!-- Subsite Menu-->
                    <div class="primary-links lower-divider">
                        <ul class="vertical menu">
                            <li><a href="javascript:void(0)" aria-label="">About Us</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Academics</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Departments</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Degree Programs</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Industry</a></li>
                            <li><a href="javascript:void(0)" aria-label="">People</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Research</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Quick Links</a></li>
                        </ul>
                    </div>
        
        
        
        
                <div class="global-links">
                    <ul class="vertical menu">
                        <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                    </ul>
                </div>
                    
                        <!-- <li>
                            <a href="javascript:void(0)">About UCSC</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">President and Leadership</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Facts and Figures</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Rankings and Awards</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">History and Traditions</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Profiles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">A-Z Index</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Student Life</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Clubs and Organizations</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Athletics and Recreation</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Health and Wellness</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Residence Halls and Dining</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">The Central Coast</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Academics</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Undergraduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Graduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Colleges</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Centers and Institutes</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Study Abroad</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Internships and Co-ops</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Research</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Library</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Calendar</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Advising and Services</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">UCSC Catalog</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Admissions</a></li>
                        <li>
                            <a href="javascript:void(0)">Costs and Affordability</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Financial Aid</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Student Accounts</a>
                                </li>
                            </ul>
                        </li> -->
                        
                    </ul>
                </div>
        
                <!-- <div class="bottom-links">
                    <ul class="vertical menu">
                        <li><a class="button primary expanded" href="javascript:void(0)">Students</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Faculty and Staff</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Parents</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Alumni</a></li>
                    </ul>
                </div> -->
        
            </div>
        
        </div>
        
        <div data-sticky-container>
            <div id="page-header" role="navigation" class="page-header sticky" aria-expanded="false" aria-label="Page header" data-sticky data-margin-top="0" data-anchor="main-content">
    
                <div class="global-header">
                
                    <div class="grid-container large">
                            <div class="site-logo global">
                                <a href="../templates/template-home-gateway.html">
                                    <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg">
                                </a>
                            </div>
                        <div class="aev-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)">Apply</a></li>
                                <li><a href="javascript:void(0)">Engage</a></li>
                                <li><a href="javascript:void(0)">Visit</a></li>
                            </ul>
                        </div>
                        
                        <div class="global-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                                <li class="show-for-large search-button">
                                    <a action="#0" data-toggle="global-search"><i class="fas fa-search fa-small"></i> Search</a>
                                </li>
                            </div>
                
                    </div>
                
                </div>
                <div class="mobile-menu">
                        <a class="mobile-menu-logo" href="../pages/page-home-gateway.html">
                            <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                        </a>
                        <ul class="menu">
                            <li>
                                <a class="global-mobile-search-trigger" href="#0" data-toggle="global-search">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#global-menu" role="button" id="page-header-toggle" class="page-header-toggle" offcanvas-trigger data-open="mobile-menu">
                                    <span>Menu</span>
                                    <span class="fa fa-bars" aria-hidden="true"></span>
                                </a>
                            </li>                   
                        </ul>
                </div>
                <div class="subsite-header">
                    <!--------------------------------------------->
                    <!------------- Custom Subsite Logo ----------->
                    <!--------------------------------------------->
                    
                        
                          <div class="grid-container large show-for-large">
                            <div class="grid-x grid-margin-x align-bottom">
                                <div class="cell large-3">
                                    <h1><div class="subsite-brand-container">
                    <img class="subsite-brand" src="../assets/img/content/baskin-logo-normal.png" alt="Custom Logo Example" />
                </div></h1>
                                    <a class="div" href="javascript:void(0)">Engineering Division</a>
                                </div>
                                <div class="cell large-auto show-for-xlarge"><div class="subsite-menu" id="site-menu">
                    <ul class="vertical large-horizontal menu align-middle" data-responsive-menu="accordion xlarge-dropdown" data-disable-hover="true" data-click-open="true">
                        <li>
                            <a href="javascript:void(0)" aria-label="">About Us</a>
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li><a href="javascript:void(0)" aria-label="">Dean's Welcome Message</a></li>
                                <li><a href="javascript:void(0)" aria-label="">At a Glance</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Baskin News Beat 2017</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Baskin News Beat 2018</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Development</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Directions to the BSOE</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Employment</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Our Naming Gift</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-label="">Academics</a>
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li><a href="javascript:void(0)" aria-label="">Academic Calendar</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Class Schedules</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Curriculum Charts</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Graduate</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Undergraduate</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-label="">Departments</a>
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li><a href="javascript:void(0)" aria-label="">Applied Mathematics</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Biomolecular Engineering</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Computational Media</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Computer Science and Engineering</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Electrical and Computer Engineering</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Statistics</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)" aria-label="">Degree Programs</a></li>
                        <li>
                            <a href="javascript:void(0)" aria-label="">Industry</a>
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li><a href="javascript:void(0)" aria-label="">Industry Engagement</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Spinoffs and Startups</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Available Technologies</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-label="">People</a>
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li><a href="javascript:void(0)" aria-label="">Faculty</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Graduate Students</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Researchers</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Staff</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Alumni</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Humans of BSOE</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-label="">Research</a>
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li><a href="javascript:void(0)" aria-label="">Centers</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Institutes</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Labs</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Patents</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Technical Reports</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Undergraduate Research</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)" aria-label="">Quick Links</a></li>
                    </ul>
                </div></div>
                                <div class="cell large-auto hide-for-xlarge"><div class="subsite-menu" id="site-menu">
                    <ul class="horizontal menu">
                        <li><a href="javascript:void(0)" aria-label="">About Us</a></li>
                        <li><a href="javascript:void(0)" aria-label="">Academics</a> </li>
                        <li><a href="javascript:void(0)" aria-label="">Departments</a></li>
                        <li><a href="javascript:void(0)" aria-label="">Degree Programs</a></li>
                        <li><a href="javascript:void(0)" aria-label="">Industry</a></li>
                        <li><a href="javascript:void(0)" aria-label="">People</a></li>
                        <li><a href="javascript:void(0)" aria-label="">Research</a></li>
                        <li><a href="javascript:void(0)" aria-label="">Quick Links</a></li>
                    </ul>
                </div></div>
                            </div>  
                        </div>
                
                
                    <!--------------------------------------------->
                    <!--------------- Subsite Template ------------>
                    <!--------------------------------------------->
                
                
                
                    <!--------------------------------------------->
                    <!--------------- News Template  -------------->
                    <!--------------------------------------------->
                    
                </div>
            
            </div>
        </div>
                    
        
        <div class="hero-viewport inner-page-angle wave-pattern blue">
            <div class="hero-container">
                <div id="hero" class="hero hero-text-left">
                    <div class="angle transparent"></div>
                    <div class="gradient-overlay"></div>
                    <div class="header-logo hide-for-large">
                        <img class="subsite-brand" src="../assets/img/content/baskin-logo-normal.png" alt="Custom Logo Example" />
                        <a class="div" href="javascript:void(0)">Engineering Division</a>
                    </div>
                        
                    <img src="../assets/img/content/baskin.jpg" />
                    <div class="hero-text">
                        <h1 class="hero-header">Subsite with Logo Example</h1>
                        <h4 class="subhead"><a href="javascript:void(0)" class="yellow-text">PBSci</a></h4>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-content" id="main-content">
        
            <section class="content-w-media right">
        
                <div class="grid-container large">
                    <div class="inner">
                        <div class="content blue-bg white-text" style="color: white">
                            <h1 class="underline light white-text">Academic Divisions</h1>
                            <p>Looking for a specific division, undergraduate major, or graduate program?</p>
                            <div class="content-foot-links">
                                <a href="javascript:void(0)" class="button clear white-text">Start Here</a>
                            </div>
                        </div>
            
                        <div class="media">
                            <img src="../assets/img/content/divisions-small.jpg" />
                        </div>
            
                    </div>
                </div>
            
            </section>
        
        </div>

        <div class="site-footer">
            <div class="grid-container large">
                <div class="subsite-footer">
                    <!-- <div class="hide-for-large grid-x grid-padding-x large-padding-collapse large-margin-collapse">
                        <div class="small-12 small-order-2 xlarge-order-1 cell">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                        </div>
                    </div> -->
            
                    <div class="contact-card grid-x grid-padding-x large-padding-collapse large-margin-collapse">
                        <div class="large-4 small-order-2 xlarge-order-1 cell">
                            <h4>History Department | Humanities Division</h4>
                            <p>1156 High Street<br>
                            Santa Cruz, CA 95064<br>
                            <strong>Email:</strong> history@ucsc.edu<br>
                            <strong>Phone:</strong> (831) 123-4567<br>
                            <strong>Fax:</strong> (831) 987-6543</p>

                            
                            <div class="toggle-trigger" data-toggle="connect">
                                <h5 class="underline">Connect<span class="thin"> to History</span> <i class="fas fa-plus hide-for-large"></i></h5>
                            </div>
                            <div id="connect" class="show-for-large" data-toggler=".show-for-large">
                                <div class="nav-social">
                                    <ul>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        <div class="large-4 small-order-2 xlarge-order-2 cell">
                            <div class="toggle-trigger" data-toggle="links">
                                <h5 class="underline">Quick Links <i class="fas fa-plus hide-for-large"></i></h5>
                            </div>

                            <div id="links" class="show-for-large" data-toggler=".show-for-large">
                                <ul class="menu vertical">
                                    <li><a href="https://history.ucsc.edu/undergraduate/undergraduate-advising/index.html">Undergraduate Advising and Events Calendar</a></li>
                                    <li><a href="https://history.ucsc.edu/undergraduate/forms.html">Forms and Petitions</a></li>
                                    <li><a href="https://history.ucsc.edu/courses/class-schedule-view.php">2018 - 2019 Course List</a></li>
                                    <li><a href="https://history.ucsc.edu/undergraduate/history-major/index.html">Major Requirements</a></li>
                                    <li><a href="https://history.ucsc.edu/undergraduate/declaration/index.html">Major Declaration</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="large-4 small-order-2 xlarge-order-3 cell">
                            <div class="toggle-trigger" data-toggle="give">
                                <h5 class="underline">Give <span class="thin">to History</span> <i class="fas fa-plus hide-for-large"></i></h5>
                            </div>

                            <div id="give" class="show-for-large" data-toggler=".show-for-large">
                                <ul class="menu vertical">
                                    <li><a href="https://secure.ucsc.edu/s/1069/index.aspx?sid&#x3D;1069&amp;gid&#x3D;1001&amp;pgid&#x3D;761&amp;dids&#x3D;103">Donate Now</a></li>
                                    <li><a href="https://history.ucsc.edu/about/giving.html">Giving to History</a></li>
                                    <li><a href="https://giving.ucsc.edu/ways-to-give/">Ways to Give</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="grid-x grid-margin-x">
                        <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                            <div class="large-12 small-order-2 cell">
                        
                            </div>
                        </div>
                    </div>


                </div>

                <div class="global-footer">
                    
                    <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                        <div class="cell large-4 show-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">1156 High Street, Santa Cruz, CA 95064</p>
                        </div>
                    
                            <div class="cell large-8">
                                <div class="toggle-trigger" data-toggle="engage">
                                    <h5 class="underline">Engage <span class="thin">with UCSC</span> <i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                    
                                <div id="engage" class="show-for-large" data-toggler=".show-for-large">
                                   <ul class="menu horizontal">
                                        <li><a href="#javascript:void(0)">Site Feedback</a></li>
                                        <li><a href="#javascript:void(0)">Employment</a></li>
                                        <li><a href="#javascript:void(0)">Volunteer</a></li>
                                        <li><a href="#javascript:void(0)">Emergency Information</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    
                    <div class="grid-x grid-margin-x text-center mt-25">
                        <div class="cell large-4 hide-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">
                                1156 High Street, Santa Cruz, CA 95064
                            </p>
                        </div>
                        <div class="nav-global cell">
                            <ul class="primary-set">
                                <li><a href="#javascript:void(0)">Accreditation</a></li>
                                <li><a href="#javascript:void(0)">Non-Discrimination Policy</a></li>
                                <li><a href="#javascript:void(0)">Privacy Policy &amp; Terms of Use</a></li>
                                <li><a href="#javascript:void(0)">Sexual Violence Prevention &amp; Response</a></li>
                            </ul>
                            <p>&copy;2019 Regents of the University of California.<br>All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
                

            </div>



        </div>
        <div class="global-search-container off-canvas position-top align-center" id="global-search" data-off-canvas>
           <div class="global-search">
                <a href="javascript:void(0)" class="close-modal" data-toggle="global-search">
                    <i class="fas fa-close"></i>
                </a>
                <h2 class="mt-25">Search UCSC:</h2>
                <form>
                    <div class="input-group">
                        <input class="input-group-field" type="search" placeholder="Search this site" id="searchInput">
                        <div class="input-group-button">
                                <a class="button secondary" href="javascript:void(0)"><i class="fas fa-search"></i> <span class="show-for-large">Search</span></a>
                        </div>
                    </div>
                </form>
                <div class="footer-links">
                    Other ways to search: <a href="javascript:void(0)" aria-label="">People</a> | <a href="javascript:void(0)" aria-label="">A-Z Index</a> | <a href="javascript:void(0)" aria-label="">Calendars</a>
                </div>
            </div>
                    
        </div>
        



        <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

        <script>
            var wow = new WOW();
            wow.init();
        </script>

        <script src="../assets/js/app.js"></script>
        <script src="//use.fontawesome.com/facf9fa52c.js"></script>
        
        <script>
            $(window).on('load resize', function () {
                //document.getElementById("width_px").innerHTML = window.innerWidth;
                //document.getElementById("width_ems").innerHTML = window.innerWidth / parseFloat($("body").css("font-size"));
                var viewportWidth = window.innerWidth / parseFloat($("body").css("font-size"));

                var breakpointSize = function(){
                    if (viewportWidth < 25) { console.log("Breakpoint Size is small") } else
                    if (viewportWidth < 40) { console.log("Breakpoint Size is medium") } else
                    if (viewportWidth < 64) { console.log("Breakpoint Size is large") } else
                    if (viewportWidth < 75) { console.log("Breakpoint Size is xlarge") } else
                    if (viewportWidth < 90) { console.log("Breakpoint Size is xxlarge") } else
                    console.log("Breakpoint Size is xxxlarge")
                }
                console.log("Viewport width is = " + viewportWidth + "rems");
                console.log("---------------");
                breakpointSize();
            });
            </script>

</body>

</html>