<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>UCSC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body class="gateway-wrapper" id="gateway">

    <div id="page">


        <div class="menu-explore off-canvas position-right wave-pattern secondary-blue" id="mobile-menu" data-off-canvas>
        
            <div class="scroll">
                <div class="close-main">
                    <button class="close-button" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                          
                <div class="menu-id">
                    <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                </div>
                
                <div class="aev-links">
                    <div class="expanded button-group">
                        <a class="button solid white-text" href="javascript:void(0)">Apply</a>
                        <a class="button solid white-text" href="javascript:void(0)">Visit</a>
                        <a class="button solid white-text" href="javascript:void(0)">Engage</a>
                    </div>
                </div>
        
        
        
        
        
        
                <div class="global-links">
                    <ul class="vertical menu">
                        <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                    </ul>
                </div>
                    
                        <!-- <li>
                            <a href="javascript:void(0)">About UCSC</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">President and Leadership</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Facts and Figures</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Rankings and Awards</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">History and Traditions</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Profiles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">A-Z Index</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Student Life</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Clubs and Organizations</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Athletics and Recreation</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Health and Wellness</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Residence Halls and Dining</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">The Central Coast</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Academics</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Undergraduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Graduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Colleges</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Centers and Institutes</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Study Abroad</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Internships and Co-ops</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Research</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Library</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Calendar</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Advising and Services</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">UCSC Catalog</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Admissions</a></li>
                        <li>
                            <a href="javascript:void(0)">Costs and Affordability</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Financial Aid</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Student Accounts</a>
                                </li>
                            </ul>
                        </li> -->
                        
                    </ul>
                </div>
        
                <!-- <div class="bottom-links">
                    <ul class="vertical menu">
                        <li><a class="button primary expanded" href="javascript:void(0)">Students</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Faculty and Staff</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Parents</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Alumni</a></li>
                    </ul>
                </div> -->
        
            </div>
        
        </div>
        
        <div data-sticky-container>
            <div id="page-header" role="navigation" class="page-header sticky" aria-expanded="false" aria-label="Page header" data-anchor="main-content" data-sticky data-margin-top='0'>
    
                <div class="global-header">
                
                    <div class="grid-container large">
                        <div class="aev-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)">Apply</a></li>
                                <li><a href="javascript:void(0)">Engage</a></li>
                                <li><a href="javascript:void(0)">Visit</a></li>
                            </ul>
                        </div>
                        
                        <div class="global-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                                <li class="show-for-large search-button">
                                    <a action="#0" data-toggle="global-search"><i class="fas fa-search fa-small"></i> Search</a>
                                </li>
                            </div>
                
                    </div>
                
                </div>
                <div class="gateway-header">
                
                    <div class="grid-container large">
                        
                        <div class="site-logo content">
                            
                            <a href="../templates/template-home-gateway.html" aria-label="">
                                <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" alt="UC Santa Cruz Logo">
                            </a>
                        
                        </div>
                        
                        <div class="gateway-menu" id="site-menu">
                            
                            <ul class="menu">
                                <li><a href="javascript:void(0)" aria-label="">About UCSC</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Admissions</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Academics</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Research</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Student Life</a></li>
                                <li class="primary-search"><a action="#0" data-toggle="global-search"><i class="fas fa-search"></i></a></li>
                            </ul>
                            
                        </div>
                
                
                    </div>
                
                </div>
                <div class="mobile-menu">
                        <a class="mobile-menu-logo" href="../pages/page-home-gateway.html">
                            <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                        </a>
                        <ul class="menu">
                            <li>
                                <a class="global-mobile-search-trigger" href="#0" data-toggle="global-search">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#global-menu" role="button" id="page-header-toggle" class="page-header-toggle" offcanvas-trigger data-open="mobile-menu">
                                    <span>Menu</span>
                                    <span class="fa fa-bars" aria-hidden="true"></span>
                                </a>
                            </li>                   
                        </ul>
                </div>
            
            </div>
        </div>
    
        
        <div class="hero-viewport inner-page-angle wave-pattern turquiose">
            <div class="hero-container">
                <div id="hero" class="hero hero-text-left">
                    <div class="angle transparent"></div>
                    <div class="gradient-overlay"></div>
        
                    <img src="../assets/img/content/about-giving.jpg" />
                    <div class="hero-text">
                        <h1 class="hero-header">About UC Santa Cruz</h1>
                        <p class="hero-body">Progressive, bold, fearless education that benefits both the individual and the
                            planet.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-utilities">
            <div class="grid-container large">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="javascript:void(0)">Home</a></li>
                        <li>
                            <span class="show-for-sr">Current: </span> About UCSC
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <section class="content-w-media left haltered">
        
            <div class="grid-container large">
                <div class="inner">
        
                    <div class="content box-shadow">
                        <h2 class="underline">Principles of Community</h2>
                        <p>The University of California, Santa Cruz is committed to promoting and protecting an environment that
                            values and supports every person in an atmosphere of civility, honesty, cooperation, professionalism
                            and fairness. UC Santa Cruz expects that every campus member will practice these Principles of Community.
                        </p>
                        <p><a class="button secondary" href="https://www.ucsc.edu/about/campus-overview.html">More</a></p>
        
                    </div>
        
                    <div class="media">
                        <img src="../assets/img/content/about-students.jpg">
                    </div>
        
                </div>
            </div>
        
        </section>
        
        
        <section class="content-w-media right haltered">
        
            <div class="grid-container large">
                <div class="inner">
        
                    <div class="content box-shadow">
        
                        <h2 class="underline">History</h2>
                        <p class="lead">Since its founding in 1965, the University of California, Santa Cruz, has earned
                            international distinction as a university with high-impact research and an uncommon commitment to
                            teaching and public service.</p>
                        <p>A campus with world-class facilities and one of the most visually spectacular settings in higher
                            education, UC Santa Cruz offers rigorous academic programs and cutting-edge research opportunities
                            that teach students how to think, not what to think. A commitment to environmental stewardship and
                            community engagement are central to UCSC's core values.</p>
        
                        <p><a class="button primary" href="https://www.ucsc.edu/about/campus-overview.html">Campus Overview</a></p>
                    </div>
        
                    <div class="media video">
                        <img src="../assets/img/content/about-history.jpg">
                    </div>
        
                </div>
            </div>
        
        </section>
        
        <section class="content-w-media right muted-blue-bg wave-pattern green">
            <div class="grid-container large">
                <section class="heading">
                    <h2 class="underline">By the Numbers</h2>
                </section>
                <div class="factoid-card-list">
                    <div class="factoid">
                        <div class="category">Career Path</div>
                        <h3 class="value green-text">65</h3>
                        <h4 class="unit">Undergraduate Majors</h4>
                        <div class="convert"><a class="btn-link" href="#0">Find a Major</a></div>
                    </div>
        
                    <div class="factoid">
                        <div class="category">Campus</div>
                        <h3 class="value pink-text">2000</h3>
                        <h4 class="unit">Acres Overlooking Scenic Monterey Bay</h4>
                        <div class="convert"><a class="btn-link" href="{[root]}/templates/template-image-gallery.html">See Gallery</a></div>
                    </div>
        
                    <div class="factoid">
                        <div class="category">Grad Rates</div>
                        <h3 class="value blue-text">46%</h3>
                        <h4 class="unit">First-Generation College Graduates</h4>
                        <div class="convert"><a class="btn-link" href="#0">Get Started</a></div>
                    </div>
                </div>
            </div>
            <div class="more no-border">
                <a class="primary button" href="javascript:void(0)">More facts &amp figures</a>
            </div>
        
        </section>
        
        <section class="heading">
            <h2 class="underline">University News</h2>
        </section>
        
        <div class="grid-container large">
            <div class="grid-x grid-margin-x">
                <div class="cell xlarge-6 large-12">
                    <a class="news-card featured" href="javascript:void(0)" aria-label="">
                       <div class="image">
                            <img src="../assets/img/content/about-featured.jpg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Alumni</div>
                            <div class="underline">
                                <h2>Return of the Slugs</h2>
                                <p class="tags">February 11, 2019</p>
                            </div>
                            <p>Alumni Weekend 2019 is just around the corner. This year's festivities
                                will take place from Friday, April 26, through Sunday, April 28. Highlights include a talk
                                about "high-impact science,'' the ever-popular beer and wine reception, and a reunion of the
                                college band Flowers of Evil.</p>
                        </div>
                    </a>
                </div>
                <div class="cell xlarge-6 large-12">
                    <div class="news-card-list full-width has-thumbs">
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/event-thumb.jpg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Publications</div>
                                <h4>Two new books published by UC Santa Cruz poet, lecturer, and alumnus Gary
                                    Younge</h4>
                                <div class="tags">March 25, 2019</div>
                            </div>
                        </a>
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/event-1.jpeg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Faculty</div>
                                <h4>Lit prof offers true love and dreams of miraculous escape</h4>
                                <div class="tags">March 25, 2019</div>
                            </div>
                        </a>
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/event-2.jpeg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Faculty</div>
                                <h4>UC Santa Cruz historian and founding faculty member John Dizikes dies at 86
                                </h4>
                                <div class="tags">March 25, 2019</div>
                            </div>
                        </a>
        
                        <a class="news-card" href="javascript:void(0)" aria-label="">
                            <div class="image">
                                <img src="../assets/img/content/event-3.jpeg">
                            </div>
                            <div class="news-card-content">
                                <div class="category btn-link">Awards &amp; Recogonitions</div>
                                <h4>Psychology Professor Margarita Azmitia wins mentor award</h4>
                                <div class="tags">April 8, 2019</div>
                            </div>
                        </a>
                    </div>
                    <a class="btn-link right">More News</a>
                </div>
            </div>
        
        </div>
        
        <section class="content-w-media left haltered">
        
            <div class="grid-container large">
                <div class="inner">
        
                    <div class="content box-shadow">
                        <h2 class="underline">Banana Slug</h2>
                        <p class="lead">In a world of beavers, bears, and bobcats, UCSC is home to the mighty Banana Slug —
                            which students voted in 1986 to adopt as the official campus mascot.</p>
                        <p>The Banana Slug, a bright yellow, slimy, shell-less mollusk commonly found on the redwood forest
                            floor, was the unofficial mascot for UC Santa Cruz coed teams since the university's early years.
                            The students' embrace of such a lowly creature was their response to the fierce athletic
                            competition fostered at most American universities. </p>
                        <a class="btn-link" href="javascript:void(0)">More</a>
                    </div>
        
                    <div class="media">
                        <img src="../assets/img/content/about-slug.jpg">
                    </div>
        
                </div>
            </div>
        
        </section>
        
        <section class="wave-pattern blue">
            <section class="profile-w-media right">
                <div class="grid-container large">
                    <div class="profile">
                        <div class="inner ">
                            <div class="content">
                                
                                <h2 class="underline">Leadership &amp; Organization</h2>
                                <p>
                                    <a href="javascript:void(0)" aria-label="">Chancellor George R. Blumenthal</a> is
                                    a distinguished scholar and academic leader with a long tenure at UC Santa Cruz and
                                    within the University of California system. He has served as the 10th chancellor at UC
                                    Santa Cruz since July 2006, initially as acting chancellor. The UC Board of Regents
                                    appointed him permanent chancellor 14 months later in September 2007. Chancellor
                                    Blumenthal joined UC Santa Cruz in 1972 as a professor of astronomy and astrophysics.
                                </p>
                                <a class="button primary" href="javascript:void(0)">Meet Administration</a>
                            </div>
                    
                            <div class="media">
                                <div class="image">
                                    <a href="javascript:void(0)" aria-label="">
                                        <img class="profile-image" src="../assets/img/content/about-blumenthal.jpg" alt="Profile" />
                                    </a>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        
        
        
        <div class="grid-container large">
            <section class="heading">
                <h2 class="underline">Events</h2>
            </section>
        
            <div class="events-card-list">
                    <a class="events-card" href="javascript:void(0)">
                        <div class="events-card-content">
                            <div class="date">
                                <div class="month">Feb</div>
                                <div class="day">14</div>
                            </div>
                        
                            <div class="inner">
                                <div class="image">
                                    <img src="../assets/img/content/event-1.jpeg" />
                                </div>
                                <div class="card-content">
                                    <h4 class="header underline">Center for Public Philosophy: High School Regional Ethics Bowl</h4>
                                    <p class="event-description">Teams of up to five high school students have the fall
                                            semester to develop their thinking on 15 real-world ethical questions</p>
                                    <div class="tags">
                                        <span class="topics-title">
                                            <div class="time">
                                                <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                            </div>
                                            <div class="location">
                                                <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </a>
        
                    <a class="events-card" href="javascript:void(0)">
                        <div class="events-card-content">
                            <div class="date">
                                <div class="month">Feb</div>
                                <div class="day">21</div>
                            </div>
                        
                            <div class="inner">
                                <div class="image">
                                    <img src="../assets/img/content/event-1.jpeg" />
                                </div>
                                <div class="card-content">
                                    <h4 class="header underline">Linguistics Colloquium: Naomi Francis &quot;Even in presupposition denials&quot;</h4>
                                    <p class="event-description">About eight times each year, the department hosts
                                            colloquia by distinguished faculty from around the world.</p>
                                    <div class="tags">
                                        <span class="topics-title">
                                            <div class="time">
                                                <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                            </div>
                                            <div class="location">
                                                <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </a>
        
                    <a class="events-card" href="javascript:void(0)">
                        <div class="events-card-content">
                            <div class="date">
                                <div class="month">Feb</div>
                                <div class="day">21</div>
                            </div>
                        
                            <div class="inner">
                                <div class="image">
                                    <img src="../assets/img/content/event-1.jpeg" />
                                </div>
                                <div class="card-content">
                                    <h4 class="header underline">Ralina Joseph: &quot;Postracial Resistance-Black Women, Media, and the
                                            Uses of Strategic Ambiguity&quot;</h4>
                                    <p class="event-description">&quot;Post Racial Resistance-Black Women, Media, and the
                                            Uses of Strategic Ambiguity&quot; speaks about how...</p>
                                    <div class="tags">
                                        <span class="topics-title">
                                            <div class="time">
                                                <i class="fa fa-clock-o turquiose-text"></i> Wednesday, February 20 at 6:00pm to 8:00pm
                                            </div>
                                            <div class="location">
                                                <i class="fa fa-map-marker turquiose-text"></i> UC Santa Cruz Silicon Valley Campus
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>   
                        </div>
                    </a>
                </div>
        </div>
        <div class="more no-border">
            <a class="button primary" href="https://events.ucsc.edu/">
                <span>See More Events</span>
            </a>
        </div>
        
        
        <div class="site-footer">
            <div class="grid-container large">
                <div class="gateway-footer">
                    <div class="hide-for-large">
                        <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                            <div class="large-12 small-order-2 cell">
                                <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                                <p class="address">1156 High Street, Santa Cruz, CA 95064</p>
                            </div>
                        </div>
                    </div>
                        <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                            <div class="large-12 small-order-2 cell">
                        
                        
                                <div class="toggle-trigger" data-toggle="quick-1">
                                    <h5 class="underline">Discover <span class="thin">UC Santa Cruz</span><i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                                <div id="quick-1" class="show-for-large fill-width" data-toggler=".show-for-large">
                                    <ul class="menu horizontal">
                                        <li><a href="javascript:void(0)" aria-label="">Take a Virtual Tour</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Give</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Newscenter</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Events</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Maps &amp; Directions</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Directories</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">MyUCSC</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Calendars</a></li>
                                    </ul>
                                </div>
                            
                            </div>
                        </div>
                </div>
                <div class="global-footer">
                    
                    <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                        <div class="cell large-4 show-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">1156 High Street, Santa Cruz, CA 95064</p>
                        </div>
                    
                            <div class="cell large-4">
                                <div class="toggle-trigger" data-toggle="connect">
                                    <h5 class="underline">Connect <span class="thin">to UCSC</span> <i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                            
                                <div class="show-for-large nav-social" data-toggler=".show-for-large" id="connect">
                                    <ul>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                
                                    <ul class="menu vertical show-for-large">
                                        <li><a href="javascript:void(0)" aria-label="">@UCSantaCruz</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">#bananaslugs</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cell large-4">
                                <div class="toggle-trigger" data-toggle="engage">
                                    <h5 class="underline">Engage <span class="thin">with UCSC</span> <i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                    
                                <div id="engage" class="show-for-large" data-toggler=".show-for-large">
                                    <ul class="menu vertical">
                                        <li><a href="#javascript:void(0)">Site Feedback</a></li>
                                        <li><a href="#javascript:void(0)">Employment</a></li>
                                        <li><a href="#javascript:void(0)">Volunteer</a></li>
                                        <li><a href="#javascript:void(0)">Emergency Information</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="grid-x grid-margin-x text-center mt-25">
                        <div class="cell large-4 hide-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">
                                1156 High Street, Santa Cruz, CA 95064
                            </p>
                        </div>
                        <div class="nav-global cell">
                            <ul class="primary-set">
                                <li><a href="#javascript:void(0)">Accreditation</a></li>
                                <li><a href="#javascript:void(0)">Non-Discrimination Policy</a></li>
                                <li><a href="#javascript:void(0)">Privacy Policy &amp; Terms of Use</a></li>
                                <li><a href="#javascript:void(0)">Sexual Violence Prevention &amp; Response</a></li>
                            </ul>
                            <p>&copy;2019 Regents of the University of California.<br>All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
                
            
            </div>


        </div>

        <div class="global-search-container off-canvas position-top align-center" id="global-search" data-off-canvas>
           <div class="global-search">
                <a href="javascript:void(0)" class="close-modal" data-toggle="global-search">
                    <i class="fas fa-close"></i>
                </a>
                <h2 class="mt-25">Search UCSC:</h2>
                <form>
                    <div class="input-group">
                        <input class="input-group-field" type="search" placeholder="Search this site" id="searchInput">
                        <div class="input-group-button">
                                <a class="button secondary" href="javascript:void(0)"><i class="fas fa-search"></i> <span class="show-for-large">Search</span></a>
                        </div>
                    </div>
                </form>
                <div class="footer-links">
                    Other ways to search: <a href="javascript:void(0)" aria-label="">People</a> | <a href="javascript:void(0)" aria-label="">A-Z Index</a> | <a href="javascript:void(0)" aria-label="">Calendars</a>
                </div>
            </div>
                    
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

        <script>
            var wow = new WOW();
            wow.init();
        </script>

        <script src="../assets/js/app.js"></script>
        <script src="https://use.fontawesome.com/facf9fa52c.js"></script>
        <script>
            /*----  this is here to aid in setting the elements in our custom breakpoints */
            $(window).on('load resize', function () {
                var viewportWidth = window.innerWidth / parseFloat($("body").css("font-size"));

                var breakpointSize = function(){
                    if (viewportWidth < 25) { console.log("Breakpoint Size is small") } else
                    if (viewportWidth < 40) { console.log("Breakpoint Size is medium") } else
                    if (viewportWidth < 64) { console.log("Breakpoint Size is large") } else
                    if (viewportWidth < 75) { console.log("Breakpoint Size is xlarge") } else
                    if (viewportWidth < 90) { console.log("Breakpoint Size is xxlarge") } else
                    console.log("Breakpoint Size is xxxlarge")
                }
                console.log("Viewport width is = " + viewportWidth + "rems");
                console.log("---------------");
                breakpointSize();
            });
        </script>
</body>

</html>