<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>UCSC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body class="subsite-wrapper" id="gateway">

    <div id="page">


        <div class="menu-explore off-canvas position-right wave-pattern secondary-blue" id="mobile-menu" data-off-canvas>
        
            <div class="scroll">
                <div class="close-main">
                    <button class="close-button" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                          
                <div class="menu-id">
                    <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                </div>
                
                <div class="aev-links">
                    <div class="expanded button-group">
                        <a class="button solid white-text" href="javascript:void(0)">Apply</a>
                        <a class="button solid white-text" href="javascript:void(0)">Visit</a>
                        <a class="button solid white-text" href="javascript:void(0)">Engage</a>
                    </div>
                </div>
        
        
        
        
        
        
                <div class="global-links">
                    <ul class="vertical menu">
                        <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                    </ul>
                </div>
                    
                        <!-- <li>
                            <a href="javascript:void(0)">About UCSC</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">President and Leadership</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Facts and Figures</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Rankings and Awards</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">History and Traditions</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Profiles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">A-Z Index</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Student Life</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Clubs and Organizations</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Athletics and Recreation</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Health and Wellness</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Residence Halls and Dining</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">The Central Coast</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Academics</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Undergraduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Graduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Colleges</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Centers and Institutes</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Study Abroad</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Internships and Co-ops</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Research</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Library</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Calendar</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Advising and Services</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">UCSC Catalog</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Admissions</a></li>
                        <li>
                            <a href="javascript:void(0)">Costs and Affordability</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Financial Aid</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Student Accounts</a>
                                </li>
                            </ul>
                        </li> -->
                        
                    </ul>
                </div>
        
                <!-- <div class="bottom-links">
                    <ul class="vertical menu">
                        <li><a class="button primary expanded" href="javascript:void(0)">Students</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Faculty and Staff</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Parents</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Alumni</a></li>
                    </ul>
                </div> -->
        
            </div>
        
        </div>
        
        <div data-sticky-container>
            <div id="page-header" role="navigation" class="page-header sticky" aria-expanded="false" aria-label="Page header" data-anchor="main-content" data-sticky data-margin-top='0'>
    
                <div class="global-header">
                
                    <div class="grid-container large">
                        <div class="aev-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)">Apply</a></li>
                                <li><a href="javascript:void(0)">Engage</a></li>
                                <li><a href="javascript:void(0)">Visit</a></li>
                            </ul>
                        </div>
                        
                        <div class="global-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                                <li class="show-for-large search-button">
                                    <a action="#0" data-toggle="global-search"><i class="fas fa-search fa-small"></i> Search</a>
                                </li>
                            </div>
                
                    </div>
                
                </div>
                <div class="gateway-header">
                
                    <div class="grid-container large">
                        
                        <div class="site-logo content">
                            
                            <a href="../templates/template-home-gateway.html" aria-label="">
                                <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" alt="UC Santa Cruz Logo">
                            </a>
                        
                        </div>
                        
                        <div class="gateway-menu" id="site-menu">
                            
                            <ul class="menu">
                                <li><a href="javascript:void(0)" aria-label="">About UCSC</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Admissions</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Academics</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Research</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Student Life</a></li>
                                <li class="primary-search"><a action="#0" data-toggle="global-search"><i class="fas fa-search"></i></a></li>
                            </ul>
                            
                        </div>
                
                
                    </div>
                
                </div>
                <div class="mobile-menu">
                        <a class="mobile-menu-logo" href="../pages/page-home-gateway.html">
                            <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                        </a>
                        <ul class="menu">
                            <li>
                                <a class="global-mobile-search-trigger" href="#0" data-toggle="global-search">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#global-menu" role="button" id="page-header-toggle" class="page-header-toggle" offcanvas-trigger data-open="mobile-menu">
                                    <span>Menu</span>
                                    <span class="fa fa-bars" aria-hidden="true"></span>
                                </a>
                            </li>                   
                        </ul>
                </div>
            
            </div>
        </div>
    
        <div class="page-utilities">
            <div class="grid-container large">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="javascript:void(0)" aria-label="Go to Newscenter Home Page">Newscenter Home</a></li>
                        <li><a href="javascript:void(0)" aria-label="Go to 2019 News">2018</a></li>
                        <li><a href="javascript:void(0)" aria-label="Go to 2019 News">December</a></li>
                        <li>
                            <span class="show-for-sr">Current: </span> Coral study traces...
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="page-content" id="main-content">
            
                <div class="grid-container large">
                    <div class="grid-x grid-margin-x">
                        <div class="cell large-12">
                            <div class="category">
                                <a class="btn-link" href="javascript:void(0)" aria-label="">Oakes Provost</a>
                            </div>
                        </div>
                        <div class="cell xlarge-8">
                            <h1>Founding Oakes professor draws a crowd at provost house renaming ceremony</h1>
                            <p class="lead">J. Herman Blake and family drew cheers and fond recollections at event renaming Oakes Provost House in his honor.</p>
                            <img src="../assets/img/content/soundcloud-embed.jpg" />
                        </div>
                        <div class="cell xlarge-4">
                            <div class="sidebar">
                                <div class="profile-info">
                                    <!-- <div class="profile-prefix">By </div> -->
                                    <div class="profile-name">
                                        <a class="btn-link" href="javascript:void(0)" aria-label="">Dan White</a>
                                    </div>
                                    <div class="profile-date">November 15, 2018</div>
                                </div>
                                <h5>Share this story:</h5>
                                <div class="social-sharing top right">
                                    <a class="fab fa-twitter" href=""></a>
                                    <a class="fab fa-facebook" href=""></a>
                                    <a class="fab fa-youtube" href=""></a>
                                    <a class="fab fa-linkedin" href=""></a>
                                    <a class="fab fa-reddit" href=""></a>
                                </div>                        <a href="https://soundcloud.com/ucsantacruz/sets" class="primary button">
                                    <i class="fa fa-soundcloud fa-1x"></i> Listen on Soundcloud
                                </a>
                            </div>
                        </div>
                    </div>
                
                    <figure class="img-full">
                        <div class="image">
                            <img src="../assets/img/content/podcast-hero.jpg" alt="">
                        </div>
        
                        <figcaption>
                            <div class="caption-title"></div>
                            <div class="caption-desc"></div>
                        </figcaption>
        
                    </figure>
                </div>
        
                <div class="grid-container">
                    <p class="lead" style="margin: 1rem 0 2rem">Founding Oakes College Provost J. Herman Blake had a warm
                        homecoming recently at UC Santa Cruz when he was the guest of honor in a ceremony rededicating the Oakes Provost
                        House and naming it after Blake. Listen to the podcast.</p>
                    <figure class="img-right-25">
                        <img src="../assets/img/content/podcast-1.jpg" alt="" />
                        <figcaption>
                            <div class="caption-title"></div>
                            <div class="caption-desc">
                                <p>Founding Oakes College Provost J. Herman Blake addressed a crowd of well-wishers during the
                                    name-changing ceremony while UC Santa Cruz emeritus biology professor William T. Doyle
                                    looked on. (Photos by Steve Kurtz)</p>
                            </div>
                        </figcaption>
                    </figure>
        
                    <p>An enthusiastic crowd of 200 people were on hand to cheer Blake, who heard testimonials from current
                        Oakes Provost Regina Langhout; UC Santa Cruz Chancellor George Blumenthal; and emeritus biology professor
                        William T. Doyle, a faculty member when the campus opened in 1965. Doyle suggested the name change and is
                        funding all related expenses.</p>
        
                    <p>Blake started at UC Santa Cruz in 1966 when he accepted an offer to join as a professor of sociology. Six
                        years later he became Oakes’s founding provost. Along with a team of forward-thinking colleagues,
                        including Oakes cofounder Rafael Guzman, he helped the college set forth on the path it follows to this day, with
                        a strong emphasis on inclusion and academic excellence. He placed significant value on mentorship and
                        promoting the sciences among underrepresented students.</p>
        
                    <p>Blake remained the provost of Oakes until 1984, when he left to become president of Tougaloo College.</p>
        
                    <p>After the renaming ceremony, one of Blake’s daughters, Audries Blake, now the assistant director for the
                        Center for Agroecology and Sustainable Food Systems (CASFS) at UC Santa Cruz, shared fond recollections
                        of the provost house.</p>
                    <figure class="img-left-50">
                        <img src="../assets/img/content/podcast-2.jpg" alt="" />
                        <figcaption>
                            <div class="caption-title"></div>
                            <div class="caption-desc">
                                <p>Audries Blake shared fond recollections of life at the Oakes Provost House in front of a rapt crowd.</p>
                            </div>
                        </figcaption>
                    </figure>
        
                    <p>&quot;It was within the (provost house) that I as a young woman learned to grow and to dream,&quot; she
                        said. &quot;It was within the building that lives were transformed. Generational poverty was broken, and people have
                        gone forward in their lives in ways they never imagined because of what took place inside that house. And
                        really, what took place in the house was my father.&quot;</p>
                    <div class="social-sharing bottom">
                        <a class="fab fa-twitter" href=""></a>
                        <a class="fab fa-facebook" href=""></a>
                        <a class="fab fa-youtube" href=""></a>
                        <a class="fab fa-linkedin" href=""></a>
                        <a class="fab fa-reddit" href=""></a>
                    </div>        </div>
             
           
            <section class="heading">
                <h2 class="underline">Related Podcasts</h2>
            </section>
        
            <div class="grid-container large">
                <div class="news-card-list">
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="../assets/img/content/news-image-1.jpeg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Arts &amp; Sciences</div>
                            <h4 class="underline isolated">Guillermo Gómez-Peña returns to UCSC to perform his latest solo work:
                                "The Most (un) Documented Mexican Artist"</h4>
                        </div>
                    </a>
        
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="../assets/img/content/news-image-2.jpeg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Arts &amp; Sciences</div>
                            <h4 class="underline isolated">UCSC to bring art/science LASER series downtown for special evening
                                at Rio Theater</h4>
        
                        </div>
                    </a>
        
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="../assets/img/content/news-image-3.jpeg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Humanities</div>
                            <h4 class="underline isolated">Borderbus: A community conversation about migration, art, and social
                                justice</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="site-footer">
            <div class="grid-container large">
                <div class="gateway-footer">
                    <div class="hide-for-large">
                        <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                            <div class="large-12 small-order-2 cell">
                                <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                                <p class="address">1156 High Street, Santa Cruz, CA 95064</p>
                            </div>
                        </div>
                    </div>
                        <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                            <div class="large-12 small-order-2 cell">
                        
                        
                                <div class="toggle-trigger" data-toggle="quick-1">
                                    <h5 class="underline">Discover <span class="thin">UC Santa Cruz</span><i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                                <div id="quick-1" class="show-for-large fill-width" data-toggler=".show-for-large">
                                    <ul class="menu horizontal">
                                        <li><a href="javascript:void(0)" aria-label="">Take a Virtual Tour</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Give</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Newscenter</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Events</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Maps &amp; Directions</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Directories</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">MyUCSC</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Calendars</a></li>
                                    </ul>
                                </div>
                            
                            </div>
                        </div>
                </div>
                <div class="global-footer">
                    
                    <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                        <div class="cell large-4 show-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">1156 High Street, Santa Cruz, CA 95064</p>
                        </div>
                    
                            <div class="cell large-4">
                                <div class="toggle-trigger" data-toggle="connect">
                                    <h5 class="underline">Connect <span class="thin">to UCSC</span> <i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                            
                                <div class="show-for-large nav-social" data-toggler=".show-for-large" id="connect">
                                    <ul>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                
                                    <ul class="menu vertical show-for-large">
                                        <li><a href="javascript:void(0)" aria-label="">@UCSantaCruz</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">#bananaslugs</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cell large-4">
                                <div class="toggle-trigger" data-toggle="engage">
                                    <h5 class="underline">Engage <span class="thin">with UCSC</span> <i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                    
                                <div id="engage" class="show-for-large" data-toggler=".show-for-large">
                                    <ul class="menu vertical">
                                        <li><a href="#javascript:void(0)">Site Feedback</a></li>
                                        <li><a href="#javascript:void(0)">Employment</a></li>
                                        <li><a href="#javascript:void(0)">Volunteer</a></li>
                                        <li><a href="#javascript:void(0)">Emergency Information</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="grid-x grid-margin-x text-center mt-25">
                        <div class="cell large-4 hide-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">
                                1156 High Street, Santa Cruz, CA 95064
                            </p>
                        </div>
                        <div class="nav-global cell">
                            <ul class="primary-set">
                                <li><a href="#javascript:void(0)">Accreditation</a></li>
                                <li><a href="#javascript:void(0)">Non-Discrimination Policy</a></li>
                                <li><a href="#javascript:void(0)">Privacy Policy &amp; Terms of Use</a></li>
                                <li><a href="#javascript:void(0)">Sexual Violence Prevention &amp; Response</a></li>
                            </ul>
                            <p>&copy;2019 Regents of the University of California.<br>All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
                
            
            </div>


        </div>

        <div class="global-search-container off-canvas position-top align-center" id="global-search" data-off-canvas>
           <div class="global-search">
                <a href="javascript:void(0)" class="close-modal" data-toggle="global-search">
                    <i class="fas fa-close"></i>
                </a>
                <h2 class="mt-25">Search UCSC:</h2>
                <form>
                    <div class="input-group">
                        <input class="input-group-field" type="search" placeholder="Search this site" id="searchInput">
                        <div class="input-group-button">
                                <a class="button secondary" href="javascript:void(0)"><i class="fas fa-search"></i> <span class="show-for-large">Search</span></a>
                        </div>
                    </div>
                </form>
                <div class="footer-links">
                    Other ways to search: <a href="javascript:void(0)" aria-label="">People</a> | <a href="javascript:void(0)" aria-label="">A-Z Index</a> | <a href="javascript:void(0)" aria-label="">Calendars</a>
                </div>
            </div>
                    
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

        <script>
            var wow = new WOW();
            wow.init();
        </script>

        <script src="../assets/js/app.js"></script>
        <script src="https://use.fontawesome.com/facf9fa52c.js"></script>
        <script>
            /*----  this is here to aid in setting the elements in our custom breakpoints */
            $(window).on('load resize', function () {
                var viewportWidth = window.innerWidth / parseFloat($("body").css("font-size"));

                var breakpointSize = function(){
                    if (viewportWidth < 25) { console.log("Breakpoint Size is small") } else
                    if (viewportWidth < 40) { console.log("Breakpoint Size is medium") } else
                    if (viewportWidth < 64) { console.log("Breakpoint Size is large") } else
                    if (viewportWidth < 75) { console.log("Breakpoint Size is xlarge") } else
                    if (viewportWidth < 90) { console.log("Breakpoint Size is xxlarge") } else
                    console.log("Breakpoint Size is xxxlarge")
                }
                console.log("Viewport width is = " + viewportWidth + "rems");
                console.log("---------------");
                breakpointSize();
            });
        </script>
</body>

</html>