<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>UCSC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body class="gateway-wrapper" id="gateway">

    <div id="page">


        <div class="menu-explore off-canvas position-right wave-pattern secondary-blue" id="mobile-menu" data-off-canvas>
        
            <div class="scroll">
                <div class="close-main">
                    <button class="close-button" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                          
                <div class="menu-id">
                    <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                </div>
                
                <div class="aev-links">
                    <div class="expanded button-group">
                        <a class="button solid white-text" href="javascript:void(0)">Apply</a>
                        <a class="button solid white-text" href="javascript:void(0)">Visit</a>
                        <a class="button solid white-text" href="javascript:void(0)">Engage</a>
                    </div>
                </div>
        
                    <div class="primary-links lower-divider">
                        <ul class="vertical menu">
                            <li><a href="javascript:void(0)">About UCSC</a></li>
                            <li><a href="javascript:void(0)">Admissions</a></li>
                            <li><a href="javascript:void(0)">Academics</a></li>
                            <li><a href="javascript:void(0)">Research</a></li>
                            <li><a href="javascript:void(0)">Student Life</a></li>
                        </ul>
                    </div>
        
        
        
        
        
                <div class="global-links">
                    <ul class="vertical menu">
                        <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                    </ul>
                </div>
                    
                        <!-- <li>
                            <a href="javascript:void(0)">About UCSC</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">President and Leadership</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Facts and Figures</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Rankings and Awards</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">History and Traditions</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Profiles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">A-Z Index</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Student Life</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Clubs and Organizations</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Athletics and Recreation</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Health and Wellness</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Residence Halls and Dining</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">The Central Coast</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Academics</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Undergraduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Graduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Colleges</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Centers and Institutes</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Study Abroad</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Internships and Co-ops</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Research</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Library</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Calendar</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Advising and Services</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">UCSC Catalog</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Admissions</a></li>
                        <li>
                            <a href="javascript:void(0)">Costs and Affordability</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Financial Aid</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Student Accounts</a>
                                </li>
                            </ul>
                        </li> -->
                        
                    </ul>
                </div>
        
                <!-- <div class="bottom-links">
                    <ul class="vertical menu">
                        <li><a class="button primary expanded" href="javascript:void(0)">Students</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Faculty and Staff</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Parents</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Alumni</a></li>
                    </ul>
                </div> -->
        
            </div>
        
        </div>
        
        <div data-sticky-container>
            <div id="page-header" role="navigation" class="page-header sticky" aria-expanded="false" aria-label="Page header" data-anchor="main-content" data-sticky data-margin-top='0'>
    
                <div class="global-header">
                
                    <div class="grid-container large">
                        <div class="aev-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)">Apply</a></li>
                                <li><a href="javascript:void(0)">Engage</a></li>
                                <li><a href="javascript:void(0)">Visit</a></li>
                            </ul>
                        </div>
                        
                        <div class="global-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                                <li class="show-for-large search-button">
                                    <a action="#0" data-toggle="global-search"><i class="fas fa-search fa-small"></i> Search</a>
                                </li>
                            </div>
                
                    </div>
                
                </div>
                <div class="gateway-header">
                
                    <div class="grid-container large">
                        
                        <div class="site-logo content">
                            
                            <a href="../templates/template-home-gateway.html" aria-label="">
                                <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" alt="UC Santa Cruz Logo">
                            </a>
                        
                        </div>
                        
                        <div class="gateway-menu" id="site-menu">
                            
                            <ul class="menu">
                                <li><a href="javascript:void(0)" aria-label="">About UCSC</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Admissions</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Academics</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Research</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Student Life</a></li>
                                <li class="primary-search"><a action="#0" data-toggle="global-search"><i class="fas fa-search"></i></a></li>
                            </ul>
                            
                        </div>
                
                
                    </div>
                
                </div>
                <div class="mobile-menu">
                        <a class="mobile-menu-logo" href="../pages/page-home-gateway.html">
                            <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                        </a>
                        <ul class="menu">
                            <li>
                                <a class="global-mobile-search-trigger" href="#0" data-toggle="global-search">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#global-menu" role="button" id="page-header-toggle" class="page-header-toggle" offcanvas-trigger data-open="mobile-menu">
                                    <span>Menu</span>
                                    <span class="fa fa-bars" aria-hidden="true"></span>
                                </a>
                            </li>                   
                        </ul>
                </div>
            
            </div>
        </div>
    
        <div class="hero-viewport inner-page-angle blue">
            <div class="hero-container">
                <div id="hero" class="hero hero-text-left">
                    <div class="angle transparent"></div>
                    <div class="gradient-overlay"></div>
        
                    <img src="../assets/img/content/ucsc.jpg" />
                    <div class="hero-text">
                        <h1 class="hero-header">We are the Banana Slugs!</h1>
                        <p class="hero-body">UC Santa Cruz participated in As Schools Match wits this past summer and there was
                            plenty to talk about. Check out peoples reaction on social media!</p>
                        <a class="button clear white-text" data-smooth-scroll href="#social-media">Explore</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="social-media" style="padding-top: 5rem">
                <!-- You can place a stationary background image -->
                <!--<div class="social-wall-bg" style="background-image: url(https://placehold.it/1800x1200/eeeeee/cccccc/?text=Social+Post+BG+Image)"></div>-->
                <section class="content-centered" style="padding: 0;">
                    <div class="grid-container">
                        <section class="heading">
                            <h2 class="underline mb-0">This is UC Santa Cruz</h2>
                        </section>
                
                        <!--<p class="lead">
                            UC Santa Cruz participated in As Schools Match wits this past summer and there was plenty to talk about. Check out peoples reaction on social media!</p> -->
                        <div class="filter-controls">
                            <a class="filter-control" data-toggle="filter-category" aria-label="View category filters">Filter Posts <i class="fas fa-angle-down"></i></a>
                        </div>
                        <p class="lead">UC Santa Cruz is a public university like no other in California, combining the intimacy of a small, liberal arts college with the depth and rigor of a major research university.</p>
                        <br><br>
                        <div class="filter-box" id="filter-category" data-toggler data-animate="fade-in fade-out">
                            <a href="javascript:void(0)" class="close-modal" data-toggle="filter-category">
                                <i class="fas fa-close"></i>
                            </a>
                            <ul class="menu-list">
                                <li><a href="javascript:void(0)" aria-label="">All Posts</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Photos</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Videos</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Facebook</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Twitter</a></li>
                                <li><a href="javascript:void(0)" aria-label="">Instagram</a></li>
                                <li><a href="javascript:void(0)" aria-label="" >Pinterest</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
        
                <div class="social-wall">
                    <div class="grid-container large">
                        <div class="social-posts">
        
                            <div class="grid-sizer"></div>
                            
                            <div class="featured social-post">
                                <div class="video-post">
                                    <a href="https://www.youtube.com/watch?v=2nfYTyUnfM0" target="_blank">
                                        <div class="cube-content">
                                            <div class="content">
                                                <div class="category white-text">
                                                    Video Spotlight
                                                </div>
                                                <h3 class="white-text">A special look at what makes UC Santa Cruz such a unique place to live and learn.</h3>
                                                <i class="far fa-play-circle fa-3x white-text"></i>
                                            </div>
                                        </div>
                                        <div class="image">
                                            <img src="../assets/img/content/socialwall-video-3.jpg" />
                                        </div>
                                        <div class="cube-actions youtube-post">
                                            <div class="action">
                                                <h3 class="light">Watch it on <strong>YouTube</strong></h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
        
                            <div class="social-post">
                                <div class="facebook-channel social-channel">
                                    <a href="https://www.facebook.com/ucsantacruz" target="_blank">
                                        <div class="cube-content"></div>
                                        <div class="cube-actions facebook-post">
                                            <div class="action">
                                                <h3 class="light">Find us on <strong>Facebook</strong></h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
        
                            <div class="social-post">
                                <div class="facebook-post">
                                    <a href="https://www.facebook.com/pg/ucsantacruz/posts/" target="_blank">
                                        <div class="cube-content">
                                            <div class="cube-mask">
                                                <i class="fab fa-facebook fa-2x white-text"></i>
                                                <div class="image">
                                                    <img src="../assets/img/content/socialwall-facebook-1.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cube-actions facebook-post">
                                            <div class="action"><h3 class="light">Follow us on <strong>Facebook</strong</h3></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
        
                            <div class="social-post">
                                <div class="facebook-post">
                                    <a href="https://www.facebook.com/pg/ucsantacruz/posts/" target="_blank">
                                        <div class="cube-content">
                                            <div class="cube-mask">
                                                <i class="fab fa-facebook fa-2x circle-icon white-text"></i>
                                                
                                                <div class="image">
                                                    <img src="../assets/img/content/social-facebook-1.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cube-actions facebook-post">
                                            <div class="action">
                                                <p>Congratulations to all of our newly admitted Slugs! We can't wait to see you in the fall. #Yes2UCSC</p>
                                                <h3 class="light">View on <strong>Facebook</strong</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
        
                            <div class="social-post">
                                <div class="twitter-post">
                                    <a href="http://bit.ly/2EaPXCn" target="_blank">
                                        <div class="cube-content">
                                            <div class="cube-mask">
                                                <i class="fab fa-twitter fa-2x white-text"></i>
        
                                                <div class="image">
                                                    <img src="../assets/img/content/everythingwall-twitter.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cube-actions twitter-post">
                                             <div class="action">
                                                <p>This quarter's Living Writers Series will be dedicated to celebration of literature by UC Santa Cruz professor Karen Yamashita. @UCSCTHI</p>
                                                <h3 class="light">Read on <strong></strong>Twitter</strong</h3>
                                            </div>
                                            
                                        </div>
                                        
                                    </a>
                                </div>
                            </div>
        
                            <div class="social-post">
                                <div class="instagram-post">
                                    <a href="https://www.instagram.com/p/BuFOINIBZ9z/" target="_blank">
                                        <div class="cube-content">
                                            <div class="cube-mask">
                                                <i class="fab fa-instagram fa-2x white-text"></i>
                                                
                                                <div class="image">
                                                    <img src="../assets/img/content/socialwall-instagram-2.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cube-actions instagram-post">
                                            <div class="action"><h3 class="light">See on <strong></strong>Instagram</strong</h3></div>
                                        </div>
                                        
                                    </a>
                                </div>
                            </div>
        
                            <div class="social-post">
                                    <div class="twitter-post">
                                        <a href="http://bit.ly/2EaPXCn" target="_blank">
                                            <div class="cube-content">
                                                <div class="cube-mask">
                                                    <i class="fab fa-twitter fa-2x circle-icon"></i>
                                                
                                                    <div class="image">
                                                        <img src="../assets/img/content/socialwall-twitter-2.jpg" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cube-actions twitter-post">
                                                <div class="action">
                                                    <p>How did seals first take the evolutionary dive into the oceans more than 30 million years ago? Research led by UC Santa Cruz biologist Sarah Kienle say a particular biting style helped the marine mammals’ ancestors move into the oceans. via: @nytimes</p>
                                                    <h3 class="light">Read on <strong></strong>Twitter</strong</h3>
                                                </div>
                                            </div>
                                            
                                        </a>
                                    </div>
                                </div>
                            
                            <div class="social-post">
                                    <div class="instagram-post">
                                        <a href="https://www.instagram.com/p/BuFOINIBZ9z/" target="_blank">
                                            <div class="cube-content">
                                                <div class="cube-mask">
                                                    <i class="fab fa-instagram fa-2x circle-icon"></i>
                                                    <div class="image">
                                                        <img src="../assets/img/content/socialwall-instagram-1.jpg" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cube-actions instagram-post">
                                                <div class="action"><h3 class="light">See on <strong></strong>Instagram</strong</h3></div>
                                            </div>
                                            
                                        </a>
                                    </div>
                            </div>
        
                            <div class="social-post">
                                <div class="youtube-post">
                                    <a href="https://www.youtube.com/watch?v=Aq1D6mXkraU" target="_blank">
                                        <div class="cube-content">
                                            <div class="cube-mask">
                                                <i class="fab fa-youtube fa-2x circle-icon"></i>
                                                           
                                                <div class="image">
                                                    <img src="../assets/img/content/socialwall-video-2.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cube-actions youtube-post">
                                            <div class="action">
                                                <h5>Young people from Watsonville are learning the basics of broadcasting and publishing their own podcasts thanks to a unique partnership between UC Santa Cruz's Research Center for the Americas, KZSC, and Digital NEST.</h5>
                                                <h3 class="light">Watch on <strong></strong>YouTube</strong</h3>
                                            </div>
                                        </div>
                                        
                                    </a>
                                </div>
                            </div>
                            
                            <div class="social-post">
                                <div class="twitter-channel social-channel">
                                    <a href="https://twitter.com/ucsc" target="_blank">
                                        <div class="cube-content"></div>
                                        <div class="cube-actions twitter-post">
                                            <div class="action"><h3 class="light">Follow us on <strong>Twitter</strong></h3></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="social-post">
                                <div class="instagram-post">
                                    <a href="https://www.instagram.com/p/BuFOINIBZ9z/" target="_blank">
                                        <div class="cube-content">
                                            <div class="cube-mask">
                                                <i class="fab fa-instagram fa-2x circle-icon"></i>
                                                <div class="image">
                                                    <img src="../assets/img/content/socialwall-instagram-3.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cube-actions instagram-post">
                                            <div class="action"><h3 class="light">See on <strong></strong>Instagram</strong</h3></div>
                                        </div>
                                        
                                    </a>
                                </div>
                        </div>
        
                        <div class="social-post">
                            <div class="instagram-post">
                                <a href="https://www.instagram.com/p/BuFOINIBZ9z/" target="_blank">
                                    <div class="cube-content">
                                        <div class="cube-mask">
                                            <i class="fab fa-instagram fa-2x circle-icon"></i>
                                            <div class="image">
                                                <img src="../assets/img/content/socialwall-instagram-4.jpg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cube-actions instagram-post">
                                        <div class="action"><h3 class="light">See on <strong></strong>Instagram</strong</h3></div>
                                    </div>
                                    
                                </a>
                            </div>
                    </div>
        
                            <div class="social-post">
                                <div class="instagram-channel social-channel">
                                    <a href="https://www.instagram.com/ucsc/" target="_blank">
                                        <div class="cube-content"></div>
                                        <div class="cube-actions instagram-post">
                                            <div class="action"><h3 class="light">See us on <strong>Instagram</strong></h3></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
        
                            <div class="social-post">
                                <div class="instagram-post">
                                    <a href="https://www.instagram.com/p/BuFOINIBZ9z/" target="_blank">
                                        <div class="cube-content">
                                            <div class="cube-mask">
                                                <i class="fab fa-instagram fa-2x circle-icon"></i>
                                                <div class="image">
                                                    <img src="../assets/img/content/socialwall-instagram-5.jpg" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cube-actions instagram-post">
                                            <div class="action">
                                                <h3 class="light">See on <strong></strong>Instagram</strong</h3>
                                            </div>
                                        </div>
                                        
                                    </a>
                                </div>
                        </div>
                            
                            <div class="social-post">
                                <div class="youtube-channel social-channel">
                                    <a href="https://www.youtube.com/ucsantacruz" target="_blank">
                                        <div class="cube-content"></div>
                                        <div class="cube-actions youtube-post">
                                            <div class="action"><h3 class="light">Subscribe to us on <strong>YouTube</strong></h3></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        
        
        <div class="site-footer">
            <div class="grid-container large">
                <div class="gateway-footer">
                    <div class="hide-for-large">
                        <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                            <div class="large-12 small-order-2 cell">
                                <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                                <p class="address">1156 High Street, Santa Cruz, CA 95064</p>
                            </div>
                        </div>
                    </div>
                        <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                            <div class="large-12 small-order-2 cell">
                        
                        
                                <div class="toggle-trigger" data-toggle="quick-1">
                                    <h5 class="underline">Discover <span class="thin">UC Santa Cruz</span><i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                                <div id="quick-1" class="show-for-large fill-width" data-toggler=".show-for-large">
                                    <ul class="menu horizontal">
                                        <li><a href="javascript:void(0)" aria-label="">Take a Virtual Tour</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Give</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Newscenter</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Events</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Maps &amp; Directions</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Directories</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">MyUCSC</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Calendars</a></li>
                                    </ul>
                                </div>
                            
                            </div>
                        </div>
                </div>
                <div class="global-footer">
                    
                    <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                        <div class="cell large-4 show-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">1156 High Street, Santa Cruz, CA 95064</p>
                        </div>
                    
                            <div class="cell large-4">
                                <div class="toggle-trigger" data-toggle="connect">
                                    <h5 class="underline">Connect <span class="thin">to UCSC</span> <i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                            
                                <div class="show-for-large nav-social" data-toggler=".show-for-large" id="connect">
                                    <ul>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                
                                    <ul class="menu vertical show-for-large">
                                        <li><a href="javascript:void(0)" aria-label="">@UCSantaCruz</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">#bananaslugs</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="cell large-4">
                                <div class="toggle-trigger" data-toggle="engage">
                                    <h5 class="underline">Engage <span class="thin">with UCSC</span> <i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                    
                                <div id="engage" class="show-for-large" data-toggler=".show-for-large">
                                    <ul class="menu vertical">
                                        <li><a href="#javascript:void(0)">Site Feedback</a></li>
                                        <li><a href="#javascript:void(0)">Employment</a></li>
                                        <li><a href="#javascript:void(0)">Volunteer</a></li>
                                        <li><a href="#javascript:void(0)">Emergency Information</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                    </div>
                    
                    <div class="grid-x grid-margin-x text-center mt-25">
                        <div class="cell large-4 hide-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">
                                1156 High Street, Santa Cruz, CA 95064
                            </p>
                        </div>
                        <div class="nav-global cell">
                            <ul class="primary-set">
                                <li><a href="#javascript:void(0)">Accreditation</a></li>
                                <li><a href="#javascript:void(0)">Non-Discrimination Policy</a></li>
                                <li><a href="#javascript:void(0)">Privacy Policy &amp; Terms of Use</a></li>
                                <li><a href="#javascript:void(0)">Sexual Violence Prevention &amp; Response</a></li>
                            </ul>
                            <p>&copy;2019 Regents of the University of California.<br>All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
                
            
            </div>


        </div>

        <div class="global-search-container off-canvas position-top align-center" id="global-search" data-off-canvas>
           <div class="global-search">
                <a href="javascript:void(0)" class="close-modal" data-toggle="global-search">
                    <i class="fas fa-close"></i>
                </a>
                <h2 class="mt-25">Search UCSC:</h2>
                <form>
                    <div class="input-group">
                        <input class="input-group-field" type="search" placeholder="Search this site" id="searchInput">
                        <div class="input-group-button">
                                <a class="button secondary" href="javascript:void(0)"><i class="fas fa-search"></i> <span class="show-for-large">Search</span></a>
                        </div>
                    </div>
                </form>
                <div class="footer-links">
                    Other ways to search: <a href="javascript:void(0)" aria-label="">People</a> | <a href="javascript:void(0)" aria-label="">A-Z Index</a> | <a href="javascript:void(0)" aria-label="">Calendars</a>
                </div>
            </div>
                    
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

        <script>
            var wow = new WOW();
            wow.init();
        </script>

        <script src="../assets/js/app.js"></script>
        <script src="https://use.fontawesome.com/facf9fa52c.js"></script>
        <script>
            /*----  this is here to aid in setting the elements in our custom breakpoints */
            $(window).on('load resize', function () {
                var viewportWidth = window.innerWidth / parseFloat($("body").css("font-size"));

                var breakpointSize = function(){
                    if (viewportWidth < 25) { console.log("Breakpoint Size is small") } else
                    if (viewportWidth < 40) { console.log("Breakpoint Size is medium") } else
                    if (viewportWidth < 64) { console.log("Breakpoint Size is large") } else
                    if (viewportWidth < 75) { console.log("Breakpoint Size is xlarge") } else
                    if (viewportWidth < 90) { console.log("Breakpoint Size is xxlarge") } else
                    console.log("Breakpoint Size is xxxlarge")
                }
                console.log("Viewport width is = " + viewportWidth + "rems");
                console.log("---------------");
                breakpointSize();
            });
        </script>
</body>

</html>