<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <title>UCSC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body class="subsite-wrapper">

    <div id="page">
        <div class="menu-explore off-canvas position-right wave-pattern secondary-blue" id="mobile-menu" data-off-canvas>
        
            <div class="scroll">
                <div class="close-main">
                    <button class="close-button" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                          
                <div class="menu-id">
                    <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                </div>
                
                <div class="aev-links">
                    <div class="expanded button-group">
                        <a class="button solid white-text" href="javascript:void(0)">Apply</a>
                        <a class="button solid white-text" href="javascript:void(0)">Visit</a>
                        <a class="button solid white-text" href="javascript:void(0)">Engage</a>
                    </div>
                </div>
        
        
        
        
        
                    <!-- Subsite Menu-->
                    <div class="primary-links lower-divider">
                        <ul class="vertical menu">
                            <li><a href="javascript:void(0)" aria-label="">Sections</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Awards &amp; Honors</a></li>
                            <li><a href="javascript:void(0)" aria-label="">Videos</a></li>
                            <li><a href="javascript:void(0)" aria-label="">In the News</a></li>
                        </ul>
                    </div>
        
        
        
                <div class="global-links">
                    <ul class="vertical menu">
                        <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                        <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                    </ul>
                </div>
                    
                        <!-- <li>
                            <a href="javascript:void(0)">About UCSC</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">President and Leadership</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Facts and Figures</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Rankings and Awards</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">History and Traditions</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Profiles</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">A-Z Index</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Student Life</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Clubs and Organizations</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Athletics and Recreation</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Health and Wellness</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Residence Halls and Dining</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">The Central Coast</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Academics</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Undergraduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Graduate</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Colleges</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Centers and Institutes</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Study Abroad</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Internships and Co-ops</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Research</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Library</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Calendar</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Academic Advising and Services</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">UCSC Catalog</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)">Admissions</a></li>
                        <li>
                            <a href="javascript:void(0)">Costs and Affordability</a>
                            <ul class="vertical menu nested">
                                <li>
                                    <a href="javascript:void(0)">Overview</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Financial Aid</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Student Accounts</a>
                                </li>
                            </ul>
                        </li> -->
                        
                    </ul>
                </div>
        
                <!-- <div class="bottom-links">
                    <ul class="vertical menu">
                        <li><a class="button primary expanded" href="javascript:void(0)">Students</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Faculty and Staff</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Parents</a></li>
                        <li><a class="button primary expanded" href="javascript:void(0)">Alumni</a></li>
                    </ul>
                </div> -->
        
            </div>
        
        </div>
        
        <div data-sticky-container>
            <div id="page-header" role="navigation" class="page-header sticky" aria-expanded="false" aria-label="Page header" data-sticky data-margin-top="0" data-anchor="main-content">
    
                <div class="global-header">
                
                    <div class="grid-container large">
                            <div class="site-logo global">
                                <a href="../templates/template-home-gateway.html">
                                    <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg">
                                </a>
                            </div>
                        <div class="aev-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)">Apply</a></li>
                                <li><a href="javascript:void(0)">Engage</a></li>
                                <li><a href="javascript:void(0)">Visit</a></li>
                            </ul>
                        </div>
                        
                        <div class="global-menu">
                            <ul class="menu">
                                <li><a href="javascript:void(0)" aria-label=""><span>MyUCSC</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Calendars</span></a></li>
                                <li><a href="javascript:void(0)" aria-label=""><span>Directories</span></a></li>
                                <li class="show-for-large search-button">
                                    <a action="#0" data-toggle="global-search"><i class="fas fa-search fa-small"></i> Search</a>
                                </li>
                            </div>
                
                    </div>
                
                </div>
                <div class="mobile-menu">
                        <a class="mobile-menu-logo" href="../pages/page-home-gateway.html">
                            <img src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                        </a>
                        <ul class="menu">
                            <li>
                                <a class="global-mobile-search-trigger" href="#0" data-toggle="global-search">
                                    <i class="fas fa-search"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#global-menu" role="button" id="page-header-toggle" class="page-header-toggle" offcanvas-trigger data-open="mobile-menu">
                                    <span>Menu</span>
                                    <span class="fa fa-bars" aria-hidden="true"></span>
                                </a>
                            </li>                   
                        </ul>
                </div>
                <div class="subsite-header">
                    <!--------------------------------------------->
                    <!------------- Custom Subsite Logo ----------->
                    <!--------------------------------------------->
                    
                
                    <!--------------------------------------------->
                    <!--------------- Subsite Template ------------>
                    <!--------------------------------------------->
                
                
                
                    <!--------------------------------------------->
                    <!--------------- News Template  -------------->
                    <!--------------------------------------------->
                        
                        <div class="grid-container large">
                            <div class="grid-x large-padding-collapse large-margin-collapse">
                                <div class="cell large-3">
                                    <div class="subsite-brand-container">
                                        <a href="../templates/template-news-home.html" aria-label="Return to news home page">
                                            <h1>Newscenter</h1>
                                        </a>
                                    </div>                </div>
                                <div class="cell auto">
                                    
                                    <ul class="menu">
                                        <li>
                                            <a class="" data-toggle="filter-form">
                                                <strong>Sections</strong> <span class="fa fa-bars"></span>
                                            </a>
                                        </li>
                                        <li><a href="javascript:void(0)" aria-label="">Awards &amp; Honors</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Videos</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">In the News</a></li>
                                    </ul>                </div>
                            </div>
                        </div>
                        <div class="filter-box full-width" id="filter-form" data-toggler data-animate="fade-in fade-out">
                            
                            <div class="grid-container">
                                <a href="javascript:void(0)" class="close-modal" data-toggle="filter-form">
                                    <i class="fas fa-close"></i>
                                </a>
                                <div class="grid-x grid-margin-x">
                                    <div class="large-3 cell">
                                        <ul class="menu-list featured">
                                            <li><a href="javascript:void(0)" aria-label="">Tuesday Newsday</a></li>
                                            <li><a href="javascript:void(0)" aria-label="">Review Magazine</a></li>
                                            <li><a href="javascript:void(0)" aria-label="">Administrative Messages</a></li>
                                            <li><a href="javascript:void(0)" aria-label="">Budget Updates</a></li>
                                            <li><a href="javascript:void(0)" aria-label="">Featured Sites</a></li>
                                        </ul>
                                    </div>
                        
                                    <div class="large-9 cell">
                                       <div class="grid-container">
                
                                            <div class="grid-x grid-margin-x">  
                                                <div class="large-4 cell">
                                                    <ul class="menu-list">
                                                        <li><a href="javascript:void(0)" aria-label="">General</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">Special Topics</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">The UCSC Experience</a></li>
                                                    </ul>
                                                </div>
                        
                                                <div class="large-4 cell">
                                                    <ul class="menu-list">
                                                        <li><a href="javascript:void(0)" aria-label="">Arts</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">Engineering</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">Humanities</a></li>
                                                    </ul>
                                                </div>
                        
                                                <div class="large-4 cell">
                                                    <ul class="menu-list">
                                                        <li><a href="javascript:void(0)" aria-label="">Physical and Biological Sciences</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">Social Sciences</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">All Audience Areas</a></li>
                                                        <li><a href="javascript:void(0)" aria-label="">All Activities</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    
                </div>
            
            </div>
        </div>
                    
        <div class="page-utilities">
            <div class="grid-container large">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><a href="javascript:void(0)" aria-label="Go to Newscenter Home Page">Newscenter Home</a></li>
                        <li><a href="javascript:void(0)" aria-label="Go to 2019 News">2018</a></li>
                        <li><a href="javascript:void(0)" aria-label="Go to 2019 News">December</a></li>
                        <li>
                            <span class="show-for-sr">Current: </span> Coral study traces...
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <div class="page-content" id="main-content">
            <div class="grid-container large">
                <div class="grid-x grid-margin-x">
                    <div class="cell large-12">
                        <a href="javascript:void(0)" class="category btn-link" aria-label="">Marine</a>
                     </div>
                     <div class="cell xlarge-8">
                        <h1>Coral study traces excess nitrogen to Maui wastewater treatment facility</h1>
                        <p class="lead">Nutrient pollution has been blamed for algal blooms and degradation of coral reefs along Maui's west coast</p>
                    </div>
                    <div class="cell xlarge-4">
                        <div class="sidebar">
                            <div class="profile-info">
                                <div class="profile-prefix">By </div>
                                <div class="profile-name">
                                    <a class="btn-link" href="javascript:void(0)" aria-label="">Tim Stephans</a>
                                </div>
                                <div class="profile-date">March 21, 2019</div>
                            </div>
                            <h5>Share this story:</h5>
                            <div class="social-sharing top right">
                                <a class="fab fa-twitter" href=""></a>
                                <a class="fab fa-facebook" href=""></a>
                                <a class="fab fa-youtube" href=""></a>
                                <a class="fab fa-linkedin" href=""></a>
                                <a class="fab fa-reddit" href=""></a>
                            </div>                </div>
                    </div>
                </div>
            </div>
        <br />
            <div class="grid-container large">
                <figure class="img-full">
                    <div class="image">
                        <img src="../assets/img/content/news-post-large.jpg" alt="">
                    </div>
            
                        <figcaption>
                            <div class="caption-title"></div>
                            <div class="caption-desc">
                                <p>Groundwater carrying excess nutrients from treated sewage enters coastal waters through submarine freshwater seeps in the reef off the coast of Maui. (Photo by Peter Swarzenski, USGS)</p>
                            </div>
                        </figcaption>
                         
                </figure>
            </div>
            <div class="grid-container"> 
                <div class="grid-x grid-margin-x">
                    
                    <div class="cell">
                        <p>A new method for reconstructing changes in nitrogen sources over time has enabled scientists to connect excess nutrients in the coastal waters of West Maui, Hawaii, to a sewage treatment facility that injects treated wastewater into the ground.</p>
        
                        <p>Algal blooms and degradation of coral reefs along Maui's coast have been attributed to nutrient pollution, and previous studies have suggested the Lahaina Wastewater Reclamation Facility is a major source of excess nutrients in coastal waters. Previous experiments using dye tracers showed a direct link between the facility's injection site and small submarine seeps that discharge freshwater near the coral reefs. But there are many potential sources of nitrogen, and it has been hard to show that the excess nitrogen in the water comes from the treatment plant.</p>
        
                        <figure class="img-right-50">
                            <img src="../assets/img/content/news-post-large.jpg" alt="">
                            <figcaption>
                                <div class="caption-title"></div>
                                <div class="caption-desc">
                                    <p>Groundwater carrying excess nutrients from treated sewage enters coastal waters through submarine freshwater seeps in the reef off the coast of Maui. (Photo by Peter Swarzenski, USGS)</p>
                                </div>
                            </figcaption>
                        </figure>
        
                        <p>"They didn't have a smoking gun to say that the nitrogen came from the sewage," said Adina Paytan, a research professor in the Institute of Marine Sciences at UC Santa Cruz.</p>
        
                        <p>Paytan and UCSC graduate student Joseph Murray worked with U.S. Geological Survey researchers <a href="#0" class="btn-link">Nancy Prouty</a> and <a href="#0" class="btn-link">NSara Peek</a> on the new study, published April 3 in Scientific Reports.</p>
        
                        <p>"While submarine groundwater discharge is a natural process, humans are altering the composition of the water, making the reefs vulnerable to activities we do on land," Prouty said.</p>
        
                        <figure class="img-left-50">
                            <img src="../assets/img/content/news-post-large-2.jpg" alt="">
                            <figcaption>
                                <div class="caption-title"></div>
                                <div class="caption-desc">
                                    <p>This heavily bioeroded coral was collected near a submarine groundwater discharge vent off the coast of Maui. (Photo by Nancy Prouty, USGS)</p>
                                </div>
                            </figcaption>
                        </figure>
        
                        <p>The researchers developed a procedure for analyzing nitrogen isotopes incorporated into the crystal structure of coral skeletons. Corals lay down new skeleton material in layers that can be seen in cross-section and dated like tree rings. This enabled the researchers to correlate changes in nitrogen isotopes in the corals with changes in the operations of the wastewater facility.</p>
        
                        <p>In addition to the implications for addressing <a href="#0" class="btn-link">inutrient pollution in Maui</a>, the new findings demonstrate the power of this technique for tracking historical changes in nutrients in seawater.</p>
        
                        <p>"It's a very accurate and high-resolution way to record past nutrient pollution in seawater, which is a huge problem globally," Paytan said. "It opens up a lot of possibilities for looking at historic nitrogen pollution and other changes in nitrogen sources over time. And you don't have to use coral--you could also use clam shells, for example."</p>
                        
                        <p>"In Maui, the researchers collected cores from corals at sites near the submarine seeps. Their analysis provided a 40-year record of nitrogen isotopes incorporated into the coral skeletons. The results showed a dramatic change in the isotopes after 1995, corresponding with the implementation of a biological nutrient removal process at the Lahaina Wastewater Reclamation Facility.</p>
                                
                        <p>"Paytan explained that the nutrient removal process preferentially removes lighter <a href="#0" class="btn-link">isotopes of nitrogen</a>, so the remaining nitrogen is enriched in the heavier nitrogen-15 isotope.</p>
                                
                        <p>"There is no other process that would result in this signature, so it has to be from the sewage," she said. "Even though the treatment process removes some of the nitrogen, there is so much in the sewage that there is still a lot left, and when they inject it into the groundwater it ends up in coastal waters."</p>
                                
                        <p>"In February, the U.S. Supreme Court agreed to hear a case involving the Lahaina Wastewater Reclamation Facility and the Clean Water Act, with potentially far-reaching implications for federal environmental protections.</p>
                                
                        <p>"This research was supported by the USGS Coastal and Marine Geology Program and NOAA's Coral Reef Conservation Program.</p>
                                
                            
                        <p>Topics: <a class="btn-link" href="javascript:void(0)"> Geology</a>, <a class="btn-link" href="javascript:void(0)">Conservation</a></p>
                    
                    </div>
                </div>
        
                <div class="social-sharing bottom">
                    <a class="fab fa-twitter" href=""></a>
                    <a class="fab fa-facebook" href=""></a>
                    <a class="fab fa-youtube" href=""></a>
                    <a class="fab fa-linkedin" href=""></a>
                    <a class="fab fa-reddit" href=""></a>
                </div>
            </div>
            
            <section class="heading">
                <h2 class="underline">Related News</h2>
            </section>
        
            <div class="grid-container large">
                <div class="news-card-list">
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="../assets/img/content/news-image-1.jpeg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Arts &amp; Sciences</div>
                            <h4 class="underline isolated">Guillermo Gómez-Peña returns to UCSC to perform his latest solo work:
                                "The Most (un) Documented Mexican Artist"</h4>
                        </div>
                    </a>
        
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="../assets/img/content/news-image-2.jpeg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Arts &amp; Sciences</div>
                            <h4 class="underline isolated">UCSC to bring art/science LASER series downtown for special evening at Rio Theater</h4>
                                
                        </div>
                    </a>
                
                    <a class="news-card" href="javascript:void(0)" aria-label="">
                        <div class="image">
                            <img src="../assets/img/content/news-image-3.jpeg">
                        </div>
                        <div class="news-card-content">
                            <div class="category btn-link">Humanities</div>
                            <h4 class="underline isolated">Borderbus: A community conversation about migration, art, and social justice</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="site-footer">
            <div class="grid-container large">
                <div class="subsite-footer">
                    <!-- <div class="hide-for-large grid-x grid-padding-x large-padding-collapse large-margin-collapse">
                        <div class="small-12 small-order-2 xlarge-order-1 cell">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                        </div>
                    </div> -->
            

                   
                        <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                            <div class="large-4 small-order-2 large-order-1 cell">
                                <div class="contact-card">
                                    <h3>Newscenter</h3>
                                    <strong>Email:</strong> news@ucsc.edu<br>
                                    <strong>Phone:</strong> (831)123-4567<br>
                                    <strong>Fax:</strong> (831)987-6543
                                </div>
                                <div class="nav-social">
                                    <ul>
                                        <li><a href="javascript:void(0)" target="_blank">
                                            <i class="fab fa-twitter"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank">
                                            <i class="fab fa-instagram"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank">
                                            <i class="fab fa-facebook-square"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank">
                                            <i class="fab fa-youtube"></i></a></li>
                                        <li><a href="javascript:void(0)" target="_blank">
                                            <i class="fab fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="large-8 small-order-2 large-order-2 cell">
                                <div class="toggle-trigger" data-toggle="quick-1">
                                    <h5 class="underline"><i class="fas fa-plus hide-for-large"></i> News Sections
                                    </h5>
                                </div>

                                <div id="quick-1" class="show-for-large" data-toggler=".show-for-large">
                                    <ul class="menu horizontal">
                                        <li><a href="javascript:void(0)" aria-label="">Review Magazine</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Tuesday Newsday</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Administrative Messages</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Budget Updates</a></li>
                                        <li><a href="javascript:void(0)" aria-label="">Featured Sites</a></li>
                                    </ul>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                    


                </div>

                <div class="global-footer">
                    
                    <div class="grid-x grid-margin-x grid-padding-x large-padding-collapse large-margin-collapse">
                        <div class="cell large-4 show-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">1156 High Street, Santa Cruz, CA 95064</p>
                        </div>
                    
                            <div class="cell large-8">
                                <div class="toggle-trigger" data-toggle="engage">
                                    <h5 class="underline">Engage <span class="thin">with UCSC</span> <i class="fas fa-plus hide-for-large"></i></h5>
                                </div>
                    
                                <div id="engage" class="show-for-large" data-toggler=".show-for-large">
                                   <ul class="menu horizontal">
                                        <li><a href="#javascript:void(0)">Site Feedback</a></li>
                                        <li><a href="#javascript:void(0)">Employment</a></li>
                                        <li><a href="#javascript:void(0)">Volunteer</a></li>
                                        <li><a href="#javascript:void(0)">Emergency Information</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    
                    <div class="grid-x grid-margin-x text-center mt-25">
                        <div class="cell large-4 hide-for-large">
                            <img class="white-ucsc-logo" src="../assets/img/build-resources/uc-santa-cruz-reverse.svg" />
                            <p class="address">
                                1156 High Street, Santa Cruz, CA 95064
                            </p>
                        </div>
                        <div class="nav-global cell">
                            <ul class="primary-set">
                                <li><a href="#javascript:void(0)">Accreditation</a></li>
                                <li><a href="#javascript:void(0)">Non-Discrimination Policy</a></li>
                                <li><a href="#javascript:void(0)">Privacy Policy &amp; Terms of Use</a></li>
                                <li><a href="#javascript:void(0)">Sexual Violence Prevention &amp; Response</a></li>
                            </ul>
                            <p>&copy;2019 Regents of the University of California.<br>All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
                

            </div>



        </div>
        <div class="global-search-container off-canvas position-top align-center" id="global-search" data-off-canvas>
           <div class="global-search">
                <a href="javascript:void(0)" class="close-modal" data-toggle="global-search">
                    <i class="fas fa-close"></i>
                </a>
                <h2 class="mt-25">Search UCSC:</h2>
                <form>
                    <div class="input-group">
                        <input class="input-group-field" type="search" placeholder="Search this site" id="searchInput">
                        <div class="input-group-button">
                                <a class="button secondary" href="javascript:void(0)"><i class="fas fa-search"></i> <span class="show-for-large">Search</span></a>
                        </div>
                    </div>
                </form>
                <div class="footer-links">
                    Other ways to search: <a href="javascript:void(0)" aria-label="">People</a> | <a href="javascript:void(0)" aria-label="">A-Z Index</a> | <a href="javascript:void(0)" aria-label="">Calendars</a>
                </div>
            </div>
                    
        </div>
        



        <script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

        <script>
            var wow = new WOW();
            wow.init();
        </script>

        <script src="../assets/js/app.js"></script>
        <script src="//use.fontawesome.com/facf9fa52c.js"></script>
        
        <script>
            $(window).on('load resize', function () {
                //document.getElementById("width_px").innerHTML = window.innerWidth;
                //document.getElementById("width_ems").innerHTML = window.innerWidth / parseFloat($("body").css("font-size"));
                var viewportWidth = window.innerWidth / parseFloat($("body").css("font-size"));

                var breakpointSize = function(){
                    if (viewportWidth < 25) { console.log("Breakpoint Size is small") } else
                    if (viewportWidth < 40) { console.log("Breakpoint Size is medium") } else
                    if (viewportWidth < 64) { console.log("Breakpoint Size is large") } else
                    if (viewportWidth < 75) { console.log("Breakpoint Size is xlarge") } else
                    if (viewportWidth < 90) { console.log("Breakpoint Size is xxlarge") } else
                    console.log("Breakpoint Size is xxxlarge")
                }
                console.log("Viewport width is = " + viewportWidth + "rems");
                console.log("---------------");
                breakpointSize();
            });
            </script>

</body>

</html>