.featured-news-grid.view-display-id-block_1 {
  display: flex;
  flex-wrap: wrap;

  > .attachment {
    position: relative;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    @media (max-width: $screen-sm-max) {
      flex: 0 0 100%;
      max-width: 100%;
      height: 400px;
    }
    @media (max-width: 480px) {
      height: 300px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 80%;
      width: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,1+100 */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0); /* IE6-9 */
    }

    .featured-post-wrap {
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 30px;
      z-index: 5;
      color: #ffffff;
    }
  }

  > .view-content {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    @media (max-width: $screen-sm-max) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .featured-post-wrap {
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }

}


.featured-news-slider {
  .slides {
    .featured-post-wrap {
    }
  }

  .controls {

  }
}
