.paragraph--type--person-carousel {
  overflow: hidden;

  .view-id-carousels.view-display-id-block_1 {
    .slick-arrow {
      z-index: 10;

      &.slick-prev {
        left: 15px;
      }

      &.slick-next {
        right: 15px;
      }
    }

    .slick-list {
      margin: 0 -10px;
      overflow: visible;

      .hide-overflow & {
        overflow-y: hidden;
      }

      &:before,
      &:after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background: transparent;
        position: absolute;
        top: 0;
        z-index: 2;
      }

      &:before {
        right: 100%;
      }

      &:after {
        left: 100%;
      }

      .slick-slide {
        float: left;
        padding: 0 10px;
        opacity: 0.2;
        transition: ease all 0.4s;

        &.slick-active {
          opacity: 1;
        }

        img {
          width: 100%;
          height: auto;
          max-width: 100%;
        }
      }
    }
  }
}
