// Defining values.
$screen-sm-min: 768px;                // @media (max-width: $screen-xs-max) { ... }
$screen-xs-max: ($screen-sm-min - 1); // @media (min-width: $screen-sm-min) { ... }
$screen-md-min: 992px;                // @media (max-width: $screen-sm-max) { ... }
$screen-sm-max: ($screen-md-min - 1); // @media (min-width: $screen-md-min) { ... }
$screen-lg-min: 1200px;               // @media (max-width: $screen-md-max) { ... }
$screen-md-max: ($screen-lg-min - 1); // @media (min-width: $screen-lg-min) { ... }
