<div class="global-search-container off-canvas position-top align-center" id="global-search" data-off-canvas>
   <div class="global-search">
        <a href="javascript:void(0)" class="close-modal" data-toggle="global-search">
            <i class="fas fa-close"></i>
        </a>
        <h2 class="mt-25">Search UCSC:</h2>
        <form>
            <div class="input-group">
                <input class="input-group-field" type="search" placeholder="Search this site" id="searchInput">
                <div class="input-group-button">
                        <a class="button secondary" href="javascript:void(0)"><i class="fas fa-search"></i> <span class="show-for-large">Search</span></a>
                </div>
            </div>
        </form>
        <div class="footer-links">
            Other ways to search: <a href="javascript:void(0)" aria-label="">People</a> | <a href="javascript:void(0)" aria-label="">A-Z Index</a> | <a href="javascript:void(0)" aria-label="">Calendars</a>
        </div>
    </div>
            
</div>

