{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_id,
  'paragraph--id--' ~ paragraph.id()|clean_id,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_id,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
  <section{{ attributes.addClass(classes) }} aria-label="content row">
    {% block content %}

      <div class="grid-container large">
        <div class="content">

          {% if content.field_title|field_value is not empty %}
            <section class="heading">
              <h2 class="underline">{{ content.field_title }}</h2>
            </section>
          {% endif %}

          {% if content.field_code|field_value is not empty %}
            <div class="grid-x grid-margin-x">
              <div class="cell large-12">
                {{ content|without('field_title') }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </section>
{% endblock paragraph %}
