{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_id,
  'paragraph--id--' ~ paragraph.id()|clean_id,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_id,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

<section class="grid-centered">

  <div class="intro">
    {% if content.field_title|field_value is not empty %}
      <h1>{{ content.field_title }}</h1>
    {% endif %}

    {% if content.field_body_formatted|field_value is not empty %}
      {{ content.field_body_formatted|field_value }}
    {% endif %}

  </div>

  <div class="grid-generic-centered">
    {{ content.field_paragraphs }}
  </div>
</section>
