/**
 * $file
 * Variables
 *
 ****
 *
 * Page Widths
 * Fonts
 * Colors
 *
 ****
*/




/****
 *
 * Page Widths
 *
 ****/
$width-page: 1200px;

$mobile: '(max-width: 767px)';
$tablet-min: '(min-width: 768px)';
$desktop-min: "(min-width: 960px)";
//#{$mobile}
//#{$tablet-min}
//#{$desktop-min}


/****
 *
 * Fonts
 *
 ****/
$font-awesome: 'FontAwesome';

$font-helvetica: 'helvetica',  Arial, sans-serif;

$font-h1: 5rem;
$font-h2: 4rem;
$font-h3: 3.6rem;
$font-h4: 3rem;
$font-h5: 2rem;
$font-h6: 1.6rem;




/****
 *
 * Colors
 *
 ****/

$color-header: #333;
$color-body: #333;

$color-blue: #005794;
$color-green: #A7DBD8;

$color-red: #BD1B00;
$color-orange: #E84708;
$color-yellow: #FDC300;

$color-grey-xlt: #f5f5f5;
$color-grey-lt: #eeeeee;
$color-grey: #d8d8d8;
$color-grey-dk: #959595;
$color-black: #282B2C;

//Styleguide Colors
$color-style-blue: #00a3bf;
$color-style-dark-grey: #a7a7a7;
$color-style-grey: #CCC;
$color-style-light-grey: #F4F5F5;
$color-style-green: #B6BD00;
$color-style-red: #CF0A2C;
