---
layout: viewer-components
---

<section class="historical-section">

    <div class="intro">
        <h1>Headline</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae fuga molestiae? Eveniet quia odit laborum quaerat blanditiis sapiente quam alias, culpa voluptates corporis ratione, quas natus at, esse qui!</span> 
        </p>
    </div>

    <!-- Set up your HTML -->
    <div class="owl-carousel fact-timeline">
        <a class="historical-fact" href="javascript:void(0)" aria-label="">
            <div class="image">
                <img src="{{root}}assets/img/content/news-image-1.jpeg" />
            </div>
            <div class="card-text">
                <span class="category label">1901 - 1920</span>
                <h4 class="underline">On this date, this happened</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
            </div>
        </a>
        <a class="historical-fact" href="javascript:void(0)" aria-label="">
            <div class="image">
                <img src="{{root}}assets/img/content/news-image-1.jpeg" />
            </div>
            <div class="card-text">
                <span class="category label">1921 - 1930</span>
                <h4 class="underline">On this date, this happened</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
            </div>
        </a>
        <a class="historical-fact" href="javascript:void(0)" aria-label="">
            <div class="image">
                <img src="{{root}}assets/img/content/news-image-1.jpeg" />
            </div>
            <div class="card-text">
                <span class="category label">1931 - 1940</span>
                <h4 class="underline">On this date, this happened</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
            </div>
        </a>
        <a class="historical-fact" href="javascript:void(0)" aria-label="">
            <div class="image">
                <img src="{{root}}assets/img/content/news-image-1.jpeg" />
            </div>
            <div class="card-text">
                <span class="category label">1941 - 1950</span>
                <h4 class="underline">On this date, this happened</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
            </div>
        </a>
        <a class="historical-fact" href="javascript:void(0)" aria-label="">
            <div class="image">
                <img src="{{root}}assets/img/content/news-image-1.jpeg" />
            </div>
            <div class="card-text">
                <span class="category label">1951 - 1960</span>
                <h4 class="underline">On this date, this happened</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
            </div>
        </a>
        <a class="historical-fact" href="javascript:void(0)" aria-label="">
            <div class="image">
                <img src="{{root}}assets/img/content/news-image-1.jpeg" />
            </div>
            <div class="card-text">
                <span class="category label">1961 - 1970</span>
                <h4 class="underline">On this date, this happened</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
            </div>
        </a>
        <a class="historical-fact" href="javascript:void(0)" aria-label="">
            <div class="image">
                <img src="{{root}}assets/img/content/news-image-1.jpeg" />
            </div>
            <div class="card-text">
                <span class="category label">1971 - 1980</span>
                <h4 class="underline">On this date, this happened</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
            </div>
        </a>
        <a class="historical-fact" href="javascript:void(0)" aria-label="">
            <div class="image">
                <img src="{{root}}assets/img/content/news-image-1.jpeg" />
            </div>
            <div class="card-text">
                <span class="category label">1981 - 1990</span>
                <h4 class="underline">On this date, this happened</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
            </div>
        </a>

    </div>

</section>
