---
layout: viewer-components
---
<h1>Alternate Layout Split Alignment  - Inner Page</h1>
<br>
<div class="hero-viewport inner-page-standard wave-pattern blue">
    <div class="grid-container large">
        <div class="hero-container">
            <div id="hero" class="hero hero-text-left">
                <img src="{{root}}assets/img/content/history-hero-2.jpg" />
                <div class="hero-text">
                    <a href="#0">
                        <p class="category">Book Launch</p>
                        <h1 class="hero-header underline">Dana Frank, &quot;The Long Honduran Night&quot;</h1>
                        <p class="hero-body">Professor Dana Frank will join us to discuss and sign copies of her new book, The Long Honduran Night—a story of resistance, repression, and U.S. policy in Honduras in the aftermath of a violent military coup.</p>
                    </a>
                </div>  
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<h1>Alternate Layout  - Inner Page</h1>
<br>
<div class="hero-viewport inner-page">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-right">
            <div class="angle"></div>
            <img src="{{root}}assets/img/content/news-collection-hero-large.jpg" alt="alt tag" />
            <div class="hero-text">
                <h2 class="hero-header">Tuesday Newsday</h2>
                <div class="tags">
                    <div class="topics-title"><a href="#0" class="topic btn-link light">Vol 5</a> / </div>
                    <div class="topics-title">Issue 13 </div>
                    <div class="topics-title">December 04, 2018</div>
                </div>
                <p class="mt-10">Silicon Valley Campus is home to SVLink, supporting UCSC &amp; UC tech startups. Minimal cash up
                    front for qualifying companies. Learn more about the program and services of SVLink.</p>
            </div>
        </div>
    </div>
</div>
    
    