---
layout: viewer-components
---

<div class="button-list align-center">
    <a class="button" href="javascript:void(0)" target="_blank">Find Your <strong>Major</strong></a>
    <a class="button" href="javascript:void(0)" target="_blank">Hang Out With Us on <strong>Instagram</strong></a>
    <a class="button" href="javascript:void(0)" target="_blank"><strong>Engage</strong> With UCSC</a>
    <a class="button" href="javascript:void(0)" target="_blank"><strong>Start</strong> Your Application</a>
</div>
