---
layout: viewer-components
---
<!------------------------------------------------------------------------------------>
<!------------------ Max Width only here for presentational purposes------------------>
<!-----  Historical factrs are best utilized in a timeline slideshow or sidebar ------>
<!------------------------------------------------------------------------------------>
<div style="max-width: 400px">
    <a class="historical-fact" href="javascript:void(0)" aria-label="">
        <div class="image">
            <img src="{{root}}assets/img/content/news-image-1.jpeg" />
        </div>
        <div class="card-text">
            <span class="category label">1901 (label)</span>
            <h4 class="underline">On this date, this happened</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
        </div>
    </a>
</div>
    
