---
layout: viewer-components
---

<section class="gallery-description content-centered" id="gallery-description">
    <div class="grid-container large">
        <h2 class="underline">Around the University</h2>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam molestiae voluptate quisquam, distinctio ducimus, ipsum perspiciatis vitae eaque ut maiores adipisci possimus et a nobis explicabo, obcaecati! In, voluptatibus harum.</p>
    </div>
</section>

<div class="everything">

    {{> everything-grid }}

</div>
