---
layout: viewer-components
---

<div class="quote wave-pattern blue">

    <div class="grid-container large">

        <div class="inner">

            <div class="media">

                <img src="{{root}}assets/img/content/podcast-hero.jpg" alt="">
            </div>

            <div class="content">

                <blockquote>
                    It was within the (provost house) that I as a young woman learned to grow and to dream
                    <cite>Audries Blake </cite>
                </blockquote>

                <a class="button primary" href="javascript:void(0)">More About President Armstrong</a>

            </div>

        </div>

    </div>

</div>
