---
layout: viewer-components
---
<!------------------------------------------------------>

<!--
Alignment Options: content-w-media "left" or "right"

If overlap is desired add "haltered"

the pattern background can be applied as well with "wave-pattern" class, make sure to indicate color as well (blue,green,etc)

Animations can be applied by adding "wow" to the targeted divs and adding 
 @include mui-animation(fade, slide($direction: right, $amount: 30%)); to css. Edit accordingly

-->

<!------------------------------------------------------>
<section class="content-w-media right">
    <div class="grid-container large">
        <div class="inner">

            <div class="content">
                <h2 class="underline">Academic Divisions</h2>
                <p>Looking for a specific division, undergraduate major, or graduate program?</p>
                <div class="content-foot-links">
                    <a href="javascript:void(0)" class="btn-link">Start Here</a>
                </div>
            </div>

            <div class="media">
                <img src="{{root}}assets/img/content/divisions-small.jpg" />
            </div>

        </div>
    </div>
</section>

<section class="content-w-media left wave-pattern haltered blue">
    <div class="grid-container large">
        <div class="inner">
            <div class="content">
                <h2 class="underline">The Colleges</h2>
                <h5 style="font-weight: 500">Ten Colleges = One University</h5>
                <p>UCSC residential learning colleges provide students with academic support, activities, and events
                    that enhance the intellectual and social life of the campus.</p>

                <div class="content-foot-links">
                    <a class="btn-link" href="javascript:void(0)">Communities of Learning</a>
                    <a class="btn-link" href="javascript:void(0)">See the Colleges</a>
                </div>
            </div>
            
            <div class="media">
                <img src="{{root}}assets/img/content/colleges-small.jpg" />
            </div>

        </div>
    </div>
</section>