---
layout: viewer-components
---

<div class="hero-viewport inner-page">
    <div class="hero-caption wow">
        <h3 class="secondary-blue-text">Subheader</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quisquam nobis atque nostrum culpa sequi ducimus aut, quod quas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quisquam nobis atque nostrum culpa sequi ducimus aut, quod quas? </p>
        <a class="button primary">Link to something relevant</a>
    </div>
    <div class="hero-container">
        <div class="header-wrapper content-centered">
            <h1 class="white-text">Go Banana Slugs!</h1>
        </div>
        <div id="hero" class="hero">
            
            <img src="{{root}}assets/img/content/news-collection-hero-large.jpg" alt="alt tag" />
            
        </div>
    </div>
</div>
    
