---
layout: viewer-components
---

<h1>Featured Profile Example</h1>
{{> profile-card class="featured"}}
<br><br>

<h1>Singular Profile Example</h1>
<br>
<div style="max-width: 500px">
    <a class="profile" href="javascript:void(0)">
        <div class="image">
            <img src="{{root}}assets/img/content/news-space-5.jpg" alt="Profile" />
        </div>
        <div class="profile-info">
            <h4 class="underline tighten">Benjamin Breen</h4>
            <div class="tags">
                <p>Assistant Professor</p>
                <p class="btn-link"><i class="fas fa-envelope"></i> bebreen@ucsc.edu</p>
            </div>
        </div>
    </a>
</div>



