---
layout: viewer-components
---
<h1>Full Size Left Alignment - Featured Page</h1>
<br />
<div class="hero-viewport blue">
        <div class="hero-container">
            <div id="hero" class="hero hero-text-right">
                <div class="gradient-overlay"></div>
                <img src="{{root}}assets/img/content/hero-large-test.jpg" />
                <a href="javascript:void(0)" class="hero-link">
                    <div class="angle transparent wow"></div>
                    <div class="hero-text">
                        <div class="category">UC Santa Cruz</div>
                        <h1 class="hero-header yellow-text">A Perspective Like No Other</h1>
                        <p class="hero-body">UC Santa Cruz is a public university like no other in California, combining the intimacy of a small, liberal arts college with the depth and rigor of a major research university.</p>
                    </div>
                </a>
                
            </div>
        </div>
    </div>


<br /><br /><br /><br />
<h1>Full Size Right Alignment - Featured Page</h1>
<br />
<div class="hero-viewport blue">
        <div class="hero-container">
            <div id="hero" class="hero hero-text-left">
                <div class="gradient-overlay"></div>
                <img src="{{root}}assets/img/content/hero-large-test.jpg" />
                <a href="javascript:void(0)" class="hero-link">
                    <div class="angle transparent wow"></div>
                    <div class="hero-text">
                        <div class="category">UC Santa Cruz</div>
                        <h1 class="hero-header yellow-text">A Perspective Like No Other</h1>
                        <p class="hero-body">UC Santa Cruz is a public university like no other in California, combining the intimacy of a small, liberal arts college with the depth and rigor of a major research university.</p>
                    </div>
                </a>
                
            </div>
        </div>
    </div>

<br /><br /><br /><br />
<h1>Full Width Image - Inner Featured Page</h1>
<br />
<div class="hero-viewport inner-page-angle blue">
    <div class="hero-container">
        <div id="hero" class="hero hero-text-right">
            <div class="angle transparent"></div>
            <div class="gradient-overlay"></div>
            
            <img src="{{root}}assets/img/content/psych-student.jpg" />
            <div class="hero-text">
                <h1 class="hero-header">Welcome to the Feature Template</h1>
                <h4 class="subhead"><a href="javascript:void(0)" class="yellow-text">Division Label</a></h4>
            </div>
        </div>
    </div>
</div>
    