---
layout: viewer-components
---

<section class="grid-centered">

    <div class="intro">
        <h1>Headline </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quam assumenda voluptatibus facilis, ut accusantium recusandae fugit? Alias, saepe, nihil. Ducimus autem earum inventore, alias, totam veniam molestias velit. Aliquid.</p>
    </div>

    <div class="grid-generic-centered">

        <div class="grid-item">
            <p>
                <figure class="img-full">
                    <img src="{{root}}assets/img/content/placeholder-1.jpeg" alt="">
                </figure>
            </p>
            <h4 class="underline">Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
            <p><a class="button primary" href="javascript:void(0)">Button </a> <a class="button secondary" href="javascript:void(0)">Additional Button </a></p>
        </div>

        <div class="grid-item">
            <p>
                <figure class="img-full">
                    <img src="{{root}}assets/img/content/placeholder-2.jpeg" alt="">
                </figure>
            </p>
            <h4 class="underline">Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
            <p><a class="button primary" href="javascript:void(0)">Button </a> <a class="button secondary" href="javascript:void(0)">Additional Button </a></p>
        </div>

        <div class="grid-item">
            <p>
                <figure class="img-full">
                    <img src="{{root}}assets/img/content/placeholder-3.jpeg" alt="">
                </figure>
            </p>
            <h4 class="underline">Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
            <p><a class="button primary" href="javascript:void(0)">Button </a> <a class="button secondary" href="javascript:void(0)">Additional Button </a></p>
        </div>


    </div>

</section>

<section class="grid-centered">

    <div class="intro">
        <h1>Example #1</h1>
    </div>

    <div class="grid-generic-centered">

        <div class="grid-item">
            <p>
                <figure class="img-full">
                    <img src="{{root}}assets/img/content/placeholder-1.jpeg" alt="">
                </figure>
            </p>
            <h2 class="title"><a href="javascript:void(0)">Headline </a></h2>
        </div>

        <div class="grid-item">
            <p>
                <figure class="img-full">
                    <img src="{{root}}assets/img/content/placeholder-2.jpeg" alt="">
                </figure>
            </p>
            <h2 class="title"><a href="javascript:void(0)">Headline </a></h2>
        </div>

        <div class="grid-item">
            <p>
                <figure class="img-full">
                    <img src="{{root}}assets/img/content/placeholder-3.jpeg" alt="">
                </figure>
            </p>
            <h2 class="title"><a href="javascript:void(0)">Headline </a></h2>
        </div>


    </div>

</section>


<section class="grid-centered">

    <div class="intro">
        <h1>Example #2</h1>
    </div>

    <div class="grid-generic-centered">

        <div class="grid-item">
            <p>
                <figure class="img-center">
                    <i class="fas fa-search fa-6x"></i>
                </figure>
            </p>
            <h4 class="underline">Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
        </div>

        <div class="grid-item">
            <p>
                <figure class="img-center">
                    <i class="fas fa-search fa-6x"></i>
                </figure>
            </p>
            <h4 class="underline">Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
        </div>

        <div class="grid-item">
            <p>
                <figure class="img-center">
                    <i class="fas fa-search fa-6x"></i>
                </figure>
            </p>
            <h4 class="underline">Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
        </div>

    </div>

</section>

<section class="grid-centered">

    <div class="intro">
        <h1>Example #3</h1>
    </div>

    <div class="grid-generic-centered">

        <div class="grid-item">
            <h4 class="title">Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
            <p><a class="button primary" href="javascript:void(0)">Button</a></p>
        </div>

        <div class="grid-item">
            <h4 class="title">Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
            <p><a class="button primary" href="javascript:void(0)">Button</a></p>
        </div>

        <div class="grid-item">
            <h4 class="title">Headline</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
            <p><a class="button primary" href="javascript:void(0)">Button</a></p>
        </div>
    </div>

</section>
