---
layout: viewer-components
---
<div class="factoid-card-list">
    <div class="factoid">
        <h3 class="value green-text">65</h3>
        <h4 class="unit">Undergraduate Majors</h4>
        <div class="convert"><a class="btn-link" href="javascript:void(0)">Button <span class="small"></span></a></div>
    </div>
    <div class="factoid">
        <h3 class="value pink-text">2000</h3>
        <h4 class="unit">Acres Overlooking Scenic Monterey Bay</h4>
        <div class="convert"><a class="btn-link" href="javascript:void(0)">Button <span class="small"></span></a></div>
    </div>
    <div class="factoid">
        <h3 class="value blue-text">46%</h3>
        <h4 class="unit">First-Generation College Graduates</h4>
        <div class="convert"><a class="btn-link" href="javascript:void(0)">Button <span class="small"></span></a></div>
    </div>
</div>
