---
layout: viewer-components
---

<div class="steps">
    
        <a class="step" href="javascript:void(0)">
            <div class="step-container">
                <div class="unit-container">
                    <div class="step-text">Step</div>
                    <div class="unit">1</div>
                </div>
              
                <div class="inner">
                    <div class="image">
                        <img src="{{root}}assets/img/content/event-1.jpeg" />
                    </div>
                    <div class="step-content">
                        <h4 class="header underline">Title</h4>
                        <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam molestiae voluptate quisquam, distinctio ducimus,</p>
                    </div>
                </div>   
            </div>
        </a>

        <a class="step" href="javascript:void(0)">
            <div class="step-container">
               <div class="unit-container">
                    <div class="step-text">Step</div>
                    <div class="unit">2</div>
                </div>
            
                <div class="inner">
                    <div class="image">
                        <img src="{{root}}assets/img/content/event-2.jpeg" />
                    </div>
                    <div class="step-content">
                        <h4 class="header underline">Title</h4>
                        <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam molestiae voluptate quisquam, distinctio ducimus,</p>
                    </div>
                </div>   
            </div>
        </a>

        <a class="step" href="javascript:void(0)">
            <div class="step-container">
                <div class="unit-container">
                    <div class="step-text">Step</div>
                    <div class="unit">3</div>
                </div>
            
                <div class="inner">
                    <div class="image">
                        <img src="{{root}}assets/img/content/event-3.jpeg" />
                    </div>
                    <div class="step-content">
                        <h4 class="header underline">Title</h4>
                        <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam molestiae voluptate quisquam, distinctio ducimus,</p>
                    </div>
                </div>   
            </div>
        </a>
    </div>