---
layout: viewer-components
---

<section class="content-centered">
    <div class="grid-container large">
        <div class="category">Eyebrow Headline </div>
        <h2>Headline</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam molestiae voluptate quisquam, distinctio ducimus, ipsum perspiciatis vitae eaque ut maiores adipisci possimus et a nobis explicabo, obcaecati! In, voluptatibus harum.</p>
        <p><a class="button primary" href="javascript:void(0)">Primary Button</a> <a class="button secondary" href="javascript:void(0)">Secondary Button</a></p>
    </div>
</section>
