.container {
  max-width: $width-page;
}
.layout-container {
  min-height: unset;
}

.node__content {
  margin-bottom: 6rem;
  h1 {
    font-size: 4rem;
    line-height: 5.2rem;
    margin-bottom: 2rem;
  }
  p {
    //font-size: 2.4rem;
    //line-height: 3.4rem;
  }
}

.section-title {
  @include section_title();
}
.slick-dots {
  bottom: auto;
  margin-top: 2rem;
  position: relative;
  li {
    margin: 0;
    button {
      width: 12px;
      height: 12px;
      background: #696666;
      border-radius: 100%;
      &:before {
        display: none;
      }
    }
    &.slick-active {
      button {
        background: none;
        border: 2px solid #696666;
        width: 10px;
        height: 10px;
      }
    }
  }
}
figure {
  &.embedded-entity {
    width: 48%;
    &.align-right {
      article {
        margin-left: 20px;
      }
      figcaption {
        margin-left: 20px;
        width: calc(100% - 20px);
      }
    }
    &.align-left {
      article {
        margin-right: 20px;
      }
      figcaption {
        margin-right: 20px;
        width: calc(100% - 20px);
      }
    }
    article {
      p {
        margin-bottom: 0;
      }
    }
    figcaption {
      border: 1px solid #eee;
    }
  }

}