@charset "UTF-8";

@mixin container-style() {
  max-width: $width-page;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@mixin button-text($color, $hover-color) {
  display: inline-block;
  font-size: rem-calc(14);
  font-family: $font-helvetica;
  font-weight: 700;
  line-height: rem-calc(17);
  color: $color;
  transition: $transition-short color ease;

  &:hover,
  &:focus {
    color: $hover-color;
    text-decoration: underline;
  }
}

@mixin section_title {
  font-size: 4rem;
  line-height: 5.2rem;
  margin: 0;
  font-weight: bold;
  margin-bottom: 1.2rem;
  @media (max-width: $screen-tablet-max) {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  @media #{$mobile} {
    text-align: center;
  }
}