.paragraph, div[id^="paragraph-"] {
  margin-top: 60px;
}

.full-width-img-section {
  padding: 90px 15px;
  text-align: center;
  color: #f5f5f5;
  .paragraph.container {
    max-width: 700px;
    padding: 50px 60px 30px 60px;
    background: rgba(0,87,148, 0.8);
    .field--name-field-title {
      color: #f5f5f5;
      font-size: 4rem;
      line-height: 5.2rem;
      font-weight: bold;
    }
    .field--name-field-subtitle {
      color: #f5f5f5;
      font-size: 3rem;
      line-height: 3.6rem;
      font-weight: bold;
      margin-bottom: 1.3rem;
    }
    .field--name-field-body-unformatted {
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 2.2rem;
    }
    .field--name-field-links {
      a {
        margin-bottom: 2rem;
      }
    }
  }
}

.paragraph--type--video-tab-carousel {
  .tab-title-wrap {
    padding-right: 25px;
    .tab-title {
      border-top: 4px solid #d8d8d8;
      padding: 13px 17px;
      &:last-child {
        border-bottom: 4px solid #d8d8d8;
      }
      @media (max-width: 784px) {
        border: 0;
        padding: 15px;
      }
      &:focus {
        outline: 0;
      }
      h3 {
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: normal;
        margin-bottom: 0;
      }
      h4 {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: normal;
        margin-bottom: 0;
      }
    }
  }
}

.paragraph--type--column-section {
  > .row {
    > .col-md-4 {
      @media #{$mobile} {
        margin-bottom: 40px;
      }
      .field--name-field-view-reference, .column-content-inner {
        overflow: hidden;
      }
      .field--name-field-view-reference {
        > .field__item, .views-element-container, .view-event-view, .view-content {
          height: inherit;
        }
      }

      .column-content-inner {
        .column-content-inner2 {
          @media (min-width: $screen-sm-min) {
            background-color: #F4F5F5;
            background-clip: content-box;
            padding-bottom: 25px;
            height: inherit;
          }
        }
      }

    }
  }

  .view-event-view, .view-article-view {
    .views-row {
      overflow: hidden;
    }
    .post-title, .title {
      font-size: 2.4rem;
      line-height: 3.2rem;
      font-weight: bold;
      @media (max-width: $screen-tablet-max) {
        font-size: 2rem;
        line-height: 2.6rem;
      }    }
    .post-title {
      margin-bottom: 1.5rem;
    }
    .post-date, .time {
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 1.7rem;
      text-transform: none;
      margin-bottom: 1.5rem;
    }
    .post-link a {
      text-decoration: none;
      font-size: 1.4rem;
      line-height: 1.9rem;
    }
  }
  .view-event-view {
    .views-row {
      @media (min-width: $screen-sm-min) {
        height: 33.33333%;
      }
      background: none !important;
      margin-bottom: 0 !important;
      padding-bottom: 25px;
      > .views-field-nothing {
        background: #F4F5F5;
        height: 100%;
      }
    }
    .event-wrap {
      margin-bottom: 0 !important;
    }
  }

  .view-article-view {
    height: inherit;
    .views-row {
      @media (min-width: $screen-sm-min) {
        height: 50%;
      }
      .views-field-nothing {
        height: 100%;
        .field-content {
          display: block;
          height: inherit;
        }
        .post-wrap {
          padding-bottom: 25px;
          height: inherit;
          background-clip: content-box;
        }
      }
    }
  }


  .field--name-field-link, .post-link {
    line-height: 1;
    a {
      color: $color-orange;
      font-size: 1.4rem;
      line-height: 1;
      text-decoration: none;
      font-weight: bold;

    }
  }
  .field--name-field-link {
    margin-top: -5px;
    @media #{$mobile} {
      text-align: center;
    }
  }

  .field--name-field-title {
    font-size: 4rem;
    line-height: 5.2rem;
    margin: 0;
    font-weight: bold;
    margin-bottom: 1.2rem;
    @media (max-width: $screen-tablet-max) {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
    @media #{$mobile} {
      text-align: center;
    }
  }
  .field--type-image {
    img {
      width: 100%;
    }
  }
  .event-date-wrap {
    .date-day {
      font-size: 2.8rem;
      line-height: 3.7rem;
    }
    .date-month {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: normal;
    }
  }

  .post-wrap, .view-event-view .views-row, .field--name-field-body-formatted {
    background-color: $color-style-light-grey;
    margin-bottom: 25px;
  }
  .post-wrap {
    .content-wrap {
      padding: 18px;
    }
  }
  .post-body {
    margin-bottom: 1.5rem;
  }
  .post-body, .field--name-field-body-formatted {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .field--name-field-body-formatted {
    padding: 18px;
  }
  .view-display-id-block_2, .view-event-view.view-display-id-block_1 {
    background: none;
  }
  .view-event-view.view-display-id-block_1 {
    .content-wrap {
      margin-left: 54px;
    }
  }
}

// Para: Wysiwyg
.paragraph--type--wysiwyg {
  h2 {
    font-size: rem-calc(40);
    line-height: rem-calc(52);
    margin-bottom: rem-calc(24);
  }
  p {
    font-size: rem-calc(24);
    line-height: rem-calc(34);
  }
}


// Para: Flexible Cta Blocks
.paragraph--type--flexible-cta-blocks {
  .flexible-cta-block {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    margin: 10px;
    padding: 48px 20px;
    text-align: center;
    h4 {
      font-size: rem-calc(24);
      line-height: rem-calc(32);
      margin-bottom: rem-calc(18);
    }
    p {
      font-size: rem-calc(16);
      line-height: rem-calc(24);
    }
    a {
      @include button-text($color-orange, $color-white);
      position: relative;
      text-decoration: none;
      line-height: rem-calc(32);
    }

    &:hover {
      background-color: $color-blue;
      h4, p, a {
        color: $color-white;
      }
    }
  }
}