.region-hero {
  .flexslider {
    border: 0;
  }
}

.view-hero-banner {
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
  }
  .hero-slideshow {
    height: calc(100vh - 107px);
    @media (max-width: $screen-tablet-max) {
      height: calc(100vh - 94px);
    }
    ul.slides {
      height: inherit;
      li {
        height: inherit;
      }
    }
  }
  .controls {
     .flex-prev {
       left: 5px;
       font-size: 50px;
       &:before {
         content: "\f104";
       }
     }
    .flex-next {
      right: 5px;
      font-size: 50px;
      &:before {
        content: "\f105";
      }
    }

    .custom-controls-container {
      @include container-style();
      position: relative;
      z-index: 20;
      .pause, .play, .flex-control-nav {
        position: absolute;
        bottom: 20px;
        line-height: 1;
        @media #{$mobile} {
          bottom: 10px;
        }
        a {
          color: #fff;
        }
      }
      .pause, .play {
        font-size: 1.5rem;
        bottom: 30px;
        @media #{$mobile} {
          bottom: 20px;
        }
      }
      .flex-control-nav {
        margin-left: 13px;
        li {
          margin: 0;
          padding-left: 7px;
        }
        a {
          background: #fff;
          &.flex-active {
            background: none;
            border: 1px solid #fff;
          }
        }
      }
    }
  }
  .hero-media-wrap {
    height: inherit;
    div[class^="hero"] {
      height: inherit;
      img, video {
        width: 100% !important;
        height: 100% !important;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
        max-width: none;
      }
    }

  }

  .hero-slide-wrap {
    height: inherit;
    max-height: none;
    .hero-content-wrap {
      max-width: 650px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      bottom: 50px;
      text-align: center;
      .hero-title {
        color: #fff;
        text-transform: uppercase;
        font-size: 7.2rem;
        margin-bottom: 0;
        line-height: 1.2;
        @media #{$mobile} {
          font-size: 5rem;
        }
      }
      .hero-subtitle {
        color: #fff;
        font-size: 3rem;
        margin-bottom: 1.2rem;
        @media #{$mobile} {
          font-size: 2rem;
        }
      }
      .hero-content {
        margin-bottom: 1rem;
      }

      .hero-link {
        display: inline-block;
        a {
          text-transform: uppercase;
          display: inline-block;
          text-align: center;
          text-decoration: none;
          border-radius: 0;
          box-shadow: none;
          font-size: 1.6rem;
          font-weight: bold;
          padding: 10.5px 50px;
          background: none;
          border: 2px solid #fff;
          color: #fff;
          cursor: pointer;
          margin: 10px 10px 0 10px;
          &:hover,
          &:focus,
          &:active {
            background-color: #fff;
            color: $color-blue;
          }
        }

      }
    }
  }
}