@charset "UTF-8";
@import '../styleguide/scss/style';
@import "global/unit";

@import 'variables';
@import 'mixin';
@import 'elements_theme';
@import "global_style";
@import 'header';
@import 'footer';
@import 'paragraphs.scss';
@import 'blocks';
@import 'views';

@import "components/layout_content";
@import "components/hero_banners";
@import "components/news";
@import "components/events";
@import "components/featured_news";
@import "components/featured-events";
@import "components/view_event_calendar";
@import "components/featured_news_slideshow";
@import "components/campus_map";
@import "components/content_person";
@import "components/content_event";
@import "components/content_article";
@import "components/search";
@import "components/menu_event_calendar";
