<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCSC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body class="">

    <div class="component-wrapper">

        
        <section class="historical-section">
        
            <div class="intro">
                <h1>Headline</h1>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae fuga molestiae? Eveniet quia odit laborum quaerat blanditiis sapiente quam alias, culpa voluptates corporis ratione, quas natus at, esse qui!</span> 
                </p>
            </div>
        
            <!-- Set up your HTML -->
            <div class="owl-carousel fact-timeline">
                <a class="historical-fact" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="../assets/img/content/news-image-1.jpeg" />
                    </div>
                    <div class="card-text">
                        <span class="category label">1901 - 1920</span>
                        <h4 class="underline">On this date, this happened</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
                    </div>
                </a>
                <a class="historical-fact" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="../assets/img/content/news-image-1.jpeg" />
                    </div>
                    <div class="card-text">
                        <span class="category label">1921 - 1930</span>
                        <h4 class="underline">On this date, this happened</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
                    </div>
                </a>
                <a class="historical-fact" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="../assets/img/content/news-image-1.jpeg" />
                    </div>
                    <div class="card-text">
                        <span class="category label">1931 - 1940</span>
                        <h4 class="underline">On this date, this happened</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
                    </div>
                </a>
                <a class="historical-fact" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="../assets/img/content/news-image-1.jpeg" />
                    </div>
                    <div class="card-text">
                        <span class="category label">1941 - 1950</span>
                        <h4 class="underline">On this date, this happened</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
                    </div>
                </a>
                <a class="historical-fact" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="../assets/img/content/news-image-1.jpeg" />
                    </div>
                    <div class="card-text">
                        <span class="category label">1951 - 1960</span>
                        <h4 class="underline">On this date, this happened</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
                    </div>
                </a>
                <a class="historical-fact" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="../assets/img/content/news-image-1.jpeg" />
                    </div>
                    <div class="card-text">
                        <span class="category label">1961 - 1970</span>
                        <h4 class="underline">On this date, this happened</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
                    </div>
                </a>
                <a class="historical-fact" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="../assets/img/content/news-image-1.jpeg" />
                    </div>
                    <div class="card-text">
                        <span class="category label">1971 - 1980</span>
                        <h4 class="underline">On this date, this happened</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
                    </div>
                </a>
                <a class="historical-fact" href="javascript:void(0)" aria-label="">
                    <div class="image">
                        <img src="../assets/img/content/news-image-1.jpeg" />
                    </div>
                    <div class="card-text">
                        <span class="category label">1981 - 1990</span>
                        <h4 class="underline">On this date, this happened</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta animi.</p>
                    </div>
                </a>
        
            </div>
        
        </section>
        

    </div>

    <script src="../assets/js/app.js"></script>
    <script>
            $(window).on('load resize', function () {
                //document.getElementById("width_px").innerHTML = window.innerWidth;
                //document.getElementById("width_ems").innerHTML = window.innerWidth / parseFloat($("body").css("font-size"));
                var viewportWidth = window.innerWidth / parseFloat($("body").css("font-size"));

                var breakpointSize = function(){
                    if (viewportWidth < 25) { console.log("Breakpoint Size is small") } else
                    if (viewportWidth < 40) { console.log("Breakpoint Size is medium") } else
                    if (viewportWidth < 64) { console.log("Breakpoint Size is large") } else
                    if (viewportWidth < 75) { console.log("Breakpoint Size is xlarge") } else
                    if (viewportWidth < 90) { console.log("Breakpoint Size is xxlarge") } else
                    console.log("Breakpoint Size is xxxlarge")
                }
                console.log("Viewport width is = " + viewportWidth + "rems");
                console.log("---------------");
                breakpointSize();
            });
    </script>
</body>

</html>
