<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCSC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body class="">

    <div class="component-wrapper">

        
        <div class="news-card-list">
            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="../assets/img/content/news-image-1.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">February 11, 2019</div>
                    <h4 class="underline">Guillermo Gómez-Peña returns to UCSC to perform his latest solo work:
                        "The Most (un) Documented Mexican Artist"</h4>
                    <p>Internationally renowned artist Guillermo Gómez-Peña returns to UC Santa
                        Cruz on March 5 to perform his latest solo work, "The Most (un) Documented Mexican Artist,"
                        at the Theater Arts Second Stage, beginning at 7 p.m.</p>
                </div>
            </a>
          
            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="../assets/img/content/news-image-2.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">February 24, 2019</div>
                    <h4 class="underline">UCSC to bring art/science LASER series downtown for special evening at
                        Rio Theater</h4>
                    <p>Internationally renowned artist Guillermo Gómez-Peña returns to UC Santa
                        Cruz on March 5 to perform his latest solo work, "The Most (un) Documented Mexican Artist,"
                        at the Theater Arts Second Stage, beginning at 7 p.m.</p>
                </div>
            </a>
           
            <a class="news-card" href="javascript:void(0)" aria-label="">
                <div class="image">
                    <img src="../assets/img/content/news-image-3.jpeg">
                </div>
                <div class="news-card-content">
                    <div class="category btn-link">March 1, 2019</div>
                    <h4 class="underline">Borderbus: A community conversation about migration, art, and social
                        justice</h4>
                    <p>Former U.S. poet laureate Juan Felipe Herrera will appear in
                        conversation with book artist and UCSC alumna Felicia Rice on March 6, at the Museum of Art
                        and History in downtown Santa Cruz.</p>
                </div>
            </a>
            
        </div>

    </div>

    <script src="../assets/js/app.js"></script>
    <script>
            $(window).on('load resize', function () {
                //document.getElementById("width_px").innerHTML = window.innerWidth;
                //document.getElementById("width_ems").innerHTML = window.innerWidth / parseFloat($("body").css("font-size"));
                var viewportWidth = window.innerWidth / parseFloat($("body").css("font-size"));

                var breakpointSize = function(){
                    if (viewportWidth < 25) { console.log("Breakpoint Size is small") } else
                    if (viewportWidth < 40) { console.log("Breakpoint Size is medium") } else
                    if (viewportWidth < 64) { console.log("Breakpoint Size is large") } else
                    if (viewportWidth < 75) { console.log("Breakpoint Size is xlarge") } else
                    if (viewportWidth < 90) { console.log("Breakpoint Size is xxlarge") } else
                    console.log("Breakpoint Size is xxxlarge")
                }
                console.log("Viewport width is = " + viewportWidth + "rems");
                console.log("---------------");
                breakpointSize();
            });
    </script>
</body>

</html>
