<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCSC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body class="">

    <div class="component-wrapper">

        
        <section class="grid-centered">
        
            <div class="intro">
                <h1>Headline </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum quam assumenda voluptatibus facilis, ut accusantium recusandae fugit? Alias, saepe, nihil. Ducimus autem earum inventore, alias, totam veniam molestias velit. Aliquid.</p>
            </div>
        
            <div class="grid-generic-centered">
        
                <div class="grid-item">
                    <p>
                        <figure class="img-full">
                            <img src="../assets/img/content/placeholder-1.jpeg" alt="">
                        </figure>
                    </p>
                    <h4 class="underline">Headline</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
                    <p><a class="button primary" href="javascript:void(0)">Button </a> <a class="button secondary" href="javascript:void(0)">Additional Button </a></p>
                </div>
        
                <div class="grid-item">
                    <p>
                        <figure class="img-full">
                            <img src="../assets/img/content/placeholder-2.jpeg" alt="">
                        </figure>
                    </p>
                    <h4 class="underline">Headline</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
                    <p><a class="button primary" href="javascript:void(0)">Button </a> <a class="button secondary" href="javascript:void(0)">Additional Button </a></p>
                </div>
        
                <div class="grid-item">
                    <p>
                        <figure class="img-full">
                            <img src="../assets/img/content/placeholder-3.jpeg" alt="">
                        </figure>
                    </p>
                    <h4 class="underline">Headline</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
                    <p><a class="button primary" href="javascript:void(0)">Button </a> <a class="button secondary" href="javascript:void(0)">Additional Button </a></p>
                </div>
        
        
            </div>
        
        </section>
        
        <section class="grid-centered">
        
            <div class="intro">
                <h1>Example #1</h1>
            </div>
        
            <div class="grid-generic-centered">
        
                <div class="grid-item">
                    <p>
                        <figure class="img-full">
                            <img src="../assets/img/content/placeholder-1.jpeg" alt="">
                        </figure>
                    </p>
                    <h2 class="title"><a href="javascript:void(0)">Headline </a></h2>
                </div>
        
                <div class="grid-item">
                    <p>
                        <figure class="img-full">
                            <img src="../assets/img/content/placeholder-2.jpeg" alt="">
                        </figure>
                    </p>
                    <h2 class="title"><a href="javascript:void(0)">Headline </a></h2>
                </div>
        
                <div class="grid-item">
                    <p>
                        <figure class="img-full">
                            <img src="../assets/img/content/placeholder-3.jpeg" alt="">
                        </figure>
                    </p>
                    <h2 class="title"><a href="javascript:void(0)">Headline </a></h2>
                </div>
        
        
            </div>
        
        </section>
        
        
        <section class="grid-centered">
        
            <div class="intro">
                <h1>Example #2</h1>
            </div>
        
            <div class="grid-generic-centered">
        
                <div class="grid-item">
                    <p>
                        <figure class="img-center">
                            <i class="fas fa-search fa-6x"></i>
                        </figure>
                    </p>
                    <h4 class="underline">Headline</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
                </div>
        
                <div class="grid-item">
                    <p>
                        <figure class="img-center">
                            <i class="fas fa-search fa-6x"></i>
                        </figure>
                    </p>
                    <h4 class="underline">Headline</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
                </div>
        
                <div class="grid-item">
                    <p>
                        <figure class="img-center">
                            <i class="fas fa-search fa-6x"></i>
                        </figure>
                    </p>
                    <h4 class="underline">Headline</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
                </div>
        
            </div>
        
        </section>
        
        <section class="grid-centered">
        
            <div class="intro">
                <h1>Example #3</h1>
            </div>
        
            <div class="grid-generic-centered">
        
                <div class="grid-item">
                    <h4 class="title">Headline</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
                    <p><a class="button primary" href="javascript:void(0)">Button</a></p>
                </div>
        
                <div class="grid-item">
                    <h4 class="title">Headline</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
                    <p><a class="button primary" href="javascript:void(0)">Button</a></p>
                </div>
        
                <div class="grid-item">
                    <h4 class="title">Headline</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium voluptatem ut quam molestias commodi consequatur id, qui. Enim provident ut velit sed dolorum accusamus, quis officia porro excepturi iusto.</p>
                    <p><a class="button primary" href="javascript:void(0)">Button</a></p>
                </div>
            </div>
        
        </section>
        

    </div>

    <script src="../assets/js/app.js"></script>
    <script>
            $(window).on('load resize', function () {
                //document.getElementById("width_px").innerHTML = window.innerWidth;
                //document.getElementById("width_ems").innerHTML = window.innerWidth / parseFloat($("body").css("font-size"));
                var viewportWidth = window.innerWidth / parseFloat($("body").css("font-size"));

                var breakpointSize = function(){
                    if (viewportWidth < 25) { console.log("Breakpoint Size is small") } else
                    if (viewportWidth < 40) { console.log("Breakpoint Size is medium") } else
                    if (viewportWidth < 64) { console.log("Breakpoint Size is large") } else
                    if (viewportWidth < 75) { console.log("Breakpoint Size is xlarge") } else
                    if (viewportWidth < 90) { console.log("Breakpoint Size is xxlarge") } else
                    console.log("Breakpoint Size is xxxlarge")
                }
                console.log("Viewport width is = " + viewportWidth + "rems");
                console.log("---------------");
                breakpointSize();
            });
    </script>
</body>

</html>
