<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCSC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body class="">

    <div class="component-wrapper">

        
        <div class="policy-card">
           <a href="javascript:void(0)">
                <p class="category btn-link">Policy Category</p>
                
                <div class="title">
                    <div class="underline">
                        <h4>Student Policies &amp; Regulations Handbook <i class="far fa-file-pdf"></i></h4>
                        <div class="tags">
                            <p class="date">
                                Last Updated: March 21, 2018
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            
            <div class="body">
                <p>The Student Policies and Regulations Handbook ("Handbook") integrates the University of California Policies Applying to Campus Activities, Organizations, and Students ("Policies") available on the Web at&nbsp;<a class="btn-link" href="http://policy.ucop.edu/doc/2710518/PACAOS-11">http://policy.ucop.edu/doc/2710518/PACAOS-11</a>&nbsp;and Santa Cruz campus implementing regulations applying to campus activities, organizations, and students. To distinguish between the UC Policies and University of California Santa Cruz Regulations ("Regulations"), University of California Santa Cruz Regulations are printed in bold type. Effective September 1, 2009, this publication incorporates revisions made during the last academic year, and supersedes all documents of the same title published previously.</p>
                   
                <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                    <li class="accordion-item" data-accordion-item>
                        <div class="hidden-content" data-tab-content>
                            <p>Members of the university community may propose amendments to these Policies and Regulations by submitting proposals to the Office of Student Judicial Affairs for referral to the chancellor's advisory committee on campus regulations. The committee makes periodic recommendations to the president or the chancellor. (See Sections 13.30, 13.31 and 13.40.) Proposals may be sent via email to <a href="mailto:sja@ucsc.edu">sja@ucsc.edu</a> or by mail to Student Judicial Affairs, 245 Hahn, 1156 High Street, Santa Cruz, CA 95064. Updates to the Handbook prior to its next publication date will be posted on the Student Judicial Affairs website at <a class="btn-link" href="index.html">http://deanofstudents.ucsc.edu/student-conduct</a></p>
                            <p>The Handbook is prepared by the Office of Student Judicial Affairs and is available on the Web at the address&nbsp;&#65279;<a class="btn-link" href="http://deanofstudents.ucsc.edu/pdf/student-handbook.pdf">http://deanofstudents.ucsc.edu/pdf/student-handbook.pdf</a>.&#65279;&#65279; It is available in alternate formats such as enlarged print, Braille, audio cassette, or electronic disk. For alternate formats contact (831) 459-1738 or <a href="mailto:sja@ucsc.edu">sja@ucsc.edu</a>.</p>
                            <p><a class="btn-link" href="../../student-conduct/student-handbook/index.html">View the Student Policies and Regulations Handbook</a></p>
                        </div>
                        <a class="btn-link text-toggle"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <script src="../assets/js/app.js"></script>
    <script>
            $(window).on('load resize', function () {
                //document.getElementById("width_px").innerHTML = window.innerWidth;
                //document.getElementById("width_ems").innerHTML = window.innerWidth / parseFloat($("body").css("font-size"));
                var viewportWidth = window.innerWidth / parseFloat($("body").css("font-size"));

                var breakpointSize = function(){
                    if (viewportWidth < 25) { console.log("Breakpoint Size is small") } else
                    if (viewportWidth < 40) { console.log("Breakpoint Size is medium") } else
                    if (viewportWidth < 64) { console.log("Breakpoint Size is large") } else
                    if (viewportWidth < 75) { console.log("Breakpoint Size is xlarge") } else
                    if (viewportWidth < 90) { console.log("Breakpoint Size is xxlarge") } else
                    console.log("Breakpoint Size is xxxlarge")
                }
                console.log("Viewport width is = " + viewportWidth + "rems");
                console.log("---------------");
                breakpointSize();
            });
    </script>
</body>

</html>
