<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCSC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link href="//fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">

</head>

<body class="">

    <div class="component-wrapper">

        
        <div class="docs-heading">Accordions</div>
        
        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <a href="javascript:void(0)" class="accordion-title">Administrative Units</a>
                <div class="accordion-content" data-tab-content>
                    <ul>
                        <li><a href="http://chancellor.ucsc.edu/">UCSC Chancellor</a></li>
                        <li><a href="http://cpevc.ucsc.edu">Campus Provost/Executive Vice Chancellor</a></li>
                        <li><a href="http://bas.ucsc.edu/">Business &amp; Administrative Services</a></li>
                        <li><a href="http://planning.ucsc.edu/">Planning and Budget</a></li>
                        <li><a href="http://vpdue.ucsc.edu/">Undergraduate Education</a></li>
                        <li><a href="http://graddiv.ucsc.edu/">Graduate Studies</a></li>
                        <li><a href="http://officeofresearch.ucsc.edu/">Office of Research</a></li>
                        <li><a href="http://studentservices.ucsc.edu/">Student Services</a>&nbsp;|&nbsp;<a href="http://deanofstudents.ucsc.edu">Dean of Students Office</a></li>
                        <li><a href="http://apo.ucsc.edu/">Academic Personnel Office</a></li>
                        <li><a href="http://shr.ucsc.edu/">Staff Human Resources</a></li>
                        <li><a href="http://its.ucsc.edu/">Information Technology Services</a></li>
                        <li><a href="http://library.ucsc.edu">University Library</a></li>
                        <li><a href="http://urelations.ucsc.edu">University Relations</a></li>
                        <li><a href="http://svi.ucsc.edu">Silicon Valley Initiatives</a></li>
                    </ul>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="javascript:void(0)" class="accordion-title">Academic Divisions</a>
                <div class="accordion-content" data-tab-content>
                    <ul>
                        <li><a href="http://arts.ucsc.edu/">Arts</a></li>
                        <li><a href="http://soe.ucsc.edu/">Engineering</a></li>
                        <li><a href="http://humanities.ucsc.edu/">Humanities</a></li>
                        <li><a href="http://pbsci.ucsc.edu/">Physical &amp; Biological Sciences</a></li>
                        <li><a href="http://socialsciences.ucsc.edu/">Social Sciences</a></li>
                    </ul>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <a href="javascript:void(0)" class="accordion-title">Undergraduate Colleges</a>
                <div class="accordion-content" data-tab-content>
                    <ul>
                        <li><a href="http://cowell.ucsc.edu/">Cowell College</a></li>
                        <li><a href="http://stevenson.ucsc.edu/">Stevenson College</a></li>
                        <li><a href="http://crown.ucsc.edu/">Crown College</a></li>
                        <li><a href="http://merrill.ucsc.edu/">Merrill College</a></li>
                        <li><a href="http://porter.ucsc.edu/">Porter College</a></li>
                        <li><a href="http://kresge.ucsc.edu/">Kresge College</a></li>
                        <li><a href="http://oakes.ucsc.edu/">Oakes College</a></li>
                        <li><a href="http://rachelcarson.ucsc.edu/">Rachel Carson College</a></li>
                        <li><a href="http://collegenine.ucsc.edu/">College Nine</a></li>
                        <li><a href="http://collegeten.ucsc.edu/">College Ten</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>

    <script src="../assets/js/app.js"></script>
    <script>
            $(window).on('load resize', function () {
                //document.getElementById("width_px").innerHTML = window.innerWidth;
                //document.getElementById("width_ems").innerHTML = window.innerWidth / parseFloat($("body").css("font-size"));
                var viewportWidth = window.innerWidth / parseFloat($("body").css("font-size"));

                var breakpointSize = function(){
                    if (viewportWidth < 25) { console.log("Breakpoint Size is small") } else
                    if (viewportWidth < 40) { console.log("Breakpoint Size is medium") } else
                    if (viewportWidth < 64) { console.log("Breakpoint Size is large") } else
                    if (viewportWidth < 75) { console.log("Breakpoint Size is xlarge") } else
                    if (viewportWidth < 90) { console.log("Breakpoint Size is xxlarge") } else
                    console.log("Breakpoint Size is xxxlarge")
                }
                console.log("Viewport width is = " + viewportWidth + "rems");
                console.log("---------------");
                breakpointSize();
            });
    </script>
</body>

</html>
