<div class="search-bar a-z-search">
  <div class="grid-container large">
    <form>
      <div class="input-group">
        <input class="input-group-field" type="search" placeholder="Type to search the directory..."
               value="">
        <div class="input-group-button">
          <a class="button secondary" href="javascript:void(0)"><i class="fas fa-search"></i> <span
              class="show-for-large">Search</span></a>
        </div>
      </div>
    </form>
  </div>
</div>
