<div class="image-gallery-carousel owl-carousel">

    <div class="featured carousel-item">
        <div class="gallery-image" style="background-image: url({{root}}assets/img/content/gallery-1.jpg)">
            <a href="javascript:void(0)"></a>
        </div>
    </div>

    <div class="landscape carousel-item">
        <div class="gallery-image" style="background-image: url({{root}}assets/img/content/gallery-1.jpg)">
            <a href="javascript:void(0)"></a>
        </div>
        <div class="gallery-image" style="background-image: url({{root}}assets/img/content/gallery-2.jpg)">
            <a href="javascript:void(0)"></a>
        </div>
    </div>

    <div class="landscape carousel-item">
        <div class="gallery-image" style="background-image: url({{root}}assets/img/content/gallery-3.jpg)">
            <a href="javascript:void(0)"></a>
        </div>
        <div class="gallery-image" style="background-image: url({{root}}assets/img/content/gallery-4.jpg)">
            <a href="javascript:void(0)"></a>
        </div>
    </div>

    <div class="portrait carousel-item">
        <div class="gallery-image" style="background-image: url({{root}}assets/img/content/gallery-5.jpg)">
            <a href="javascript:void(0)"></a>
        </div>
    </div>

    <div class="landscape carousel-item">
        <div class="gallery-image" style="background-image: url({{root}}assets/img/content/gallery-6.jpg)">
            <a href="javascript:void(0)"></a>
        </div>
        <div class="gallery-image" style="background-image: url({{root}}assets/img/content/gallery-7.jpg)">
            <a href="javascript:void(0)"></a>
        </div>
    </div>

<div class="landscape carousel-item">
        <div class="gallery-image" style="background-image: url({{root}}assets/img/content/gallery-1.jpg)">
            <a href="javascript:void(0)"></a>
        </div>
        <div class="gallery-image" style="background-image: url({{root}}assets/img/content/gallery-2.jpg)">
            <a href="javascript:void(0)"></a>
        </div>
    </div>

</div>
