<hr>

<div class="list-departments">
    <div class="grid-container large">
        <div class="grid-x grid-padding-y">
            <div class="cell">
                <h3>Departments Headline</h3>
                <p>Our employees enjoy competitive salaries and generous benefits.</p>
                <ul class="no-bullet">
                    <li>
                        <h4><a href="javascript:void(0)" aria-label="">Department Name</a></h4>
                        <p>Phone Number</p>
                    </li>
                    <li>
                        <h4><a href="javascript:void(0)" aria-label="">Department Name</a></h4>
                        <p>Phone Number</p>
                    </li>
                    <li>
                        <h4><a href="javascript:void(0)" aria-label="">Department Name</a></h4>
                        <p>Phone Number</p>
                    </li>
                </ul>
                <a class="button" href="javascript:void(0)">View All Awards</a>
            </div>
        </div>
    </div>
</div>
