<div class="news-card-list{{#ifequal class 'splitColumn'}} split-column{{/ifequal}}{{#ifequal class 'triColumn'}} tri-column{{/ifequal}}{{#ifequal class 'fullWidth'}} full-width{{/ifequal}}">
    <a class="news-card" href="javascript:void(0)" aria-label="">
        <div class="image">
            <img src="{{root}}assets/img/content/news-image-1.jpeg">
        </div>
        <div class="news-card-content">
            <div class="category btn-link">February 11, 2019</div>
            <h4 class="underline">Guillermo Gómez-Peña returns to UCSC to perform his latest solo work:
                "The Most (un) Documented Mexican Artist"</h4>
            <p>Internationally renowned artist Guillermo Gómez-Peña returns to UC Santa
                Cruz on March 5 to perform his latest solo work, "The Most (un) Documented Mexican Artist,"
                at the Theater Arts Second Stage, beginning at 7 p.m.</p>
        </div>
    </a>
  
    <a class="news-card" href="javascript:void(0)" aria-label="">
        <div class="image">
            <img src="{{root}}assets/img/content/news-image-2.jpeg">
        </div>
        <div class="news-card-content">
            <div class="category btn-link">February 24, 2019</div>
            <h4 class="underline">UCSC to bring art/science LASER series downtown for special evening at
                Rio Theater</h4>
            <p>Internationally renowned artist Guillermo Gómez-Peña returns to UC Santa
                Cruz on March 5 to perform his latest solo work, "The Most (un) Documented Mexican Artist,"
                at the Theater Arts Second Stage, beginning at 7 p.m.</p>
        </div>
    </a>
   
    <a class="news-card" href="javascript:void(0)" aria-label="">
        <div class="image">
            <img src="{{root}}assets/img/content/news-image-3.jpeg">
        </div>
        <div class="news-card-content">
            <div class="category btn-link">March 1, 2019</div>
            <h4 class="underline">Borderbus: A community conversation about migration, art, and social
                justice</h4>
            <p>Former U.S. poet laureate Juan Felipe Herrera will appear in
                conversation with book artist and UCSC alumna Felicia Rice on March 6, at the Museum of Art
                and History in downtown Santa Cruz.</p>
        </div>
    </a>
    
</div>