<!----------------------------------------------------->
<!-- Add list class to trim display for column usage -->
<!----------------------------------------------------->

<div class="podcast-card-list {{#ifequal class 'list'}} list{{/ifequal}}">

    <a class="podcast-card" href="javascript:void(0)" aria-label="">
        <div class="podcast-card-content">
            <div class="category">Storytelling</div>
            <div class="underline">
                <h4>UCSC News Roundup</h4>
                <p class="tags">
                   April 17, 2019 
                  <span class="btn-link author-name">UC Santa Cruz</span>
                </p>
            </div>
        </div>
     </a>
    <a class="podcast-card" href="javascript:void(0)" aria-label="">
        <div class="podcast-card-content">
            <div class="category">Science</div>
            <div class="underline">
                <h4>Can a drone weigh an elephant seal?</h4>
                <p class="tags">
                   April 15, 2019 
                  <span class="btn-link author-name">UC Santa Cruz</span>
                </p>
            </div>
            <p class="body">Diana Alvarado (Merrill ‘19, marine biology) takes drone photographs of female elephant seals at Año Nuevo Natural Reserve. She’s refining an image analysis tool that might enable scientists to easily track seals’ weight without disturbing them.</p>
        </div>
     </a>
    <a class="podcast-card" href="javascript:void(0)" aria-label="">
        <div class="podcast-card-content">
            <div class="underline">
                <h4>Oakes Renaming Ceremony Podcast AM</h4>
                <p class="tags">
                   April 10, 2019 
                  <span class="btn-link author-name">UC Santa Cruz</span>
                </p>
            </div>
            <p class="body">J. Herman Blake, the visionary founding provost of Oakes College, returned to campus for a momentous occasion: the rededication of the Oakes Provost House in his honor. On campus, he shared recollections of Oakes College before a crowd of well-wishers, including his family and former colleagues.</p>
        </div>
     </a>
    <a class="podcast-card" href="javascript:void(0)" aria-label="">
        <div class="podcast-card-content">
            <div class="category">Kresge Stories</div>
            <div class="underline">
                <h4>The Evolution of Kresge </h4>
                <p class="tags">
                   April 1, 2019 
                  <span class="btn-link author-name">S Bry Sarte</span>
                </p>
            </div>
            <p class="body">Voices of alumni, students, and other planners of the Kresge Renewal, with stories about what makes Kresge College special to them and their hopes for the project and the future of the college.</p>
        </div>
     </a>

</div>
