<div class="profile-list owl-carousel">
    <a class="profile carousel-item" href="javascript:void(0)">
        <div class="image">
            <img src="{{root}}assets/img/content/Nate-Dominy.jpeg" alt="Profile" />
        </div>
        <div class="profile-info">
            <h4 class="underline tighten" >David Henry Anthony III</h4>
            <div class="tags">
                <p>Associate Professor</p>
                <p class="btn-link"><i class="fas fa-envelope"></i> dhenry@ucsc.edu</p>
            </div>
        </div>
    </a>
    <a class="profile carousel-item" href="javascript:void(0)">
        <div class="image">
            <img src="{{root}}assets/img/content/history-wyatt.jpg" alt="Profile" />
        </div>
        <div class="profile-info">
            <h4 class="underline tighten" >David Henry Anthony III</h4>
            <div class="tags">
                <p>Associate Professor</p>
                <p class="btn-link"><i class="fas fa-envelope"></i> danthony@ucsc.edu</p>
            </div>
        </div>
    </a>
    <a class="profile carousel-item" href="javascript:void(0)">
        <div class="image">
            <img src="{{root}}assets/img/content/news-space-5.jpg" alt="Profile" />
        </div>
        <div class="profile-info">
            <h4 class="underline tighten">Benjamin Breen</h4>
            <div class="tags">
                <p>Assistant Professor</p>
                <p class="btn-link"><i class="fas fa-envelope"></i> bebreen@ucsc.edu</p>
            </div>
        </div>
    </a>
    <a class="profile carousel-item" href="javascript:void(0)">
        <div class="image">
            <img src="{{root}}assets/img/content/news-space-5.jpg" alt="Profile" />
        </div>
        <div class="profile-info">
            <h4 class="underline tighten">Benjamin Breen</h4>
            <div class="tags">
                <p>Assistant Professor</p>
                <p class="btn-link"><i class="fas fa-envelope"></i> bebreen@ucsc.edu</p>
            </div>
        </div>
    </a>
    <a class="profile carousel-item" href="javascript:void(0)">
        <div class="image">
            <img src="{{root}}assets/img/content/news-space-5.jpg" alt="Profile" />
        </div>
        <div class="profile-info">
            <h4 class="underline tighten">Benjamin Breen</h4>
            <div class="tags">
                <p>Assistant Professor</p>
                <p class="btn-link"><i class="fas fa-envelope"></i> bebreen@ucsc.edu</p>
            </div>
        </div>
    </a>
</div>