// stylelint-disable

/*---------------------------------- BUTTONS ------------------------------------*/

// Button (Text)
.button-text_orange {
  @include button-text($orange, $orange-hover-state);

  position: relative;
  text-decoration: none;
  @include line-detail($bottom: 0);
}

.button-text_black {
  @include button-text($black, $orange);
}

// Button (Base)
.button-hollow_orange {
  @include button-hollow($orange, $orange, $white, $orange, $orange);
}

.button-hollow_white {
  @include button-hollow($white, $white, $orange, $white, $white);
}

.button-hollow_white-orange {
  @include button-hollow($white, $orange, $navy, $orange, $orange);
}

.button-hollow_black-orange {
  @include button-hollow($black, $orange, $white, $black, $black);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $white;
  }
}

.button-solid_black {
  @include button-solid($white, $black, $white, $orange);
}

.button-solid_orange {
  @include button-solid($white, $orange, $white, $black);
}

.button-solid_navy {
  @include button-solid($white, $navy, $white, $orange);
}

.button-left-bordered_gray {
  @include button-left-bordered($black, $gray, $white, $emerald);
}

.button-skip {
  display: block;
  width: 100%;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;

  &:focus {
    height: auto;
    padding: 19px 40px 14px;
  }
}

/*-------------------------------- BUTTON GRID ----------------------------------*/

.button-grid {
  width: 100%;
  margin: -20px -12.5px 0;
  font-size: 0;

  @include breakpoint(medium) {
    width: auto;
  }
}

.button-grid_centered {
  @include breakpoint(medium) {
    margin: -20px auto 0;
  }
}

.button-grid__item {
  display: block;
  width: 100%;
  margin: 20px 12.5px 0;
  vertical-align: top;

  @include breakpoint(medium) {
    display: inline-block;
    width: auto;
  }
}
